#{set pageType = 'login' /}
#{extends 'outermain.html' /}
<div id="log_contaner" class="myform">
  <div class="log_center">
    <br/>
    <div class="log_heading">Welcome To Moffitt Cancer Center TVRH.</div>
    <br/>

    <div class="row">
      #{ifErrors}
      #{errors}
      <!-- <p class="alert alert-danger">${error}</p> -->
       <p class="alert alert-danger">
      #{if 'email' == error.key}
      ${error} <a href="@{Application.create()}">Do you want to register?</a>
      #{/if}
      #{else}
      ${error} 
      #{/else}
      </p>
      <!-- <p class="alert alert-danger">Incorrect password. <a href="@{Application.forgot()}">Would you like to reset it?</a></p> -->
      #{/errors}
      #{/ifErrors}
      #{if flash.error}
      <p class="alert alert-danger">&{flash.error}</p>
      #{/if} #{if flash.success}
      <p class="alert alert-success">&{flash.success}</p>
      #{/if}

      <div class="col-xs-12 col-sm-6 login-container" >
        <form action="@{authenticate()}" method="post" id="loginForm">
          <div class="input-group input-group-lg"> <span class="input-group-addon"><img alt="" src="/public/images/em-img.png" style="height: 14px;opacity:0.6;"></span>
            <input class="form-control" style="border-radius: 0 5px 5px 0 !important;" placeholder="Enter Email"
            name="email" type="email" id="email"
            value="${flash.email}" autofocus required
            data-match-error="Wrong email address" data-error="Enter Email Address">
            <div class="help-block with-errors"></div>
          </div>
          <br/>
          <div class="input-group input-group-lg"> <span class="input-group-addon"><img alt="" src="/public/images/lo-img.png" style="height: 20px;opacity:0.6"></span>
            <input class="form-control" style="border-radius: 0 5px 5px 0 !important;" placeholder="Enter Password"
            name="password" type="password" id="password" value="" required
            data-error="Please provide value for password">
            <div class="help-block with-errors"></div>
          </div>
          <br/>
          <p class="text-center"><button type="submit" type="button" id="signin" class="btn btn-lg btn-primary btn-block my-btn-log">Login</button></p>
          <!-- <br/> -->
          <!-- <br/> -->
          <div class="col-xs-12 col-sm-12" style="padding: 10px 0;">
            <div class="col-xs-6 col-sm-6 save_id">
              <input name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} type="checkbox">
              &nbsp;&nbsp;Save User ID </div>
              <div class="col-xs-6 col-sm-6 forget"><A href="@{Application.forgot()}">Forgot Password?</A></div>
            </div>
          </form>
        </div>
        <!-- login-container -->

        <div class="col-xs-12 col-sm-6 register-container" >
          <h3>New User?</h3>
          <p class="text-center"> <a href="@{Application.create()}" class="btn btn-primary btn-lg btn-block my-btn-register">register now</a></p>
        </div>


      </div>
      <div class="log_p">We'll guide you through your treatment journey step by step. What to expect, how to prepare, next steps, reminders, and notifications to stay on track with treatments.
      <br />
        <a href="@{Static.contact()}" class="btn btn-default btn-lg my-btn-cont contact-us">Contact Us</a>
      </div>
    </div >
  </div>
  <!--  
  	<div class="footer" >
		<p class="text-center" style="color:white;"><a href="@{Static.tos()}" style="color:white;" target="_blank">Terms of Service</a> - <a href="@{Static.privacy()}" style="color:white;" target="_blank">Privacy Policy</a> </br></br> Copyright 2014 TalkAboutHealth</p>
  </div> 
 -->
<script type="text/javascript" src="/public/js/logged-out/login.js" ></script>
<script><!--
try{
mixpanel.track("Login");
}catch(e){}
-->
</script>
