.appointments {
	label {
		padding-bottom: 0;
		font-size: @subtitle-font;
	}

	p {
		margin-bottom: 0;
		font-size: @medium-font;

		a {
			color: inherit;
		}
	}

	table {
		min-width: 960px;
		margin: @padding 0;
	}

	.past-appointments {
		margin-top: @padding*4;
	}
}