/* Anonymous element styles */
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

p{
  color:@gray;
  font-size:@body-font;
}

a {
  cursor: pointer;
}

h1 {
  font-size: @extra-large-font;
}

h2 {
  font-size: @huge-font;
}

label.block {
  display: block;
}

iframe {
  max-width: 100%;
}

#content label {
  text-transform: uppercase;

  i {
    padding-right: 5px;
    color: @gray;
  }
}

table.simple {

  td {
    border: 1px solid #CCC;
    padding: @padding;

    &:first-child {
      border-left: none;
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
    }
  }
}
