.content {
  position: relative;
  z-index: 10;
  background: #FFF;
  box-shadow: 0 0 6px #131313;
  padding-bottom: 3000px !important;
  margin-bottom: -2980px !important;
  overflow: hidden;
}

#main {
  margin-top: @header-height;
  min-height: 800px;
  overflow: hidden;
}


@media (max-width: @tablet-min) {
  #main {
    margin-top: 100px;
  }
}

/* Defines our Global styles */

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding-top: @header-height;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.body {
  position: relative;
  width: 100%;
  z-index: 0;
  color: @dark-blue;
  background: white;
}

.nav {
  width: @nav-width;
  background: @dark-gray; 
  position: fixed;
  height: 100%;
  top: @header-height;
  left: 0;
}

.content {
  background: white;
  margin-left: @nav-width;

}
