/* Defines our Application header styles */

.header {
  margin-top: -@header-height;
  height: @header-height;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: white;
  color: @dark-gray;
  box-shadow: 0 -3px 6px 0 #000000;
}

.logo {
  float: left;
  width: @nav-width;
  background: @dark-blue;
  height: 100%;

  img {
    width: @nav-width - @padding*2;
    display: block;
    margin: @padding;
  }
}

.account {
  height: 100%;
  padding-left: @nav-width;

  .account-container {
    height: 100%;
    text-align: center;
    position: relative;

    > div {
      height: 100%;
    }
  }


  .account-info {
    position: absolute;
    left: 0;
    text-align: left;
    z-index: 1;
    background: white;

    .account-image {
      width: @account-image-size;
      height: @header-height - @padding*2;
      float: left;
      padding-right: @padding;
      border-right: 1px solid #e4e4e4;
      margin: @padding;
      padding-top: ((@header-height - @padding*2) - @account-image-size) / 2;

      img {
        width: 100%;
      }
    }

    .account-data {
      padding: @padding 0;
      float: left;
    }

    h3 {
      font-size: @large-font;

    }
    h4 {
      text-transform: uppercase;
      font-size: @subtitle-font;
      margin: 0;
    }

    .today-date {
      opacity: 0.5;
      margin: 0;
      font-style: italic;
      font-size: @tiny-font;
    }

    .last-login {
      text-transform: uppercase;
      white-space: nowrap;
      font-size: @tiny-font;
    }
  }

  .account-share {
    background: white;
    display: inline-block;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: @padding;
    text-transform: uppercase;

    label {
      display: block;
      border-top: 1px solid #d4d4d4;
      font-size: 13px;
      padding-top: 5px;
      margin: 0;
    }
  }

  .emergency {
    border: 1px solid #888e94;
    border-radius: 25px;
    display: inline-block;
    padding: 6px 10px;

  }

  .account-actions {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    background: white;
    padding: @padding;

    > ul {
      padding-right: @padding;
      height: 100%;
      > li {
        position: relative;
        list-style: none;
        margin: 0 @padding 0 0;
        float: left;
        display: block;
        height: 100%;
        width: @font-awesome-size;

        > a {
          position: absolute;
          top: 50%;
          left: 0;
          font-size: @font-awesome-size;
          color: @gray;
          .transition-duration(0.2s);

          &:hover {
            color: @blue;
          }

          > i {
            position: relative;
            margin-top: -50%;
          }
        }
      }
    }
  }
}

/* I don't know if this is a global style or not. */
.button {
  font-size: @header-button-font;
  border: 1px solid #6092c1;
  padding: 6px 10px;
  white-space: nowrap;
  display: inline-block;
  margin-top: 5px;
  .transition-duration(0.2s);

  &:hover {
    background: #EEE;
    text-decoration: none;
  }

  &.rounded {
    border-radius: 5px;
  }
}

