/* Layout Styles */
.wrapper {
  padding-top: @header-height;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.body {
  position: relative;
  width: 100%;
  z-index: 0;
  color: @dark-blue;
  background: white;
  min-height: 100%;
}

.page {
  padding: 20px;

  .row{
    border-bottom: 1px solid @section-border;
    padding-bottom: @padding;
    margin-bottom: @padding;

    h1 {
      margin: 0;
    }
  }

  label {
    padding-bottom: @label-bottom-padding;
  }
}

// header style definition lives in application/header.less

/*
ugh. we have to wrap this in a selector to avoid conflicting
with the similarly named .nav on the login file (whose file
is stored in the play directory, so we can't change it).

the below wrapper is a nasty hack until we can update that.
*/
.sidebar {
  width: @nav-width;
  background: @dark-gray;
  position: fixed;
  height: 100%;
  top: @header-height;
  left: 0;
}

.content {
  background: white;
  margin-left: @nav-width;
  overflow: auto;
  padding: @padding;
}