.header {
  padding: 13px 0px;
  height: 124px; /* Would like to remove this */
}

.top-panel {
  background: #fff;
  position:fixed absolute;
  box-shadow: 0 -3px 6px 0 #000;
}

.logo-div {
  margin-top: 15px;
  img {
    max-width: 100%;
  }
}

.profilePic {
  height: 50px;
  float: left;
  padding-right: 10px;
  border-right: 1px solid #e4e4e4;
  margin-right: 25px;

  img {
    height: 100%;
  }
}

.profileInfo {

}

@media (min-width:768px) {
  .show-sidebar {
    display: none;
  }
}

