div.wrapper {
    display: none;
}

div.print-section {
    display: block;
}

div.print-section h1 {
	margin: 20px auto;
	padding: 0;
}

div.print-section .para {
	margin-top: 30px;
}

div.print-secton .fa {
	clear: both;
	padding: 5px auto;
}

.print-cover-page,
.print-diagnosis,
.print-treatment-plan,
.print-care-plan {	
	clear: both;
	display: block;
	text-align: left;
	page-break-after: always;
}




