div.wrapper {
    display: none;
}

div.print-section {
    display: block;
}

div.print-section h1 {
	margin: 15px auto;
	padding: 0;
}

div.print-section h3 {
	margin: 10px auto;
	padding: 0;
}

div.print-section .line {
	width: 100%;
	height: 1px;
	margin: 5px auto;
	border-top: 1px solid #ccc;
	
}

div.print-section .double-line {
	width: 100%;
	height: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 5px;
}

div.print-section .para {
	margin-top: 20px;
}

div.print-section .line {
	margin-top: 15px;
}

div.print-secton .fa {
	clear: both;
	padding: 5px auto;
}

.print-summary {
	display: block;	
	background-color: #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
	page-break-before:always;	
}

.print-cover-page,
.print-diagnosis,
.print-treatment-plan,
.print-care-plan,
.print-care-team,
.print-appointments,
.print-medications,
.print-distress-data {		
	display: block;
	margin: 10px;
	text-align: left;	
	clear:both;
}



