
/*******************************login page***********************************/

*{font-family: 'gotham_bookregular';}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('/public/fonts/f1/ufonts.com_gotham_book-webfont.eot');
    src: url('/public/fonts/f1/ufonts.com_gotham_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/f1/ufonts.com_gotham_book-webfont.woff') format('woff'),
         url('/public/fonts/f1/ufonts.com_gotham_book-webfont.ttf') format('truetype'),
         url('/public/fonts/f1/ufonts.com_gotham_book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
   background:none no-repeat center #004261;
    color: #FFF;
}


.myform .input-group{margin-bottom:10px;}
.my-btn{font-size:18px; height:40px; padding:0 20px;}
.breadcrumb{position:relative; top:19px;}
.my_nav {float:right}
.my_nav .navbar{position:static; }
.my_nav .navbar-brand{padding:0; display:none}
.my_nav .navbar-default{border:none; box-shadow:none; background:none}
.my_nav .navbar{margin:15px 0 0 0; min-height:inherit}
.my_nav .nav > li > a{padding:5px 10px; background:none; font-family:Arial, Helvetica, sans-serif; font-size:13px; text-transform:uppercase; font-family:'OswaldBook',Arial, Helvetica, sans-serif; outline:none; color:#fff}
.my_nav .navbar-default .navbar-nav > .active > a,.my_nav .nav > li > a:hover{color:#ff5700; box-shadow:none; background:none}
.my-btn-log{background:#77c7ea; height:50px; font-size:25px; box-shadow:0 3px 5px rgba(0,0,0,.5); text-transform:uppercase;  font-weight: bold;}
.my-btn-register{background:#246297;  font-size: 25px;
    font-weight: bold;
    height: 50px;

    box-shadow:0 3px 5px rgba(0,0,0,.5); text-transform:uppercase;}
.my-btn-cont{background:none; border:2px solid #8baab8;font-size: 13px;padding: 2px 15px !important;}
.btn-lg{padding:5px 15px;text-shadow: 2px 2px 2px #333;}
.myform .input-group-addon{background:#fff}
.line-or{background:url(../images/line-or.png) repeat-x center; padding:25px 0 }
.line-or span{padding:0 10px; display:table; margin:0 auto; background:url(../images/or-i-bg.png) repeat; font-size:25px; color:#8baab8;}


/***************************************login first page**************************************/

#log_contaner_02{ width:98%; margin:0 auto; background:#f2f0f3; padding:12px;}
#log_contaner_02
.input-text{ width:100%;}

#log_contaner_03{ width:98%; margin:0 auto; background:#f2f0f3; padding:12px 12px 1px 12px;}
#log_contaner_03
.input-text{ width:100%;}

/***************************************login second page****************************************/

.page_second{}
.form-control_02{font-size:20px; height:30px; width:100%; line-height:30px; background-color:#d8d8d8; color:#006ea1; text-align:justify;}
.input-text_01{ width:100%; height:35px; padding:0px 5px;}
.myform .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn{
	font-size: 20px;
	height: 50px;
	padding: 0px 16px;

}

.text_p_01{ font-size:19px;}
.text_p_01 b{ color:#006ea1;}

/***************************************login third page****************************************/

.chek_b_02{ color:#006ea1; font-size:20px; font-weight:bold; text-align:center;}
.text_p_02{ font-size:19px; text-align:center;}
.text_p_02 b{ color:#006ea1;}
.btn_03{ text-align:center;}
.text_p_03{ font-size:18px; text-align:justify;}


/***************************************completed page****************************************/

.complete{}
.complete_head{ font-size:50px; color:#006ea1; text-align:center; font-weight:bold;}
.thank_01{ text-align:center; color:#666; font-size:20px;}
.thank_02{ text-align:center; color:#666;}
.thank_02 b{ text-align:center; color:#006ea1; font-size:20px;}
.thank_03{ text-align:center; color:#666; font-size:20px;}
.thank_03 b{ text-align:center; color:#006ea1;}

.acord_02{}
.acord_02 span{ color:#00509b; font-weight:bold; border-left:3px solid #00509b; padding-left:10px; }
.acord_02 i{ color:#00509b;}
.acord_02 h3{ color:#00509b; }

.box-name_02{
  padding-left: 15px;
  line-height: 45px;
}
.box-header{ height:45px;}
.drop_r_hd{float:left; color:#60aa33; line-height:45px; font-weight:bold;}
.drop_r{ line-height:45px !important; height:45px; font-size:28px; margin:0px 10px 0px 10px; color:#60aa33;}
.drop_r i{ color:#60aa33;}

/**************************************************************/



@media (max-width: 767px) {
	.my_nav .navbar{margin:0}
.my_nav .navbar-header{position: absolute;
top: -70px;
right: 20px;}
.log_p{text-align:center}
	.save_id{text-align:center}
	.forget,.forget a{ float:none !important; text-align:center;}
	.breadcrumb{position:static; }
	.log_header{height:auto !important; float:left; width:100%;  }

.my_nav{float:none !important}


}

@media (max-width: 620px) {
#log_contaner{width:90% !important;}
}
@media (max-width:450px) {
.log_header img{width:78%}
.my_nav .navbar-header{
top: -55px; right:5px;}
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.nomargin {
   margin: 0 !important;
}
.headding{float: left; width: 100%; border-bottom: 1px solid #FFF; padding-bottom: 2px; margin: 10px 0 5px 0;}
.headding h4 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
}
label{font-weight:normal;}
