/* CSS included files */
@import (css) "/public/plugins/jquery-ui/jquery-ui.min.css";
@import (css) "/public/plugins/bootstrap/bootstrap.css";
@import (css) "/public/css/fonts/font-awesome.css";
@import (css) "/public/css/fonts/righteous.css";
@import (css) "/public/plugins/fancybox/jquery.fancybox.css";
@import (css) "/public/plugins/fullcalendar/fullcalendar.css";
@import (css) "/public/plugins/xcharts/xcharts.min.css";
@import (css) "/public/plugins/select2/select2.css";
@import (css) "/public/css/css/style.css";
@import (css) "/public/css/css/screen.css";

/* Import LESS helpers and libraries */
@import "helpers/mixins.less";
@import "helpers/constants.less";

/* Import LESS files */
@import "application/header.less";
@import "application/global.less";
@import "application/page.less";

/* Page Specific LESS files */
@import "patients/styles.less";
@import "medications.less";

body {
  color: #00509b;
  background: white;
}
.body-expanded, .modal-open {
  overflow-y:hidden;
  margin-right: 15px;
}
.body-expanded .expanded-panel, .fancybox-margin .expanded-panel, .modal-open .expanded-panel {
  margin-right: 15px;
}
.body-screensaver {
  overflow: hidden;
}
