#{set pageType = 'careteam' /}
#{extends 'adminmain.html' /}
<style>
.typeahead {
    border-radius: 4px;
    margin-top: 2px;
    z-index: 2001;
}
</style>
<div id="content" class="col-xs-12 col-sm-10">
<!-- 	<div class="row"> -->
		<div id="breadcrumb" class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="@{Admin.index()}">Home</a></li>
			<li><a href="@{Admin.careTeam()}">Care Team</a></li>
			<li><a href="javaScript:void(0);">${careTeam.name} CARE TEAM</a></li>
		</ol>
<!-- 		</div> -->
	</div>
        <div class="col-xs-12 col-sm-12">
				<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover table-heading no-border-bottom">
					<thead>
		  			<tr>
		  				<th>User Name</th>
						<th>Primary</th>
						<th>-</th>
						<th>-</th>
		  			</tr>
		  			</thead>
		  			<tbody>
		  			#{set cssClass = '' /}
		  			#{if memberList != null}
						#{list memberList, as:'seq'}
							#{set cssClass = '' /}
							<tr ${cssClass}>
					  			<td><a href="#" >#{userName userName: seq.member.name, userId:seq.member.id /}</a></td>
					  			<td>#{if seq.primary}
					  			Primary
					  			#{/if}
					  			</td>
					  			<td><a href="javascript:removeMember('${seq.careteamid}','${seq.memberid}')" >Remove</a></td>
					  			<td><a href="javascript:makePrimary('${seq.careteamid}','${seq.memberid}')" >Make Primary</a></td>
					  		</tr>
						#{/list}
					#{/if}
		  			#{else}
						<tr class="active">
							<td colspan="5">No Row</td>		
		  				</tr>
		  			#{/else}
		  				<tr class="active">
							<td colspan="5">
								<span style="float:right;">
		  						<a class="btn btn-default-small" href="javaScript:addNew()">Add</a>
		  						</span>
							</td>		
		  				</tr>
		  			</tbody>
				</table>
				</div>
          </div>
        </div><!-- /.row -->
<div id="ajax-content"></div>

<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-m">
   #{form @Admin.editCareTeamOperation() , id:'distressForm' }
   	<input type="hidden" name="careTeamId" value="${careTeam.id}" />
   	<input type="hidden" name="operation" value="addMember" />
    <div class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Care Member</h4>
      </div>
        <div class="modal-body col-sm-12" style="float:left;display:block;  padding-top: 50px;">
        	<div class="form-group form-group-sm">
                <label class="col-xs-3 control-label" for="nameid" style="padding-top:7px; text-align: right;">User Name</label>
                <div class="col-xs-9">
                    <input class="form-control" type="text" id="nameid" name="memberName" autocomplete="off" required data-provide="typeahead"/>
               </div>
			</div>
		</div>
     <div class="modal-footer col-xs-12 col-sm-12" >
       <button type="submit" class="btn btn-default" data-next="3">&nbsp;&nbsp;&nbsp;&nbsp; SUBMIT &nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>
      #{/form}
</div>
</div></div>
<script src="/public/js/typeahead.bundle.min.js"></script>
<script type="text/javascript">
<!---->
var countries  = null;
var typ = null;
$(document).ready(function() {
	$('#distressForm').validator();
	$.ajax({ type: 'POST', url: '/admin/getExpertList',
		success:function(data){
			$('#nameid').typeahead({
				source: data,
				minLength: 0,
				updater: function(item) {
                	return item;
            	}
			});
		}
	},'json').always(function() {
		setTimeout(function(){removeAjaxPanel();}, 2000);
	});
});

removeMember = function(teamid,memberid) {
	$.ajax({
		  type: 'POST',
		  url: '/admin/editCareTeamOperation',
		  data: { 'operation':'removeMember','careTeamId': teamid , 'memberid':memberid},
		  beforeSend:function(){
		    $('#ajax-panel').show();
		    $('#ajax-panel').html('Loading... <i class="fa fa-spinner fa-spin"></i>');
		  },
		  success:function(data){
			  location.reload();
		  },
		  error:function(){
		    $('#ajax-panel').html('<strong>Oops!</strong> Try that again in a few moments.');
		   
		  }
	}).always(function() {
		setTimeout(function(){removeAjaxPanel();}, 2000);
	});
}

makePrimary = function(teamid,memberid) {
	$.ajax({
		  type: 'POST',
		  url: '/admin/editCareTeamOperation',
		  data: { 'operation':'makeprimary','careTeamId': teamid , 'memberid':memberid},
		  beforeSend:function(){
		    $('#ajax-panel').show();
		    $('#ajax-panel').html('Loading... <i class="fa fa-spinner fa-spin"></i>');
		  },
		  success:function(data){
			  location.reload();
		  },
		  error:function(){
		    $('#ajax-panel').html('<strong>Oops!</strong> Try that again in a few moments.');
		   
		  }
	}).always(function() {
		setTimeout(function(){removeAjaxPanel();}, 2000);
	});
}
removeAjaxPanel = function() {
	$('#ajax-panel').fadeOut("fast", function() {
		$('#ajax-panel').empty();
	});
}
addNew = function() {
	$("#dialog").modal({ keyboard: false });
}

</script>