#{set pageType = 'dashboard' /}
#{extends 'adminmain.html' /}
	<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
<!-- 	<div class="row"> -->
		<div id="breadcrumb" class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Dashboard</a></li>
		</ol>
		</div>
<!-- 	</div> -->
	<div class="col-xs-12 col-sm-12">
			Welcome on Admin dashboard
	</div>
	<div class="col-xs-12 col-sm-12">
		<br/><br/>
		<a href="javaScript:migrate();">Migrate patient care team</a>
	</div>
	<div class="col-xs-12 col-sm-12">
		<br/><br/>	
			<a href="javaScript:createInvitedAccounts();">Create Invited account</a>
	</div>
	<div class="col-xs-12 col-sm-12">
		<br/><br/>	
			<a href="javaScript:migrateData('contact');">Migrate the Contact methods</a>
	</div>
</div>
<script>
migrate = function() {
	$.ajax({ type: 'POST', url: '/admin/correctCareTeamData',
		data  : {},
		success:function(data){
			alert(data);
		}
	});
}
createInvitedAccounts = function() {
	$.ajax({ type: 'POST', url: '/admin/createInvitedAccounts',
		data  : {},
		success:function(data){
			alert("[" + data.code + "] " + data.message);
		}
	},"json");
}
migrateData = function(type) {
	$.ajax({ type: 'POST', data:{'type':type }, url: '/admin/migrateData',
		success:function(data){
			alert("[" + data.code + "] " + data.message);
		}
	},"json");
} 
</script>