#{set pageType = 'dashboard' /}
#{extends 'adminmain.html' /}
	<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
<!-- 	<div class="row"> -->
		<div id="breadcrumb" class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Dashboard</a></li>
		</ol>
		</div>
<!-- 	</div> -->
	<div class="col-xs-12 col-sm-12">
			Welcome on Admin dashboard
			<a href="javaScript:migrate();">Migrate patient care team</a>
	</div>
</div>
<script>
migrate = function() {
	$.ajax({ type: 'POST', url: '/admin/correctCareTeamData',
		data  : {},
		success:function(data){
			alert(data);
		}
	});
}
</script>