#{extends 'CarePatien/patientSummary.html' /}
<div class="col-xs-12 col-sm-12 nopadding">
	<button class="btn btn-default btn-sm appointmentBtn" style="font-weight:bold;">+ New Appointment</button>
	<br/><br/>
	#{if list != null && list.size()>0}
		#{list list, as:'seq'}
			<div class="col-xs-12 col-sm-12 nopadding nav-tabs">
				<div class="col-sm-5" style="padding-top: 10px;border-right: 1px solid #CCC">
				<p>${seq.appointmentdate.format('EEEE MMMM dd yyyy')}<br/> <!-- THURSDAY MAY 10TH 2014 -->
				${seq.appointmenttime} <a href="javaScript:operationAppointment('edit','${seq.id}')">${seq.purpose}</a></p>
				</div>
				<div class="col-sm-5" style="padding-top: 10px;">
				<p>#{userName userName: seq.caremember.name, userId:seq.caremember.id /}<br/>
				${seq.appointmentcenter}</p>
				</div>
			</div>
		#{/list}
	#{/if}
	#{else}
		<div class="col-xs-12 col-sm-12 nav-tabs">No appointment added.</div>
	#{/else}
</div>
<div class="col-xs-12 col-sm-12"  style="padding:30px 0px 0px 0px">
	#{if expList != null && expList.size()>0}
	<h2>Past Appointment</h2>
	#{list expList, as:'seq'}
			<div class="col-xs-12 col-sm-12 nopadding nav-tabs">
				<div class="col-sm-5" style="padding-top: 10px;border-right: 1px solid #CCC">
				<p>${seq.appointmentdate.format('EEEE MMMM dd yyyy')}<br/> <!-- THURSDAY MAY 10TH 2014 -->
				${seq.appointmenttime} <a href="javaScript:operationAppointment('edit','${seq.id}')">${seq.purpose}</a></p>
				</div>
				<div class="col-sm-5" style="padding-top: 10px;">
				<p>#{userName userName: seq.caremember.name, userId:seq.caremember.id /}<br/>
				${seq.appointmentcenter}</p>
				</div>
			</div>
		#{/list}
	#{/if}
</div>
