#{extends 'CarePatien/patientSummary.html' /}
<div class="appointments">
	<button class="btn btn-default btn-sm appointmentBtn">+ New Appointment</button>

	#{if list != null && list.size()>0}
	<table class="simple">
		<tbody>
			#{list list, as:'seq'}
			<tr>
				<td>
					<label>${seq.appointmentdate.format('EEEE MMMM dd yyyy')}</label>
					<p>${seq.appointmenttime} - <a href="javaScript:operationAppointment('edit','${seq.id}')">${seq.purpose}</a></p>
				</td>
				<td>
					<p>#{userName userName: seq.caremember.name, userId:seq.caremember.id /}</p>
					<p>${seq.appointmentcenter}</p>
				</td>
			</tr>
			#{/list}
		</tbody>
	</table>
	#{/if}
	#{else}
	<div class="col-xs-12 col-sm-12 nav-tabs">No appointment added.</div>
	#{/else}


	#{if expList != null && expList.size()>0}
	<div class="past-appointments">
		<h3>Past Appointments</h3>
		<table class="simple">
			<tbody>
				#{list expList, as:'seq'}
				<tr>
					<td>
						<label>${seq.appointmentdate.format('EEEE MMMM dd yyyy')}</label>
						<p>${seq.appointmenttime} - <a href="javaScript:operationAppointment('edit','${seq.id}')">${seq.purpose}</a></p>
					</td>
					<td>
						<p>#{userName userName: seq.caremember.name, userId:seq.caremember.id /}</p>
						<p>${seq.appointmentcenter}</p>
					</td>
				</tr>
				#{/list}
				</tbody>
		</table>
	</div><!-- past-appointments -->
	#{/if}
</div><!-- appointments -->