#{include '/tags/patientSummary.html' /}

<div class="col-xs-12 col-sm-12 nopadding">
	<button class="btn btn-default btn-sm careTeamBtn" style="font-weight:bold;">+ ADD NEW CARE TEAM</button>
	<br/><br/>
    	#{if careTeams != null && careTeams.size()>0}
    	 <div class="col-xs-12" id="careTeamList">
    		#{list careTeams, as:'seq'}
	        	<h3 class="user_first" data-teamid="${seq.careteamid}" ><i class="fa fa-table"></i> ${seq.careteam.name} CARE TEAM

	        	<span><button class="btn btn-default btn-sm careTeamMemberBtn" style="font-weight: bold; font-size: 10px;">+ ADD NEW CARE TEAM MEMBER</button></span>
	        	</h3>
	        	
	        	<div>
	        		Loading...
	        	</div>
			#{/list}
				</div>
    	#{/if}
    	#{else}
			<div class="row">
				<div class="col-sm-8">
					No Data found
				</div>
			</div>
		#{/else}
</div>
<script>
<!--
$(document).ready(function() {
	
	$('button.careTeamMemberBtn').click(function(event) {
		event.stopPropagation();
		event.preventDefault();
		operationCareTeamMember('add');
	});

	var icons = {header: "ui-accordion-header-icon1 ui-icon-triangle-1-e",activeHeader: "ui-accordion-header-icon1 ui-icon-triangle-1-s"};
	$("#careTeamList").accordion({collapsible:true,heightStyle: "content" ,icons: icons,
		beforeActivate: function(event, ui) {
           if (ui.newHeader[0]) {
               var currHeader  = ui.newHeader;
               var currContent = currHeader.next('.ui-accordion-content');
           } else {
               var currHeader  = ui.oldHeader;
               var currContent = currHeader.next('.ui-accordion-content');
           }
           var isPanelSelected = currHeader.attr('aria-selected') == 'true';

           currHeader.toggleClass('accordion-header-active ui-corner-top',!isPanelSelected).attr('aria-selected',((!isPanelSelected).toString()));
           currHeader.children('.ui-icon').toggleClass('ui-icon-triangle-1-e',isPanelSelected).toggleClass('ui-icon-triangle-1-s',!isPanelSelected);
           currContent.toggleClass('accordion-content-active',!isPanelSelected)

			if (isPanelSelected) {
        	   	currContent.slideUp(); 
			} else {
               var teamId = $(currHeader).data('teamid');
        	   currContent.slideDown();
        	   $(currContent ).html('loading');
        	   $.post( "/CarePatien/careteamSpecific", {d:new Date(),careTeamId:teamId}, function( data ) {
            	   $(currContent ).html( data );
            	 });
			}
			return false; // Cancels the default action
       },
       create: function( event, ui ) {
		if (ui.header[0]) {
			var currHeader  = ui.header[0];
			var currContent = ui.content[0];
			var teamId = $(currHeader).data('teamid');
			$(currContent ).html('loading');
			$.post( "/CarePatien/careteamSpecific", {d:new Date(),careTeamId:teamId}, function( data ) {
           	   $(currContent ).html( data );
			});
		}
// 		expandAll();
       }
	});
});
function expandAll() {
	h3List = $('#careTeamList h3');
	for(j = 0;j<h3List.length;j++) {
		getTeamDetails( $(h3List[j]));
	}
    $('#careTeamList h3').removeClass('ui-state-default').removeClass('ui-state-active').removeClass('ui-corner-all').attr('aria-expanded', 'true').attr('aria-selected', 'true').attr('tabIndex', 0)
	.find('span.ui-icon').removeClass('ui-icon-triangle-1-e').addClass('ui-icon-triangle-1-s').closest('h3').next('div').show();
}
getTeamDetails = function(elm) {
	var teamId = $(elm).data('teamid');
	$.post( "/CarePatien/careteamSpecific", {d:new Date(),careTeamId:teamId}, function( data ) {
	 	$(elm).next('div').html( data );
	});
}
-->
</script>