<div class="col-xs-12 col-sm-12 nopadding">
              <div class="col-sm-6 margin" style="  border-right: 1px solid #F7F7F7;">
                <div class="col-sm-12">
               <div class="product_tr">
               <p><i class="fa fa-file-text-o"></i> Stage Information &nbsp; &nbsp;<a class="btn btn-danger-small" href="javaScript:void('edit')">EDIT STAGE</a></p>
                <h2>Stage III</h2> 
                <div class="product_head"><b>Breast Cancer</b> | Stage III, Diagnoses 4/11/2014</div>
                <div class="product_title"><b>T Stage (Tumore Size):</b>T4</div>
                <div class="product_title"><b>N Stage (Asillery Lymphnodes):</b>N3</div>
                <div class="product_title"><b>M Stage (Metastasis):</b>G4</div>
                <div class="product_title"><b>Grade:</b>G4</div>
                <div class="product_title"><b>Location:</b>Lungs</div>
               </div>
               <div class="bottom_hr"></div>
               </div>
                <div class="col-sm-12">
               <div class="product_tr">
               <p><i class="fa fa-user"></i> PATIENT INFORMATION &nbsp; &nbsp;<a class="btn btn-danger-small" href="javaScript:void('edit')">EDIT INFO</a></p>
                <div class="product_title02"><b>Date of Diagnosis:</b>01/01/2012</div>
                <div class="product_title02"><b>Support Contact:</b>Jorun jones - 352.750.4227</div>
                <div class="product_title02"><b>DOB:</b>05/20/1975</div>
                <div class="product_title02"><b>Phone:</b>917.710.1927</div>
                <div class="product_title02"><b>Location:</b>Lungs</div><br>
                <div class="product_title02"><b>Height:</b>69 in, | <span>Last Menstrual Period:</span> 04/15/2014</div><br>
				<table class="table table-bordered">
					<thead>
						<tr>
							
							<th></th>
							<th>PRE-TREATMENT</th>
							<th>CURRENT</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							
							<td>WEIGHT</td>
							<td>145/bs</td>
							<td>20.5</td>
						</tr>
						<tr>
							
							<td>BMI</td>
							<td>135/bs</td>
							<td>18.7</td>
						</tr>
						
					</tbody>
				</table>
                 <div class="note">Comments:Die to size of tumor in breast and painful,
                       matted nodes under arm,neoadjuvant selected</div>
                </div>
                 <div class="bottom_hr"></div>
                </div>
              </div>
              
              
              <div class="col-sm-6 line-right margin">
                
                <div class="col-sm-12">
               <div class="product_tr">
               <p> <i class="fa fa-file-text-o"></i> CANCER TYPE INFORMATION &nbsp; &nbsp;<a class="btn btn-danger-small" href="javaScript:operationCancer('edit')">EDIT TYPE</a></p>
                <h2>Er+, Pr+, HER2-</h2>
                <div class="product_title"><b>Type:</b>Invasive Ductal Carcinoma</div>
                <div class="product_title"><b>Recurrence:</b>Yes</div>
                <div class="product_title"><b>Recurrence Date:</b>04.01.2014</div>
                <div class="product_title"><b>Symptoms:</b>Had annual mammogram in april 2011 which showed cyst only.found lump 

under arm in August</div>
               </div>
               <div class="bottom_hr"></div>
               </div>
               
                <div class="col-sm-12">
               <div class="product_tr">
               <p><i class="fa fa-users"></i> FAMILY HISTORY &amp; GENETICS &nbsp; &nbsp;<a class="btn btn-danger-small" href="javaScript:void('edit')">EDIT HISTORY</a></p>
                <h2>BRCA+</h2>
                <div class="product_title"><b>Family History:</b>(Y)Mother/Sister</div>
               </div>
               <div class="bottom_hr"></div>
               </div>
               
                <div class="col-sm-12">
               <div class="product_tr">
               <p> <i class="fa fa-file-text"></i> ADDITIONAL INFORMATION/CONCERNS</p>
                <div class="product_title02"><b>Concerns:</b>Congestive heart failure</div>
                <div class="product_title02"><b>Echocardiogram:</b>EF = 82%</div>
                <div class="product_title02"><b>MUGA:</b>N/A</div>
                <div class="product_title02"><b>Assitional Comments:</b>N/A</div>
               </div>
               </div>
                
              </div>
</div>