#{extends 'CarePatien/patientSummary.html' /}

<div class="diagnosis">
  <button type="button" class="btn btn-primary edit-info" patient_id="${patientId}" onclick="careTeamController.evtMsgHandler('diagnosis', this);">EDIT INFO</button>

  #{if patientDetails && patientDetails.diseaseId && patientDetails.disease}
  <div class="row">
    <div class="col-sm-12">
     <label><i class="fa fa-file-text-o"></i> Diagnosis</label>


     <h1>${patientDetails.disease.name} |</h1>
     #{if patientDetails.dateofdiagnosis}
     <p class="first-diagnosed">First Diagnosed: ${patientDetails.dateofdiagnosis.format('MM/dd/yyyy')}</p>
     #{/if}
   </div>
 </div><!-- row -->
 #{/if}

 #{if patientDetails != null && breastCancerInfo != null && patientDetails.diseaseId == breastCancerId}
 #{if breastCancerInfo.er || breastCancerInfo.pr || breastCancerInfo.her2}
 <div class="row">
  <div class="col-sm-12">
   <label><i class="fa fa-file-text-o"></i> Cancer Type Information</label>
   <h1>
     #{if breastCancerInfo.er}
     Er${breastCancerInfo.er}
     #{/if}
     #{if breastCancerInfo.er && breastCancerInfo.pr}
     , Pr${breastCancerInfo.pr}
     #{/if}
     #{elseif breastCancerInfo.pr}
     Pr${breastCancerInfo.pr}
     #{/elseif}
     #{if (breastCancerInfo.er || breastCancerInfo.pr) && breastCancerInfo.her2}
     , HER2${breastCancerInfo.her2}
     #{/if}
     #{elseif breastCancerInfo.her2}
     HER2${breastCancerInfo.her2}
     #{/elseif}

   </h1>
 </div>
</div><!-- row -->
#{/if}

#{if breastCancerInfo.bcStage}
<div class="row">
  <div class="col-sm-12">
   <label><i class="fa fa-file-text-o"></i> Stage Information</label>
   <h1>${breastCancerInfo.bcStage.name}</h1>
 </div>
</div><!-- row -->
#{/if}

#{if breastCancerInfo.brca}
<div class="row">
  <div class="col-sm-12">
   <label><i class="fa fa-file-text-o"></i> Family History & Genetics</label>
   <h1>BRCA${breastCancerInfo.brca}</h1>
 </div>
</div><!-- row -->
#{/if}

#{/if}



#{if (patientDetails && (patientDetails.dateofdiagnosis || patientDetails.ec1name || patientDetails.ec1number)) || (userDetails && (userDetails.dob || userDetails.homePhone))}
<div class="row">
  <div class="col-sm-12 patient-information">

    <label><i class="fa fa-file-text-o"></i> Patient Information</label>
    #{if patientDetails && patientDetails.dateofdiagnosis}
    <p><span>Date of Diagnosis:</span> ${patientDetails.dateofdiagnosis.format('MM/dd/yyyy')}</p>
    #{/if}
    #{if patientDetails && (patientDetails.ec1name || patientDetails.ec1number)}
    <p><span>Support Contact:</span>
      #{if patientDetails.ec1name && patientDetails.ec1number}
      ${patientDetails.ec1name} - ${patientDetails.ec1number}
      #{/if}
      #{elseif patientDetails.ec1name}
      ${patientDetails.ec1name}
      #{/elseif}
      #{else}
      ${patientDetails.ec1number}
      #{/else}
    </p>
    #{/if}
    #{if userDetails.dob}
    <p><span>DOB:</span> ${userDetails.dob.format('MM/dd/yyyy')}</p>
    #{/if}
    #{if userDetails.homePhone}
    <p><span>Phone:</span> ${userDetails.homePhone}</p>
    #{/if}
  </div>
</div><!-- row -->
#{/if}