#{include '/tags/patientSummary.html' /}
<div class="container-fluid treatment-plan">
    <div class="title">
        <h3>Follow-Up Care</h3>
        <button type="button" class="btn btn-default" patient_id="${patientId}" form_type="new" onclick="careTeamController.evtMsgHandler('fup_careitem_form', this);">+ Add Follow-Up Care Item</button>
        #{if isTemplate}
        &nbsp;&nbsp;&nbsp;<a form_type="add" patient_id="${patientId}" onclick="careTeamController.evtMsgHandler('fup_careitem_template_form', this);" class="careItemTemplateLink">Use Template</a>
        #{/if}
    </div>
	<table class="table table-bordered table-striped table-condensed table-hover table-fixed">
        <tr>
            <th>ACTIVITY</th>
            <th>FREQUENCY</th>
            <th>END-DATE</th>
            <th>PURPOSE</th>
            <th>DOCTOR</th>
        </tr>
		#{if careItems}
			#{list items:careItems, as:'ci'}
	        <tr>
	            <td>
	            	<a form_type="edit" patient_id="${ci.userId}" care_item_id="${ci.id}" onclick="careTeamController.evtMsgHandler('fup_careitem_form', this);">${ci.activity}</a>
					#{if ci.infoText != null && ci.infoText != ''} 
						<i data-type="${ci.tipType}" data-title="${ci.infoText}" class="fa fa-info-circle infomarker"></i>
					#{/if}
				</td>
				<td>#{if ci.frequency} ${ci.frequency} #{/if}</td>
				<td>#{if ci.endDate} ${ci.endDate.format('MM/dd/yyyy')} #{/if}#{if ci.ongoing}Ongoing#{/if}</td>
				<td><div>#{if ci.purpose} ${ci.purpose.printMessage()} #{/if}</div></td>
				<td>#{if ci.doctor} ${ci.doctor} #{/if}</td>
			</tr>
			#{/list}
		#{/if}
		#{else}
			<tr><td colspan="5" style="text-align:center;">No record found</td></tr>
		#{/else}
    </table>
    <div class="title">
        <h3>Needs / Concerns</h3>
        <button type="button" class="btn btn-default" patient_id="${patientId}" form_type="new" onclick="careTeamController.evtMsgHandler('fup_concern_form', this);">+ Add Need</button>
    </div>
    <table class="table table-bordered table-striped table-condensed table-hover table-fixed">
        <tr>
            <th>CONCERN</th>
		    <th>ACTION PLAN</th>
			<th>DATE OF CONCERN</th>
			<th>UPDATES</th>
        </tr>
		#{if concerns}
	        #{list items:concerns, as:'concern'}
		        <tr>
		            <td><a form_type="edit" patient_id="${concern.userId}" concern_id="${concern.id}" onclick="careTeamController.evtMsgHandler('fup_concern_form', this);">${concern.concern}</a>
		            #{if concern.infoText != null &&  concern.infoText != ''} 
						<i data-type="${concern.tipType}"  data-title="${concern.infoText}" class="fa fa-info-circle infomarker"></i>
					#{/if}
		            </td>
            <td><div>#{if concern.nextStep} ${concern.nextStep.printMessage()} #{/if}</div></td>
		            <td>#{if concern.concernDate} ${concern.concernDate.format('MM/dd/yyyy')} #{/if}</td>
            <td><div>#{if concern.notes} ${concern.notes} #{/if}</div></td>
		        </tr>
	        #{/list}
        #{/if}
		#{else}
			<tr><td colspan="4" style="text-align:center;">No record found</td></tr>
		#{/else}
    </table>
    <div class="title">
        <h3>Goals</h3>
        <button type="button" class="btn btn-default" patient_id="${patientId}" form_type="new" onclick="careTeamController.evtMsgHandler('fup_goal_form', this);">+ Add Goal</button>
    </div>
    <table class="table table-bordered table-striped table-condensed table-hover table-fixed">
        <tr>
            <th>GOAL</th>
            <th>ACTION PLAN</th>
            <th>GOAL START DATE</th>
            <th>UPDATES</th>
        </tr>
		#{if goals}
	        #{list items:goals, as:'goal'}
		        <tr>
		            <td><a form_type="edit" patient_id="${goal.userId}" goal_id="${goal.id}" onclick="careTeamController.evtMsgHandler('fup_goal_form', this);">${goal.goal}</a>
		            #{if goal.infoText != null &&  goal.infoText != ''} 
						<i data-type="${goal.tipType}"  data-title="${goal.infoText}" class="fa fa-info-circle infomarker"></i>
					#{/if}
		            </td>
            <td><div>#{if goal.nextStep} ${goal.nextStep.printMessage()} #{/if}</div></td>
		            <td>#{if goal.goalDeadline} ${goal.goalDeadline.format('MM/dd/yyyy')} #{/if}</td>
            <td><div>#{if goal.notes} ${goal.notes} #{/if}</div></td>
		        </tr>
	        #{/list}
		#{/if}
		#{else}
			<tr><td colspan="4" style="text-align:center;">No record found</td></tr>
		#{/else}
    </table>
    <div>
        <span class="title" style="vertical-align: middle;">NOTES</span>&nbsp;&nbsp;<button class="btn btn-default noteBtn" style="font-weight:bold;">+ NEW NOTE</button>
    </div>
    #{include '/tags/note.html' /}
</div>
