#{include '/tags/patientSummary.html' /}
<div class="medications">
	<button class="btn btn-default btn-sm medicationBtn" style="font-weight:bold;">+ New Medication</button>
	#{if medicationList != null && medicationList.size()>0}
		#{list medicationList, as:'seq'}
			<div class="medication">
					<h3><a href="javaScript:operationMedication('edit','${seq.id}')">${seq.medicine.genericname}</a></h3>
					<p><strong>BRAND NAME: </strong>${seq.medicine.brandname}</p>
					<p><strong>FREQUENCY: </strong>${seq.frequency}</p>
					<p><strong>DATES: </strong>${seq.startdate.format('MM/dd/yyyy')} - ${seq.enddate.format('MM/dd/yyyy')}</p>
					<p><strong>SPECIAL INSTRUCTIONS: </strong>${seq.specialinstruction}</p>
					#{if seq.caremember != null}
						<p><strong>PRESCRIBING PYSICIAN: </strong>#{userName userName: seq.caremember.name, userId:seq.caremember.id /}</p>
					#{/if}

				#{if seq.method != null}
<!--				${seq.method}-->
<!-- 					<img src="/public/images/${seq.method}.png"/> -->
<!-- 					<a class="removeInstruction" data-id="${seq.id}" href="#">Remove Instruction Image</a> -->
				#{/if}
				#{else}
					<!-- <a href="#" class="addInstruction" data-id="${seq.id}" ><span style="font-size: 45px;"> +</span><br/> Add Instruction Image</a> -->
				#{/else}

<!--				#{if seq.medicine.image != null}
					<a href="#">
					<img class="medicineImg" src="/image/showMedicine/${seq.id}" data-id="${seq.id}" style="height: 65px;"/>
						<br/>
						Click Image to change.
					</a>
				#{/if}
				#{else}
					<a href="#">
						<img class="medicineImg" data-id="${seq.id}" src="/public/images/plusImg.png" />
						<br/> Add Medication Image
					</a>
				#{/else}-->
<!-- 				<div class="col-sm-4" style="padding-top: 10px;text-align: center;"> -->
<!-- 					<a class="btn btn-danger-small" href="javaScript:operationMedication('delete','${seq.id}')">Delete</a> -->
<!-- 				</div> -->
			</div><!-- medication -->
		#{/list}
	#{/if}
	#{else}
 		<div>No medication added.</div>
	#{/else}
</div>
<form method=post enctype='multipart/form-data' id="imageFile" style="display: none;" action="/carePatien/medicineFileupload" target="hidden_upload">
	<input type="hidden" id="uploadId" name="id" value="1212"/>
	<input type="file" id="image_file_input" name="image_file_input">
</form>
<iframe id="hidden_upload" name="hidden_upload" style="display:none;width:0;height:0;border:0px solid #fff" src="" onLoad='uploadDone("hidden_upload")'></iframe>
<script>
<!--
$(document).ready(function() {
	$("#image_file_input").change(function() {
		$(currImage).attr('src', "/public/plugins/tinymce/skins/lightgray/img/loader.gif");
		$("#imageFile").submit();
	});
});
-->
</script>