#{include '/tags/patientSummary.html' /}      
<div class="appointments">              
                    <div class="col-xs-12 col-sm-12 nopadding">             
                        <div class="col-xs-4 col-sm-4" style="border-right: 1px solid #CCC">
                            <div class="distress">
                                <h3>Distress &nbsp;&nbsp;&nbsp; 
                                    <small><a class="distress-meter button rounded" patientId="${patientId}" updateBy="${expertDetail.user.id}">Update Distress</a></small>
                                </h3>
                                #{if distress != null }
                                <table>
                                    <tr><td colspan="2"> <p class="last">Last Updated <span id="timeAgo">${distress.distressDate.format('M/dd/yyyy')}</span></p></td></tr>
                                    <tr>
                                        <td>
                                            <div style=" background-color: #efefef;float: left;padding: 5px 10px;">
                                                <span style="  background-color: #fff;float:left;color:darkred;border: 5px solid darkred;border-radius: 40px;font-size: 25px;font-weight: 700;padding: 0px 10px;">${distress.curDist}</span>
                                                <span style="float:left;color:darkred;font-weight: bold;padding-left: 10px;">
                                                #{if distress.curDist < 5}
                                                    MILD<br/> DISTRESS
                                                #{/if}
                                                #{if distress.curDist == 5}
                                                    MEDIUM<br/> DISTRESS
                                                #{/if}
                                                #{if distress.curDist > 5}
                                                    SEVERE<br/> DISTRESS
                                                #{/if}
                                                </span>
                                                <span class="td-graph"></span>
                                            </div>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td><p><strong>CURRENT PROBLEM LIST</strong>
                                        <br/>
                                            #{list items: lastWeekProblems, as: 'problem'}
                                            ${problem}<br/>
                                            #{/list}
                                        </p>
                                        </td>
                                    </tr>   
                                </table>
                                #{/if}
                                #{else}
                                    No Data available
                                #{/else}                                                                
                            </div><!-- distress -->
                        </div>
                        <div class="col-xs-offset-1 col-xs-7">
                            <div>
                                <div id="patient_distress_graph" patient_id="${patientId}" style="width:550px; height: 250px;">
                                </div>
                            </div>
                            <div>
                                <div style="text-align: right; padding: 20px 50px 10px 0px;color: #333;">
                                    <strong>Date Range: </strong>
                                    <a href="#" class="date-range" days="7">1w</a> |
                                    <a href="#" class="date-range active" days="30">1m</a> |
                                    <a href="#" class="date-range" days="90">3m</a> |
                                    <a href="#" class="date-range" days="180">6m</a> |
                                    <a href="#" class="date-range" days="366">1y</a> |
                                    <a href="#" class="date-range" days="0">All</a>
                                </div>
                            </div>
                        </div>                        
                    </div>                    
                    <div style="color: #333;">
                        <div class="col-xs-12">
                            <h4 style="font-weight: bold;padding: 20px 0px 15px 15px;">PAST PROBLEM LISTS</h4>
                        </div>                        
                        <div class="col-xs-12">
                            <div class="col-xs-2" style="border-right: 1px solid #CCC;">
                                <strong>LAST MONTH</strong>
                                #{list items: lastMonthProblems, as: 'problem'}
                                <div>- ${problem}</div>
                                #{/list}
                            </div>                                
                            <div class="col-xs-3" style="border-right: 1px solid #CCC;">
                                <strong>LAST 3 MONTHS</strong>
                                #{list items: lastThreeMonthProblems, as: 'problem'}
                                <div>- ${problem}</div>
                                #{/list}
                            </div>
                            <div class="col-xs-3" style="border-right: 1px solid #CCC;">
                                <strong>LAST 6 MONTHS</strong>
                                #{list items: lastSixMonthProblems, as: 'problem'}
                                <div>- ${problem}</div>
                                #{/list}
                            </div>
                            <div class="col-xs-2" style="border-right: 1px solid #CCC;">
                                <strong>LAST YEAR</strong>
                                #{list items: lastYearProblems, as: 'problem'}
                                <div>- ${problem}</div>
                                #{/list}
                            </div>
                            <div class="col-xs-2">
                                <strong>ALL PROBLEMS</strong>
                                #{list items: allProblems, as: 'problem'}
                                <div>- ${problem}</div>
                                #{/list}
                            </div>                                
                        </div>                                               
                    </div>                    
                    <div class="col-xs-12 col-sm-12" style="border-top: 1px solid #CCC;margin-top: 20px;padding-top: 20px;">
                        <div>
                            <span class="title" style="vertical-align: middle;">NOTES</span>&nbsp;&nbsp;<button class="btn btn-default btn-sm noteBtn" style="font-weight:bold;" name="summary">+ NEW NOTE</button>
                        </div>
                        #{set noteSection:"summary"/}
                        #{include '/tags/note.html' /}
                    </div>
                    </div>