#{include '/tags/patientSummary.html' /}
<div class="container-fluid">
  <!-- Radiation Treatment -->

  <div class="title">
    <h3>Radiation Treatment</h3>

    <button type="button" class="btn btn-primary" patient_id="${patientId}" form_type="new" onclick="careTeamController.evtMsgHandler('radiation_treatment_form', this);">+ Add Radiation Treatment</button>
  </div>


  #{if radiationTreatments}
  <table class="table table-bordered table-striped table-condensed table-hover">
    <thead>
    <tr>
      <th class="col-sm-3">Type</th>
      <th class="col-sm-1">Dates</th>
      <th class="col-sm-1">Dose</th>
      <th class="col-sm-1">Schedule</th>
      <th class="col-sm-1">Region Treated</th>
      <th class="col-sm-2">Doctor</th>      
      <th class="col-sm-3">Notes</th>
    </tr>
  </thead>
  <tbody>
    #{list items:radiationTreatments, as:'rt'}
    <tr>
      <td><a form_type="edit" patient_id="${rt.userId}" treatment_id="${rt.id}" onclick="careTeamController.evtMsgHandler('radiation_treatment_form', this);">${rt.rtDto.name}</a></td>
      <td>#{if rt.startDate} ${rt.startDate.format('MM/dd/yyyy')} #{/if}
        #{if rt.endDate} - ${rt.endDate.format('MM/dd/yyyy')} #{/if}
      </td>
      <td>#{if rt.dose} ${rt.dose} #{/if}</td>
      <td>#{if rt.rsDto} ${rt.rsDto.timePeriod} #{/if}</td>
      <td>#{if rt.trDto} ${rt.trDto.region} #{/if}</td>
      <td>#{if rt.doctor} ${rt.doctor} #{/if}</td>      
      <td><div>#{if rt.notes} ${rt.notes} #{/if}</div></td>
    </tr>

    #{/list}
  </tbody>
  </table>
  #{/if}
 	
  <!-- Surgery -->
  <div class="title">
    <h3>Surgery</h3>

    <button type="button" class="btn btn-primary" patient_id="${patientId}" form_type="new" onclick="careTeamController.evtMsgHandler('surgery_form', this);">+ Add New Surgery</button>

  </div>
  #{if surgeryInfo}
  <table class="table table-bordered table-striped table-condensed table-hover">
    <thead>
    <tr>
      <th class="col-sm-3"></th>
      <th class="col-sm-1">Date</th>
      <th class="col-sm-3">Region Treated</th>      
      <th class="col-sm-2">Doctor</th>
      <th class="col-sm-3">Notes</th>
    </tr>
  </thead>
  <tbody>
    #{list items:surgeryInfo, as:'si'}
    <tr>
      <td><a form_type="edit" patient_id="${si.userId}" treatment_id="${si.id}" onclick="careTeamController.evtMsgHandler('surgery_form', this);">${si.stDto.name}</a></td>
      <td>#{if si.surgeryDate} ${si.surgeryDate.format('MM/dd/yyyy')} #{/if}</td>
      <td>#{if si.trDto} ${si.trDto.region} #{/if}</td>
      <td>#{if si.doctor} ${si.doctor} #{/if}</td>
      <td><div>#{if si.notes} ${si.notes} #{/if}</div></td>
    </tr>
    #{/list}
  </tbody>
  </table>
  #{/if}
  <!-- Chemotherapy Treatment -->
  <div class="title">
    <h3>Chemotherapy</h3>

    <button type="button" class="btn btn-primary" patient_id="${patientId}" form_type="new" onclick="careTeamController.evtMsgHandler('chemotherapy_treatment_form', this);">+ Add New Chemotherapy Treatment</button>

  </div>


  #{if chemoTreatments}
  <table class="table table-bordered table-striped table-condensed table-hover">
    <thead>
    <tr>
      <th class="col-sm-3"></th>
      <th class="col-sm-1">Dates</th>
      <th class="col-sm-1"># of Cycles</th>
      <th class="col-sm-1">Schedule</th>
      <th class="col-sm-1">% Dose Reduction</th>      
      <th class="col-sm-2">Doctor</th>
      <th class="col-sm-3">Notes</th>
    </tr>
  </thead>
  <tbody>
    #{list items:chemoTreatments, as:'ct'}
    <tr>
      <td><a form_type="edit" patient_id="${ct.userId}" treatment_id="${ct.id}" onclick="careTeamController.evtMsgHandler('chemotherapy_treatment_form', this);">${ct.genericName} (${ct.brandName})</a></td>
      <td>#{if ct.startDate} ${ct.startDate.format('MM/dd/yyyy')} #{/if}
        #{if ct.endDate} - ${ct.endDate.format('MM/dd/yyyy')} #{/if}
      </td>
      <td>#{if ct.cycleNo} ${ct.cycleNo} #{/if}</td>
      <td>#{if ct.csDto} ${ct.csDto.timePeriod} #{/if}</td>
      <td>#{if ct.doseReduction} ${ct.doseReduction} #{/if}</td>     
      <td>#{if ct.doctor} ${ct.doctor} #{/if}</td>
      <td><div>#{if ct.notes} ${ct.notes} #{/if}</div></td>
    </tr>
    #{/list}
  </tbody>
  </table>
  #{/if}
  <h4>* This summary is a brief record of major aspects of your cancer treatment. You can share your copy with any of your doctors or nurses. However, this is not a detailed or comprehensive record of your care.</h4>
</div>