#{set pageType = 'setting' /}
#{extends 'caremain.html' /}
<div class="container pull-left" id="edit_contact_info">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="page-header">Update Contact information</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>EMAIL</h5>
        </div>
    </div>    
    <div class="row">
        <div id="emailList" class="col-xs-12">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-5">
                    <span id="primary_email">${user.email}</span>
                </div>
                <div class="col-xs-3">
                    <span>Primary</span>
                </div>
            </div>
            #{if emailList != null}
            #{list emailList, as:'eml'}
                <div class="row" data-for="${eml.email}">
                    <div class="col-xs-offset-1 col-xs-5">
                        <span>${eml.email}</span>
                    </div>
                    <div class="col-xs-3"><span><a href="#" class="rm-mail" email="${eml.email}">Remove</a></span></div>
                    <div class="col-xs-3"><span><a href="#" class="mk-primary" email="${eml.email}">Make Primary</a></span></div>            
                </div>
            #{/list}
            #{/if}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group" id="errorGroup"></ul>
        </div>
    </div>
    <div class="row" id="addEmailBox">        
        <form class="form-horizontal">
            <div class="form-group">
                <label for="email" class="col-xs-4 control-label">Email</label>
                <div class="col-xs-8">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-4 col-xs-8">
                    <button class="btn btn-default" id="save_new_mail">Save</button>
                    <button class="btn btn-default" id="cancel_adding">Cancel</button>
                </div>                
            </div>
            <div class="form-group">
                <p class="help-block"></p>
            </div>
        </form>
    </div>
    <div class="row pull-left">
        <div class="col-xs-12">
            <button class="btn btn-primary" id="add_email">Add Email</button>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    var $addBox = $('#addEmailBox');
    var $primaryEmail = $('#primary_email');
    $addBox.hide();
    
    $('#edit_contact_info').click(function(e) {
        var $target = $(e.target);
        
        if ($target.is('#add_email')) {
            showEmailBox();
            $('#email').val('');
        }
        else if ($target.is('#cancel_adding')) {
            hideEmailBox();            
        }
        else if ($target.is('#save_new_mail')) {
            var email = $("#email").val();
    		var pattern= /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if(pattern.test(email)) {
                $("#addEmailBox p.help-block").html('');
    			$.ajax({ type: "POST",
					url: "/profile/updateAditionalEmail",
					data: { "email":email,"op":"a" },
					success: function(msg) {
						if(msg == 'd') {
							$("#errorGroup").html("<li class='list-group-item list-group-item-success'>Duplicate email</li>");
						} else {
							hideEmailBox();
                            var str = '<div class="row" data-for="' + msg + '"><div class="col-xs-offset-1 col-xs-5"><span>'+ msg + '</span></div><div class="col-xs-3"><span><a href="#" class="rm-mail" email="' + msg + '">Remove</a></span></div><div class="col-xs-3"><span><a href="#" class="mk-primary" email="' + msg + '">Make primary</a></span></div></div>';                            
							$("#emailList").append(str);
						}
					},
					error: function() {
    	            	  $("#errorGroup").html("<li class='list-group-item list-group-item-danger'>Internal server error. Please try again.</li>"); 
					}
				});
            }
            else {
            }
        }
        else if ($target.is('.rm-mail')) {
            var email = $target.attr('email');
            removeEmail(email);
        }
        else if ($target.is('.mk-primary')) {
            var email = $target.attr('email');
            makePrimary(email);
        }
        e.preventDefault();
    });
    
    var makePrimary = function(email) {
        $("#errorGroup").empty();
		$.ajax({
			type: "POST",
			url: "/profile/updateAditionalEmail",
			data: {"email":email,"op":"mp"},
			success: function(msg){
				if($.trim(msg) != 'Already used email') {
					//$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>"+msg+"</li>");                
	                var $email = $("#emailList").find("[data-for='" + email + "']");
	                var current_email = $primaryEmail.html();
	                $primaryEmail.html(email);
	                $email.attr('data-for', current_email);
	                $email.find('div').eq(0).find('span').html(current_email);
	                $email.find('div').eq(0).find('span').html(current_email);
	                $email.find('div>span>a').attr('email', current_email);
				} else {
					$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>"+msg+"</li>"); 
					//alert(msg);
				}
			},
			error: function() {
				$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>Internal server error. Please try again.</li>"); 
			}
		});
	} 
	var removeEmail = function(email) {
        $("#errorGroup").empty();
		$.ajax({
			type: "POST",
			url: "/profile/updateAditionalEmail",
			data: {"email":email,"op":"r"},
			success: function(msg){
				$("#emailList").find("[data-for='" + msg + "']").remove();
			},
			error: function() {
				$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>Internal server error. Please try again.</li>"); 
			}
		});
	}
    var showEmailBox = function() {
        $("#errorGroup").empty();
		$addBox.show();
	}
	var hideEmailBox = function() {
        $("#errorGroup").empty();
		$addBox.hide();
	}
});    
</script>