#{set pageType = 'dashboard' /}
#{extends 'caremain.html' /}
 
<div class="col-xs-12 col-sm-12">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-heading no-border-bottom patient-dashboard">
            <thead>
                <tr id="care-patients-header-row">
                    <th><a href="#" class="filter-column" id="care-patient-names">NAME</a></th>
                    <th>DIAGNOSIS</th>
                    <th><a href="#" class="filter-column" id="care-patient-last-visit">LAST VISIT</a></th>
                    <th>NEXT VISIT</th>
                    <th>LAST MD</th>
                    <th><a href="#" class="filter-column" id="care-patient-last-distress-level">LAST DISTRESS LEVEL</a></th>
                    <th><a href="#" class="filter-column" id="care-patient-last-distress-check-date">LAST DISTRESS CHECK-IN</a></th>
                    <th>PROBLEM LIST</th>
                    <th>LAST NOTE</th>
                </tr>
            </thead>    
            <tbody id="care-patients">#{patientList patients: patients /}
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

(function() {

	var colorActiveFilter = function(activeColumn) {
        $('#care-patients-header-row a.filter-column').css({'color': 'rgb(0, 80, 155)'});
        $(activeColumn).css({'color': 'rgb(255, 0, 0)'});
        $('#care-patients').fadeTo("fast", 1);
	};
	
	$(document).on("click", '#care-patient-names', function(e) {        
	    $.post('@{Care.sortPatients}', {
	        'filterMap.patientName' : 'asc'
	    }, function(html) {
	        $('#care-patients').html(html);
            colorActiveFilter(e.target);
	    }, "html");
        $('#care-patients').fadeTo("slow", 0.2);
	});
	
	$(document).on("click", '#care-patient-last-visit', function(e) {        
	    $.post('@{Care.sortPatients}', {
	        'filterMap.lastVisit' : 'desc'
	    }, function(html) {
	        $('#care-patients').html(html);
            colorActiveFilter(e.target);
	    }, "html");
        $('#care-patients').fadeTo("slow", 0.2);
	});
	
	$(document).on("click", '#care-patient-last-distress-level', function(e) {        
	    $.post('@{Care.sortPatients}', {
	        'filterMap.lastDistressLevel' : 'desc'
	    }, function(html) {
	        $('#care-patients').html(html);
            colorActiveFilter(e.target);
	    }, "html");
        $('#care-patients').fadeTo("slow", 0.2);
	});
	
	$(document).on("click", '#care-patient-last-distress-check-date', function(e) {        
	    $.post('@{Care.sortPatients}', {
	        'filterMap.lastDistressCheckDate' : 'desc'
	    }, function(html) {
            $('#care-patients').html(html);
            colorActiveFilter(e.target);
        }, "html");
        $('#care-patients').fadeTo("slow", 0.2);
    });
})();
</script>
