#{set pageType = 'dashboard' /}
#{extends 'caremain.html' /}
 <!--
<div class="col-xs-12 col-sm-12">
  <span class="initialism" style="color:#525252;">PRIORITY&nbsp;&nbsp;&nbsp;</span>
  <span><img src="/public/images/low.png" style="height:25px;" /></span>
  <span><img src="/public/images/med.png" style="height:25px;"/></span>
  <span><img src="/public/images/high.png" style="height:25px;"/></span>
  <br/>
  <br/>
</div>
 -->
<div class="col-xs-12 col-sm-12">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-heading no-border-bottom patient-dashboard">
      <thead>
        <tr>
          <th>NAME</th>
          <th>DIAGNOSIS</th>
          <th>LAST VISIT</th>
		  <th>NEXT VISIT</th>
          <th>LAST MD</th>
          <th>LAST DISTRESS LEVEL</th>
          <th>LAST DISTRESS CHECK-IN</th>
          <th>PROBLEM LIST</th>
          <th>LAST NOTE</th>
        </tr>
      </thead>
      <tbody>
      #{if patients != null}
      #{list patients, as:'seq'}
      <tr
        #{if seq.distress != null}
        class=
          #{if seq.distress.curDist > 7}"high-distress"#{/if}
          #{elseif seq.distress.curDist > 4}"medium-distress"#{/elseif}
        #{/if}
      >

        <td class="patient-name"><div><a href="@{Care.patient(seq.userDetails.id)}">${seq.userDetails.user.name.usreNameNew(seq.userDetails.id)}</a></div>
        *{  ${seq.userDetails.firstName} ${seq.userDetails.lastName} }*
        </td>
        <td><div>
          #{if seq.patientOtherDetails != null}
          	#{if seq.patientOtherDetails.disease != null}
          		${seq.patientOtherDetails.disease.name}
          	#{/if}
          	#{if seq.breastCancerInfo != null}
 				#{if seq.breastCancerInfo.bcStage}
 					${seq.breastCancerInfo.bcStage.name}
     			#{/if}
     		#{/if}

     		<!-- might want to check for disease here in the future as well.-->
     		#{if seq.breastCancerInfo != null}</br>
			 #{if seq.breastCancerInfo.er || seq.breastCancerInfo.pr || seq.breastCancerInfo.her2}
			       #{if seq.breastCancerInfo.er}
			       Er${seq.breastCancerInfo.er}
			       #{/if}
			       #{if seq.breastCancerInfo.er && seq.breastCancerInfo.pr}
			       , Pr${seq.breastCancerInfo.pr}
			       #{/if}
			       #{elseif seq.breastCancerInfo.pr}
			       Pr${seq.breastCancerInfo.pr}
			       #{/elseif}
			       #{if (seq.breastCancerInfo.er || seq.breastCancerInfo.pr) && seq.breastCancerInfo.her2}
			       , HER2${seq.breastCancerInfo.her2}
			       #{/if}
			       #{elseif seq.breastCancerInfo.her2}
			       HER2${seq.breastCancerInfo.her2}
			       #{/elseif}
			  #{/if}
			 #{/if}
          #{/if}
		  #{else}-#{/else}
		</div></td>
		#{if seq.appointmentInfo != null}
			<td><div>${seq.appointmentInfo.appointmentdate.format("M/dd/yyyy")}</div></td>
			<td><div>#{if seq.nextAppointment}${seq.nextAppointment.appointmentdate.format("M/dd/yyyy")}#{/if}#{else}-#{/else}</div></td>
			<td>
				<div>
					#{if seq.appointmentInfo.caremember != null}
					#{userName userName: seq.appointmentInfo.caremember.name, userId:seq.appointmentInfo.caremember.id /}
					#{/if}
					#{else}
					${seq.appointmentInfo.careMemberName}
					#{/else}
				</div>
			</td>
		#{/if}
		#{else}
		<td><div>-</div></td>
		<td><div>#{if seq.nextAppointment}${seq.nextAppointment.appointmentdate.format("M/dd/yyyy")}#{/if}#{else}-#{/else}</div></td>
		<td><div>-</div></td>
		#{/else}
		<td class="current-distress"><div>
                    #{if seq.distress != null}
                      ${seq.distress.curDist}
                    #{/if}
                    #{else}-#{/else}
		</div></td>
		<td><div>
									#{if seq.distress != null}
									<span class="timeAgo" title="${seq.distress.distressDate}">${seq.distress.distressDate.format("M/dd/yyyy")}</span>
									#{/if}
									#{else}-#{/else}
								</div></td>
								<td><div>#{if seq.distress != null}
									${seq.distress.otherdetail.printMessage()}
									#{/if}
									#{else}N/A#{/else}</div></td>
		<td><div>
			#{if seq.note != null}
				${seq.note.noteTitle}
			#{/if}
			#{else}None#{/else}
		</div></td> <!-- Last Note -->
	</tr>
		  				#{/list}
		  			#{/if}
		  			#{else}
		  				<tr>
		  					<td colspan="11" align="center">No record found</td>
		  				</tr>
		  			#{/else}
 			</tbody>
 			<tbody>
 			</tbody>
 			</table>
		  			</div>
	</div>
