#{set pageType = 'patient1' /}
#{extends 'caremain.html' /}	

<div id="content" class="patient page">
	<div class="col-xs-12 col-sm-12">
		<div>
			<ul id="tabs" class="nav nav-tabs">
				<li class="active"><a href="#summary">SUMMARY</a></li>
				<li><a class="appointment" href="#appointment" data-url="@{CarePatien.appointment(patientId)}">APPOINTMENTS</a></li>				
				<li><a class="medication" href="#medication" data-url="@{CarePatien.medication(patientId)}">MEDICATIONS</a></li>
				<li><a class="treatmentplan" href="#treatmentplan" data-url="@{CarePatien.treatmentPlan(patientId)}">TREATMENT PLAN</a></li>
				<li><a class="followupplan" href="#followupplan" data-url="@{CarePatien.followupPlan(patientId)}">FOLLOW-UP CARE PLAN</a></li>
				<li><a class="diagnosis" href="#diagnosis" data-url="@{CarePatien.diagnosis(patientId)}">DIAGNOSIS</a></li>
			</ul>
			<div class="tab-content">
                <div id="summary" class="tab-pane active">		
                    #{include '/tags/patientSummary.html' /}
                    <div class="col-xs-12 col-sm-12 nopadding">				
                        <div class="col-xs-4 col-sm-4" style="border-right: 1px solid #CCC">
                            <div class="distress">
                                <h3>Distress &nbsp;&nbsp;&nbsp; 
                                    <small><a class="distress-meter button rounded" patientId="${patientId}">Update Distress</a></small>
                                </h3>
                                #{if distress != null }
                                <table>
                                    <tr><td colspan="2"> <p class="last">Last Updated <span id="timeAgo">${distress.distressDate.format('M/dd/yyyy')}</span></p></td></tr>
                                    <tr>
                                        <td>
                                            <div style=" background-color: #efefef;float: left;padding: 5px 10px;">
                                                <span style="  background-color: #fff;float:left;color:darkred;border: 5px solid darkred;border-radius: 40px;font-size: 25px;font-weight: 700;padding: 0px 10px;">${distress.curDist}</span>
                                                <span style="float:left;color:darkred;font-weight: bold;padding-left: 10px;">
                                                #{if distress.curDist < 5}
                                                    MILD<br/> DISTRESS
                                                #{/if}
                                                #{if distress.curDist == 5}
                                                    MEDIUM<br/> DISTRESS
                                                #{/if}
                                                #{if distress.curDist > 5}
                                                    SEVERE<br/> DISTRESS
                                                #{/if}
                                                </span>
                                                <span class="td-graph"></span>
                                            </div>
                                        </td>
                                    </tr>	
                                    <tr>
                                        <td><p><strong>CURRENT PROBLEM LIST</strong>
                                        <br/>
                                            #{list items: lastWeekProblems, as: 'problem'}
                                            ${problem}<br/>
                                            #{/list}
                                        </p>
                                        </td>
                                    </tr>	
                                </table>
                                #{/if}
                                #{else}
                                    No Data available
                                #{/else}                                                                
                            </div><!-- distress -->
                        </div>
                        <div class="col-xs-offset-1 col-xs-7">
                            <div>
                                <div id="patient_distress_graph" patient_id="${patientId}" style="width:550px; height: 250px;">
                                </div>
                            </div>
                            <div>
                                <div style="text-align: right; padding: 20px 50px 10px 0px;color: #333;">
                                    <strong>Date Range: </strong>
                                    <a href="#" class="date-range" days="7">1w</a> |
                                    <a href="#" class="date-range active" days="30">1m</a> |
                                    <a href="#" class="date-range" days="90">3m</a> |
                                    <a href="#" class="date-range" days="180">6m</a> |
                                    <a href="#" class="date-range" days="366">1y</a> |
                                    <a href="#" class="date-range" days="0">All</a>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    
                    <div style="color: #333;">
                        <div>
                            <h4 style="font-weight: bold;padding: 20px 0px 15px 15px;">PAST PROBLEM LISTS</h4>
                        </div>                        
                        <div>
                            <div class="col-xs-2" style="border-right: 1px solid #CCC;">
                                <strong>LAST MONTH</strong>
                                #{list items: lastMonthProblems, as: 'problem'}
                                <div>- ${problem}</div>
                                #{/list}
                            </div>                                
                            <div class="col-xs-3" style="border-right: 1px solid #CCC;">
                                <strong>LAST 3 MONTHS</strong>
                                #{list items: lastThreeMonthProblems, as: 'problem'}
                                <div>- ${problem}</div>
                                #{/list}
                            </div>
                            <div class="col-xs-3" style="border-right: 1px solid #CCC;">
                                <strong>LAST 6 MONTHS</strong>
                                #{list items: lastSixMonthProblems, as: 'problem'}
                                <div>- ${problem}</div>
                                #{/list}
                            </div>
                            <div class="col-xs-2" style="border-right: 1px solid #CCC;">
                                <strong>LAST YEAR</strong>
                                #{list items: lastYearProblems, as: 'problem'}
                                <div>- ${problem}</div>
                                #{/list}
                            </div>
                            <div class="col-xs-2">
                                <strong>ALL PROBLEMS</strong>
                                #{list items: allProblems, as: 'problem'}
                                <div>- ${problem}</div>
                                #{/list}
                            </div>                                
                        </div>                                               
                    </div>
                    
                    <div class="col-xs-12 col-sm-12" style="border-top: 1px solid #CCC;margin-top: 20px;padding-top: 20px;">
                        <div>
                            <span class="title" style="vertical-align: middle;">NOTES</span>&nbsp;&nbsp;<button class="btn btn-default btn-sm noteBtn" style="font-weight:bold;">+ NEW NOTE</button>
                        </div>
                        #{include '/tags/note.html' /}
                    </div>
                </div>
                <div class="tab-pane" id="appointment"></div>
                <div class="tab-pane" id="careteam"></div>
                <div class="tab-pane" id="medication"></div>
                <div class="tab-pane" id="treatmentplan"></div>
                <div class="tab-pane" id="followupplan"></div>
                <div class="tab-pane" id="diagnosis"></div>
			</div>
		</div>
	</div>
	<div id="ajax-content"></div>
</div>

<div class="modal fade" id="addEditAppointment" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel_appointment">ADD NEW APPOINTMENT</h4>
			</div>
			#{form @CarePatien.appointmentOperation() , id:'appointmentForm', class: 'form-horizontal' }
			<input type="hidden" name="operation" />
      		<input type="hidden" name="patientId" value="${patientId}"/>
      		<input type="hidden" name="id" />
			<div class="modal-body" style="overflow:hidden;">
				<p class="editNote"><span class="btn btn-default-small">CURRENT DATA:</span> <span class="editNoteDet" style="font-weight: bold;">Thursday May 10th 2014 9AM - LUPECTOMY</span> | IF THIS IS NOT CORRECT, COMPLETE THE FORM BELOW</p>

				<div class="form-group form-group-sm">
                        <label class="col-xs-3 control-label" for="rt_schedule">Purpose of Appointment</label>
                        <div class="col-xs-8 form-group input-group">                           
                            <input type="text" id="appointment_purpose" name="purposeText" class="form-control nomargin" placeholder="i.e. 1st Appointment With Radiation Oncologist" required="required">
                                <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                </div>
                <div class="form-group form-group-sm" id="treatment_step_process">
                        <label class="col-xs-3 control-label" for="rt_schedule">Step in the Treatment Process</label>
                        <div class="col-xs-8 form-group input-group">                           
                            <select class="form-control nomargin" id="ts_process">
                                <option></option>
                                <option>Prepare for First Appointment</option>
                                <option>Make Treatment Decision</option>
                                <option>Prepare for First Treatment</option>
                                <option>Ongoing Treatments</option>
                                <option>Continue Follow-Ups</option>                                
                            </select>
                        </div>
                </div>
                 <div class="form-group form-group-sm">
                        <label class="col-xs-3 control-label" for="rt_schedule">Time</label>
                        <div class="col-xs-8 form-group input-group">
                           <input type="text" class="form-control timeField nomargin" name="time" required="required">
                           <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                </div>
                 <div class="form-group form-group-sm">
                        <label class="col-xs-3 control-label" for="rt_schedule">Date</label>
                        <div class="col-xs-8 form-group input-group">
                           <input type="text" class="form-control nomargin" id="hasDatepicker" name="schDate" required="required">
                           <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                </div>
                 <div class="form-group form-group-sm">
                        <label class="col-xs-3 control-label" for="rt_schedule">Center</label>
                        <div class="col-xs-8 form-group input-group">
                           <input type="text" class="form-control nomargin" value="Moffitt Cancer Center TVRH" name="center" required="required">
                           <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-xs-3 control-label" for="rt_schedule">Physician/Nurse</label>
                        <div class="col-xs-8 form-group input-group">
                           #{if noteList != null}
								<input type="text" id="appointment_verified_members" name="membername" class="form-control nomargin" placeholder="i.e. Ryan Belen" required="required">
                                <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
							#{/if}
							#{else}
								No expert assigned
							#{/else}
                        </div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-xs-3 control-label" for="rt_schedule">Address1</label>
                        <div class="col-xs-8 form-group input-group">
                          	<input type="text" class="form-control nomargin" value="1400 US Highway 441, Suite 540" name="address1" required="required">
                           	<span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-xs-3 control-label" for="rt_schedule">City</label>
                        <div class="col-xs-8 form-group input-group">
                          	<input type="text" class="form-control nomargin" value="The Villages" name="city" required="required">
                           	<span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-xs-3 control-label" for="rt_schedule">State</label>
                        <div class="col-xs-8 form-group input-group">
                          	<input type="text" class="form-control nomargin" value="FL" name="state" required="required">
                           	<span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-xs-3 control-label" for="rt_schedule">Zip Code</label>
                        <div class="col-xs-8 form-group input-group">
                          	<input type="text" class="form-control nomargin" value="32159" name="zip" required="required">
                           	<span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                </div>
      		</div>
      		<div class="modal-footer">
      			<input name="deleteAP" type="button" class="btn btn-default" value = "DELETE"></input>
        		<button type="submit" class="btn btn-default">SAVE</button>
      		</div>
      		#{/form}
		</div>
	</div>
</div>

<div class="modal fade" id="addEditCareTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">ADD NEW CARE TEAM</h4>
			</div>
			<div class="modal-body">
				<table style="width: 100%">
					<tr><td colspan="2">NEW CARE TEAM INFORMATION</td></tr>
					<tr>
						<td nowrap="nowrap">Type of Care Team</td>
						<td><select class="form-control">
								<option>Oncology</option>
							</select></td>
					</tr>
					<tr>
						<td>Center/Clinic Name</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>Address1</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>Address2</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>City</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>State</td>
						<td><select class="form-control">
								<option>New York</option>
							</select></td>
					</tr>
				</table>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">SAVE</button>
      		</div>
		</div>
	</div>
</div>
<div class="modal fade" id="addEditCareMemberTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">ADD NEW CARE TEAM</h4>
			</div>
			<div class="modal-body">
				<table style="width: 100%">
					<tr><td colspan="2">NEW CARE TEAM INFORMATION</td></tr>
					<tr>
						<td nowrap="nowrap">Type of Care Team</td>
						<td><select class="form-control">
								<option>Oncology</option>
							</select></td>
					</tr>
					<tr>
						<td>Center/Clinic Name</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>Address1</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>Address2</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>City</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>State</td>
						<td><select class="form-control">
								<option>New York</option>
							</select></td>
					</tr>
				</table>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">SAVE</button>
      		</div>
		</div>
	</div>
</div>


<div class="modal fade" id="addEditmedication" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">ADD NEW MEDICATION</h4>
			</div>
			#{form @CarePatien.medicationOperation() , id:'medicationForm'}
			<div class="modal-body">
				<input type="hidden" name="operation" />
      			<input type="hidden" name="id" />
   				<input type="hidden" name="patientId" value="${patientId}"/>
   				<input type="hidden" name="catlogId" />

   				<div class="form-group form-group-sm">
                        <label class="col-xs-4 control-label" for="rt_schedule">Generic Name</label>
                        <div class="col-xs-8 form-group input-group">
                           <input type="text" class="form-control nomargin" name="genericname" required/>
                           <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                </div>

              	<div class="form-group form-group-sm">
                        <label class="col-xs-4 control-label" for="rt_schedule">Brand Name</label>
                        <div class="col-xs-8 form-group input-group">
                           <input type="text" class="form-control" name="brandname" required/>
                           <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-xs-4 control-label" for="rt_schedule">Frequency</label>
                        <div class="col-xs-8 form-group input-group">
                           <input type="text" class="form-control" name="frequency" required />
                           <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                </div>

                <div class="form-group form-group-sm">
                        <label class="col-xs-4 control-label" for="rt_schedule">Prescribing Physician</label>
                        <div class="col-xs-8 form-group input-group">
                           #{if drList != null}
								<select class="memberselect" name="memberid">
								#{list drList, as:'seq'}
									<option value="${seq.id}"> ${seq.name.usreNameNew(seq.id)} </option>
								#{/list}
								</select>
							#{/if}
							#{else}
								No expert assigned
							#{/else}
                        </div>
                </div>

                 <div class="form-group form-group-sm" style="height:25px;">
                        <label class="col-xs-4 control-label" for="rt_schedule">Dates</label>
                        <div class="col-xs-8 form-group nopadding input-daterange" id="datepickerRange">
<!--                           <div class="col-xs-7 input-daterange" id="datepickerRange" > -->
			                    <input type="text" class="form-control input-sm" name="startDate"/>
			                    <span class="add-on">to</span>
			                    <input type="text" class="form-control input-sm" name="endDate"/>
<!-- 			                </div> -->
                        </div>
                </div>
                <div class="form-group form-group-sm">
                        <label class="col-xs-4 control-label" for="rt_schedule">Special Instructions</label>
                        <div class="col-xs-8 form-group input-group">
                           <textarea class="otherDetails" style="height: 60px;min-width: 370px;max-width: 370px;width: 370px;" name="otherdetails"></textarea>
                </div>
                </div>
				<table>
				</table>
	      		</div>
				<div class="modal-footer">
					<input name="deleteMD" type="button" class="btn btn-default" value="DELETE"></input>
	        		<button type="submit" class="btn btn-default">SAVE</button>
	      		</div>
      		#{/form}
		</div>
	</div>
</div>

<div class="modal fade" id="addEditNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-m">
   <div class="modal-content col-xs-12 col-sm-12">
   #{form @CarePatien.noteOperation() , id:'noteForm' }
      	<input type="hidden" name="operation" />
      	<input type="hidden" name="id" />
   		<input type="hidden" name="patientId" value="${patientId}"/>
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel_note">NEW NOTE</h4>
      		</div>
        	<div class="modal-body" style="display:block;">
                    <div class="form-group form-group-sm">
                        <label class="col-xs-3 control-label" for="rt_schedule">TITLE/LABEL</label>
                        <div class="col-xs-9 form-group input-group">
                            <input type="text"  name="title" placeholder="i.e. Note for other care team members. Not for patients." class="form-control input-sm" required>
                            <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                    </div>
					<div class="form-group form-group-sm">
                        <label class="col-xs-3 control-label" for="rt_schedule">Note</label>
                        <div class="col-xs-9 form-group input-group">
                            <textarea class="form-control" style="height: 120px;width:100%;max-width: 370px;" name="description" required="required"></textarea>
                            <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
                        </div>
                    </div>
    		</div>
     		<div class="modal-footer col-xs-12 col-sm-12" >
     			<input type="button" name="deleteNote" class="btn btn-default" data-next="3" value="DELETE"></input>
       			<button type="submit" class="btn btn-default" data-next="3"> SAVE </button>
    		</div>
      #{/form}
		</div>
	</div>
</div>
<div class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="addRadiationTreatment">
	<div class="modal-dialog modal-lg">
	 <div class="modal-content col-xs-12 col-sm-12 panel-info">
			  			<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">ADD NEW TREATMENT</h4>
      		</div>
        	<div class="modal-body">
                    <form class="form-horizontal d_form" role="form">
                       <div class="form-group">
						<label class="col-sm-2 d_labl  ">Type of Radiation</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" placeholder="APBI" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Dose</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" placeholder="60gy	" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Schedule</label>
						<div class="col-sm-7">
							<select class="populate placeholder form-control" name="country">
									<option value="">5X Weekly</option>
									<option value="fr">3X Weekly</option>
									<option value="de">6X Weekly</option>
								</select>
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Dates</label>
						<div class="col-sm-7">
							<input type="text" id="input_date" class="form-control" style="width: 50px;float: left;margin-right: 10px;" placeholder="MM" size="2">
                            <input type="text" id="input_date" class="form-control" style="width: 50px;float: left;margin-right: 10px;" placeholder="DD" size="2">
                            <input type="text" id="input_date" class="form-control" style="width: 70px;float: left;margin-right: 10px;" placeholder="YYYY" size="4">
                            <span style="float:left;margin-right:10px;">-</span>
                            <input type="text" id="input_date" class="form-control" style="width: 50px;float: left;margin-right: 10px;" placeholder="MM" size="2">
                            <input type="text" id="input_date" class="form-control" style="width: 50px;float: left;margin-right: 10px;" placeholder="DD" size="2">
                            <input type="text" id="input_date" class="form-control" style="width: 70px;float: left;margin-right: 10px;" placeholder="YYYY" size="4">
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Side Effects</label>
						<div class="col-sm-7">
                        <div style="margin-bottom:12px; color:#999;"><i style="color:#C30;" class="fa fa-times"></i> Pain</div>
                            <select class="populate placeholder form-control" name="country">
									<option value="">Fatigue</option>
									<option value="fr">Demo</option>
									<option value="de">Demo</option>
								</select>
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Note</label>
						<div class="col-sm-7">
                        <textarea class="form-control" style="width:475px;"></textarea>
						</div>
					</div>
                    <br>
                    <div class="modal-footer">
						<div class="col-sm-7 col-sm-offset-5">
							<button type="submit" class="btn btn-primary d_btn-blue">SUBMIT NEW TREATMENT</button>
						</div>
					</div>
                    </form>
              </div>
		</div>
	</div>
</div>

<div class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="addChemoTreatment">
	<div class="modal-dialog modal-lg">
	 <div class="modal-content col-xs-12 col-sm-12 panel-info">
			  			<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">ADD NEW TREATMENT</h4>
      		</div>
        	<div class="modal-body">
	<div class="dialogModal_content">
     <div class="row">
	 <div class="col-md-12 panel-info">
			  			<div class="content-box-large box-with-header">
				  			<div>
                                <div class="row">
									<div class="col-sm-12">
                                    <div class="distress_01"><h3>NEW CHEMOTHERPAY TREATMENT</h3></div><br>
                    <form class="form-horizontal d_form" role="form">

                       <div class="form-group">
						<label class="col-sm-2 d_labl  ">Generic Name</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" placeholder="APBI" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
						</div>
					</div>

                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Brand Name</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" placeholder="60gy	" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
						</div>
					</div>

                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Schedule</label>
						<div class="col-sm-7">
							<select class="populate placeholder form-control" name="country">
									<option value="">5X Weekly</option>
									<option value="fr">3X Weekly</option>
									<option value="de">6X Weekly</option>
								</select>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 d_labl ">Dose Reduction</label>
						<div class="col-sm-7">
							<select class="populate placeholder form-control" name="country">
									<option value="">50%</option>
									<option value="fr">20%</option>
									<option value="de">10%</option>
								</select>
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Date</label>
						<div class="col-sm-7">
							<input type="text" id="input_date" class="form-control" placeholder="DD" style="width:50px;float:left;margin-right:10px;"/>
                            <input type="text" id="input_date" class="form-control" placeholder="MM" style="width:50px;float:left;margin-right:10px;"/>
                           	<input type="text" id="input_date" class="form-control" placeholder="YYYY" style="width:70px;float:left;margin-right:10px;"/>
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Side Effects</label>
						<div class="col-sm-7">
                           <div style="margin-bottom:12px; color:#999;"><i style="color:#C30;" class="fa fa-times"></i> Pain</div>
                            <select class="populate placeholder form-control" name="country">
									<option value="">Fatigue</option>
									<option value="fr">Demo</option>
									<option value="de">Demo</option>
								</select>
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Note</label>
						<div class="col-sm-7">
                        <textarea class="form-control" rows="5">

                        </textarea>
						</div>
					</div>
                    <div class="modal-footer">
						<div class="col-sm-7 col-sm-offset-5">
							<button type="submit" class="btn btn-primary d_btn-blue">SUBMIT NEW TREATMENT</button>
						</div>
					</div>
                    </form>
                        </div>
   								</div>
							</div>
						</div>
			  		</div>
				 </div>
				</div>
              </div>
		</div>
	</div>
</div>


<div class="modal fade" id="addEditCaner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
   <div class="modal-content col-xs-12 col-sm-12">
      	<input type="hidden" name="operation" />
      	<input type="hidden" name="id" />
   		<input type="hidden" name="patientId" value="${patientId}"/>
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">EDIT CANCER TYPE</h4>
      		</div>
        	<div class="modal-body">
        	<p class="editNote"><span class="btn btn-default-small">CURRENT DATA:</span> <span style="font-size: 20px;">ER+, PR+, HER2- |</span> IF THIS IS NOT CORRECT, COMPLETE THE FORM BELOW</p>

        	<table style="border: 1px solid #ccc; margin-top: 30px; width: 100%;">
        		<tr>
        			<td colspan="2"><h4 class="modal-title" id="myModalLabel">CANCER TYPE INFORMATION</h4></td>
        		</tr>
        		<tr>
        			<td style="width: 50%; border-right: 1px solid #CCC; padding-right: 20px;"><table style="width:100%;">
        		<tr>
        			<td><span style="line-height: 16px;">Hormone and Her2 Status</span></td>
        			<td>
        			<div class="input-group">
						<select class="form-control">
        					<option>ER+</option>
        					<option>ER-</option>
        				</select>
        				</div>
        				<div class="input-group" style="margin: 5px 0;">
        				<select class="form-control">
        					<option>PR+</option>
        					<option>PR-</option>
        				</select>
        				</div>
        				<div class="input-group">
        				<select class="form-control">
        					<option>HER2+</option>
        					<option>HER2-</option>
        				</select>
        				</div>
        				</td>
        		</tr>
        		<tr>
        			<td>Type&nbsp;</td>
        			<td>
        			<div class="input-group">
        				<select class="form-control">
        					<option>Invasive Ductal Carcinoma</option>
        				</select>
        				</div>
        			</td>
        		</tr>
        		<tr>
        			<td>Recurrence&nbsp;</td>
        			<td>
        			<div class="input-group">
        				<select class="form-control">
        					<option>NO</option>
        					<option>YES</option>
        				</select>
        				</div>
        			</td>
        		</tr>
        		<tr>
        			<td>Symptoms&nbsp;</td>
        			<td>
        			<div class="input-group">
        				Lump in Breast
        				</div>
        			</td>
        		</tr>
        		<tr>
        			<td>Side Effects&nbsp;</td>
        			<td>
        			<div class="input-group">
        				<select class="form-control">
        					<option>Rash on Breast</option>
        					<option>Other</option>
        				</select>
        				</div>
        			</td>
        		</tr>
        		</table></td>
        			<td style="width:50%;vertical-align: top;padding-left: 20px;">
        			Aditional Comments<br/>
        				<textarea style=" height: 300px;width: 360px;"></textarea>
        			</td>
        		</tr>
        	</table>
    		</div>
     		<div class="modal-footer col-xs-12 col-sm-12" >
       			<button type="submit" class="btn btn-default" data-next="3">&nbsp;&nbsp;&nbsp;&nbsp; UPDATE DATA &nbsp;&nbsp;&nbsp;&nbsp;</button>
    		</div>
		</div>
	</div>
</div>



<script><!--
var timeArray = ["8 AM","8.15 AM","8.30 AM","8.45 AM","9 AM","9.15 AM","9.30 AM","9.45 AM","10 AM","10.15 AM","10.30 AM","10.45 AM","11 AM","11.15 AM","11.30 AM","11.45 AM","12 noon","12.15 PM","12.30 PM",
				"12.45 PM","1 PM","1.15 PM","1.30 PM","1.45 PM","2 PM","2.15 PM","2.30 PM","2.45 PM","3 PM","3.15 PM","3.30 PM","3.45 PM","4 PM","5.15 PM","5.30 PM","5.45 PM","6 PM"];
$(document).ready(function() {

	var loadTabContent = function(e) {
		var url = $(this).attr("data-url");
  	var href = this.hash; // our target url
  	var pane = $(this);

		if(href=="#summary") {
			pane.tab('show');
		} else {
			// ajax load from data-url
			$(href).load(url,function(result){
			    pane.tab('show');
			});
		}
	}

	$('#tabs a').click(loadTabContent);


	if ( window.location.hash && $('#tabs li a.'+window.location.hash.substring(1)).length ) {
		$('#tabs li a.'+window.location.hash.substring(1)).click();
	}

	$("#addEditmedication input[name='genericname']").autocomplete({source:  "/carePatien/autoCompleteMedic", minLength: 1,select: function( event, ui ) {
// 		if($("#addEditmedication input[name='operation']").val() == 'add') {
	      	$("#addEditmedication input[name='brandname']").val(ui.item.brandname);
    	  	$("#addEditmedication input[name='frequency']").val(ui.item.frequency);
			$("#addEditmedication textarea[name='otherdetails']").val(ui.item.specialinstruction);
			$("#addEditmedication input[name='catlogId']").val(ui.item.id);
// 			}
    	}
	});

	$("input.timeField").autocomplete({source: timeArray,minLenght:1 });
	$('#hasDatepicker').datepicker({defaultDate: +1 ,minDate:"+1d"});

	$('#datepickerRange').datepicker({
		defaultDate: +1 ,minDate:"+1d",          
          format: "mm/dd/yyyy"
    });

	$('body').on('click', 'button.medicationBtn', function() {
		operationMedication('add');
	});
	$('body').on('click', 'button.noteBtn', function() {
		operationNote('add');
	});

	$('body').on('click', 'button.appointmentBtn', function() {
		operationAppointment('add');
	});

	$('body').on('click', 'button.careTeamBtn', function() {
		operationCareTeam('add');
	});

	$('body').on('click', 'img.medicineImg', function() {
    	$("#image_file_input").trigger( "click" );
    	currImage = this;
    	esnTemp = $(this).data("id");
    	$("#uploadId").val(esnTemp);
	});
	$('body').on('click', 'a.removeInstruction', function() {
    	var idTemp = $(this).data("id");
    	var formURL = "/carePatien/medicationOperation";
		var postData = {operation:"removeMethod",'id':idTemp};
		$.post(formURL, postData, function( data ) {
// 			var current_index = $("#tabs").tabs('option', 'active');
// 			$("#tabs").tabs('load',current_index);
			$('#tabs li.active a').click();
		});
	});

	$('body').on('click', 'a.addInstruction', function() {
    	var idTemp = $(this).data("id");
    	var formURL = "/carePatien/medicationOperation";
		var postData = {operation:"addMethod",'id':idTemp};
		$.post(formURL, postData, function( data ) {
// 			var current_index = $("#tabs").tabs('option', 'active');
// 			$("#tabs").tabs('load',current_index);
			$('#tabs li.active a').click();
		});
	});


	$('#medicationForm').submit(function(event) {
		var postData = $("#medicationForm").serializeArray();
		var formURL = $("#medicationForm").attr("action");
		$.post(formURL, postData, function( data ) {
			$('#addEditmedication').modal('hide');
// 			var current_index = $("#tabs").tabs('option', 'active');
// 			$("#tabs").tabs('load',current_index);
			$('#tabs li.active a').click();
		});
 		event.preventDefault();
	});


	$('#appointmentForm').submit(function(event) {
		var postData = $("#appointmentForm").serializeArray();
        var $avm = $('#appointment_verified_members');
        var $ap = $('#appointment_purpose');
        var membername = $avm.val();
        var members = $avm.data("careMembers");
        var verified = false;
        for (var id in members) {
            if(members[id] == membername) {
                $avm.attr("careMemberId", id); 
                verified = true;
                break;
            }
        }
        if (!verified) {
            $avm.removeAttr("careMemberId");
        }        
        postData.push({name: "memberid", value: $avm.attr("careMemberId") || 0});
        
        var purposes = $ap.data("purposes");
        var purpose_text = $.trim($ap.val());
        var definedPurpose = false;
        var purpose = 0;
        for (var i = 0; i < purposes.length; i++) {
            if (purposes[i].name == purpose_text) {
                definedPurpose = true;
                purpose = purposes[i].id;
                break;
            }
        }
        if (!definedPurpose) {
            postData.push({name: "treatmentProcessStep", value: $("#ts_process option:selected").text()});    
        }
        postData.push({name: "purpose", value: purpose});
        
		var formURL = $("#appointmentForm").attr("action");
		$.post(formURL, postData, function( data ) {
			$('#addEditAppointment').modal('hide');
// 			var current_index = $("#tabs").tabs('option', 'active');
// 			$("#tabs").tabs('load',current_index);
			$('#tabs li.active a').click();
		});
 		event.preventDefault();
	});


	// Load Sparkline plugin and run callback for draw Sparkline charts for dashboard(top of dashboard + plot in tables)
	LoadSparkLineScript(DrawSparklineDashboardNew);

	LoadSelect2Script(selectExpert);

});
selectExpert = function() {
	$('.memberselect').select2();
	$("#appointmentFormPurpose").select2();
}
operationMedication = function(operation,id) {
	if(operation == 'edit') {
		var formURL = "/carePatien/patientMedication";
		var postData = {'id':id};
		$.post(formURL, postData, function( data ) {
			if(data != '.') {
				$("#myModalLabel").html("EDIT MEDICATION");
				$("#addEditmedication input[name='operation']").val("edit");
				$("#addEditmedication input[name='id']").val(data.id);
				$("#addEditmedication input[name='genericname']").val(data.medicine.genericname);
				$("#addEditmedication input[name='brandname']").val(data.medicine.brandname);
				$("#addEditmedication input[name='frequency']").val(data.frequency);
				//Jan 20, 2014 12:09:00 AM
				var d = moment(data.startdate, 'MMM DD, YYYY hh:mm:ss A');
				$("#addEditmedication input[name='startDate']").val(d.format('MM/DD/YYYY'));

				d = moment(data.enddate, 'MMM DD, YYYY hh:mm:ss A');
				$("#addEditmedication input[name='endDate']").val(d.format('MM/DD/YYYY'));

// 				$("#addEditmedication input[name='startDate']").val($.datepicker.formatDate('mm/dd/yy', new Date(data.startdate)));
// 				$("#addEditmedication input[name='endDate']").val($.datepicker.formatDate('mm/dd/yy', new Date(data.enddate)));

				$('#datepickerRange').datepicker({ startDate: data.startdate, endDate: data.enddate});                
				$("#addEditmedication input[name='deleteMD']").show();
				$("#addEditmedication input[name='deleteMD']").click(function() {
					operationMedication('delete',data.id);
				});

				$("#addEditmedication textarea[name='otherdetails']").val(data.specialinstruction);
				if(data.caremember != null)
					$("#addEditmedication select[name='memberid']").val(data.caremember.id);


				$('#addEditmedication').appendTo("body").modal();
			} else {
				alert('Internal server error');
			}
		});
	} else if(operation == 'delete') {
		$("#addEditmedication input[name='operation']").val("delete");
		$("#addEditmedication input[name='id']").val(id);
		var postData = $("#medicationForm").serializeArray();
		var formURL = $("#medicationForm").attr("action");
		$.post(formURL, postData, function( data ) {
			$('#addEditmedication').modal('hide');
			$('#tabs li.active a').click();
		});
	} else {
		$("#myModalLabel").html("ADD NEW MEDICATION");
		$("#addEditmedication input[name='operation']").val("add");
		$("#addEditmedication input[name='id']").val("0");
		$("#addEditmedication input[name='genericname']").val("");
		$("#addEditmedication input[name='brandname']").val("");
		$("#addEditmedication input[name='frequency']").val("");
		$("#addEditmedication textarea[name='otherdetails']").val("");
		$("#addEditmedication input[name='catlogId']").val("0");
		$("#addEditmedication input[name='deleteMD']").hide();
		$('#addEditmedication').appendTo("body").modal();
	}
}
operationNote = function(operation,id,title,desc, noteBy) {
    var userId = '${user.id}';
    $('#addEditNote').find('input[type="button"][name="deleteNote"]').hide();
	if(operation == 'edit') {
		$("#myModalLabel_note").html("EDIT NOTE");
		$("#noteForm input[name='operation']").val("edit");
		$("#noteForm input[name='id']").val(id);
		$("#noteForm input[name='title']").val(title);
		$("#noteForm input[name='deleteNote']").show();
		$("#noteForm input[name='deleteNote']").unbind();
		$("#noteForm input[name='deleteNote']").click(function(){
			operationNote('delete',id,'','');
		});
		$("#noteForm textarea[name='description']").val(desc);
		$('#addEditNote').appendTo("body").modal();
		if (noteBy != userId) {
		  $('#addEditNote').find('input[type="button"][name="deleteNote"]').hide();
		}
	} else if(operation == 'delete') {
		if(confirm('Do you want to delete the note')) {
			$("#noteForm input[name='operation']").val("delete");
			$("#noteForm input[name='id']").val(id);
			$("#noteForm").submit();
		}
	} else {
		$("#myModalLabel_note").html("ADD NOTE");
		$("#noteForm input[name='operation']").val("add");
		$("#noteForm input[name='id']").val("0");
		$("#noteForm input[name='title']").val("");
		$("#noteForm textarea[name='description']").val("");
		$("#noteForm input[name='deleteNote']").hide();
		$('#addEditNote').appendTo("body").modal();
	}
}
operationAppointment = function(operation, id) {
    $('#treatment_step_process').hide();
    var $avm = $('#appointment_verified_members');
    var $ap = $('#appointment_purpose');
    var initFlag = $avm.attr("init_flag");    
    if (!initFlag) {
        $avm.attr('init_flag', 1);
        $.post('/care/appointmentForm', {}, function (data) {
            var members = data.members; 
            var purposes = data.purposes;
            $avm.data("careMembers", members);
            $ap.data("purposes", purposes);
            var arr = [];                        
            for (var id in members) {
                arr.push(members[id]);
            }                              
            $avm.typeahead({
                source: arr,
                minLength: 0                
	        });    
            var purposeList = [];
            var length = purposes.length;
            for (var i = 0; i < length; i++) {
                purposeList.push(purposes[i].name);
            }
            $ap.typeahead({
                source: purposeList,
                minLength: 0,
                updater: function(item) {
                    $('#treatment_step_process').hide();
                    return item;
                }
            });
            $ap.blur(function(e) {
                var purposes = $ap.data("purposes");
                var purposetext = $.trim($ap.val());
                var definedPurpose = false;
                for (var i = 0; i < purposes.length; i++) {
                    if (purposes[i].name == purposetext) {
                        definedPurpose = true;
                        break;
                    }
                }
                if (definedPurpose) {
                    $('#treatment_step_process').hide();
                }
                else if(purposetext.length > 0) {
                    $('#treatment_step_process').show();
                }
            });
	    }, "json");
    }
	if(operation == 'edit') {
		var formURL = "/carePatien/patientAppointment";
		var postData = {'id':id};
		$.post(formURL, postData, function( data ) {
			if(data != '.') {			    			    
				$("#myModalLabel_appointment").html("EDIT APPOINTMENT");
				$("#appointmentForm input[name='operation']").val("edit");
				$("#appointmentForm input[name='id']").val(data.id);
				//$("#appointmentFormPurpose").select2("val", data.purpose);
                $ap.val(data.purposeText);
                if ('treatementStep' in data) {
                    $('#treatment_step_process').show();
                    $('#treatment_step_process option').each(function(index, elm) {
                        var text = $(elm).text();
                        if (text == data.treatmentStep) {
                            $(elm).prop("selected", true);
                        }
                    });
                }
				$("#appointmentForm input[name='time']").val(data.appointmenttime);
				$("#appointmentForm input[name='schDate']").val($.datepicker.formatDate('mm/dd/yy', new Date(data.appointmentdate)));
				$("#appointmentForm input[name='center']").val(data.appointmentcenter);
				//$("#appointmentForm select[name='memberid']").val(data.caremember.id);				
				//$("#appointmentForm select[name='memberid']").select2();
                $avm.val(data.careMemberName);
				$("#appointmentForm input[name='address1']").val(data.addressid.line1);
				$("#appointmentForm input[name='city']").val(data.addressid.city);
				$("#appointmentForm input[name='state']").val(data.addressid.state);
				$("#appointmentForm input[name='zip']").val(data.addressid.zip);
				$("#appointmentForm input[name='deleteAP']").show();
				$("#appointmentForm input[name='deleteAP']").unbind();
				$("#appointmentForm input[name='deleteAP']").click(function(){
					operationAppointment('delete',data.id);
				});
 				$('#addEditAppointment .editNote span.editNoteDet').html($.datepicker.formatDate('DD M dd yy', new Date(data.appointmentdate)) + " " + data.appointmenttime + " - " + data.purpose);
				$('#addEditAppointment .editNote').show();
				$('#addEditAppointment').appendTo("body").modal();
			} else {
				alert('Internal server error');
			}
		});
	} else if(operation == 'delete') {
		if(confirm('Do you want to delete the scheduled appointment.')) {
			$("#appointmentForm input[name='operation']").val("delete");
			$("#appointmentForm input[name='id']").val(id);
			$("#appointmentForm").submit();
		}
	} else {
		$("#myModalLabel_appointment").html("ADD APPOINTMENT");
		$("#appointmentForm input[name='operation']").val("add");
		$("#appointmentForm input[name='id']").val("0");
		$("#appointmentFormPurpose").select2("val", "1");
		$("#appointmentForm input[name='time']").val("");
		$("#appointmentForm input[name='schDate']").val("");
		$("#appointmentForm input[name='center']").val("Moffitt Cancer Center TVRH");
		//$("#appointmentForm select[name='memberid']").val();
		//$("#appointmentForm select[name='memberid']").select2("val", $("#appointmentForm select[name='memberid'] option:eq(1)").val());
		$("#appointmentForm input[name='address1']").val("1400 U.S. Highway 441");
		$("#appointmentForm input[name='city']").val("The Villages");
		$("#appointmentForm input[name='state']").val("FL");
		$("#appointmentForm input[name='zip']").val("32159");
		$('#addEditAppointment .editNote').hide();
		$("#appointmentForm input[name='deleteAP']").hide();
		$('#addEditAppointment').appendTo("body").modal();
	}
}
operationCareTeam = function(operation, id) {
	$('#addEditCareTeam').appendTo("body").modal();
}

operationCareTeamMember = function(operation, id) {
// 	$('#addEditCareTeam').appendTo("body").modal();
	$('#addEditCareMemberTeam').appendTo("body").modal();
}
operationRadiationTreatment = function(operation, id) {
	$('#addRadiationTreatment').appendTo("body").modal();
}
operationChemoTreatment = function(operation, id) {
	$('#addChemoTreatment').appendTo("body").modal();
}

operationCancer = function(operation, id) {
	$('#addEditCaner').appendTo("body").modal();
}
$(document).ready(function() {
	$('#appointmentForm').validator();
	$('#medicationForm').validator();
	$('#noteForm').validator();
    $('a.date-range[days="30"]').click();    
});

function DrawSparklineDashboardNew(){
// 	setInterval(SparklineLoop, 1000);
	$.ajax({ type: 'POST', url: '/care/distressData',
		data  : {patientId:${patientId}},
		success:function(data){
			var sparkline_table = [];
			for(var i =1 ; i<=10 ;i ++){
				if(data[i]!=null && data[i]!='' )
					sparkline_table.push(data[i]);
				else
					sparkline_table.push(0)
			}
			$('.td-graph').each(function(){
				$(this).sparkline(sparkline_table,{defaultPixelsPerValue: 13, minSpotColor: null, maxSpotColor: null, spotColor: null,
					height: 35,fillColor: false, lineWidth: 2, lineColor: '#FFF'});
			});
		}
	});
	/* var sparkline_table = [ [1,641], [2,364], [4,564], [5,735], [6,235], [7,435], [8,342], [9,742], [10,465] ];
	$('.td-symp').each(function(){
		var arr = $.map( sparkline_table, function(val, index) {
			return [[val[0], SmallChangeVal([val[1]])]];
		});
		$(this).sparkline( arr ,
			{defaultPixelsPerValue: 13, minSpotColor: null, maxSpotColor: null, spotColor: null,
			height: 35,fillColor: false, lineWidth: 2, lineColor: '#FFF'});
		}); */
}
function uploadDone(name) {
	var frame = getFrameByName(name);
	if (frame) {
	    ret = frame.document.getElementsByTagName("body")[0].innerHTML;
	    ret = $.trim(ret);
	    if(ret == 'WF') {
			$(currImage).attr('src', "/public/plugins/tinymce/skins/lightgray/img/loader.gif");
			$("#error").dialog("option","title","Error");
			$("#error .valuelable").html("<div style='width':200px;'>Please upload correct image file.</div>");
			$("#error").dialog('open');
		} else if(ret != ''){
    		$(currImage).attr('src', "/image/showMedicine/"+esnTemp+"?t="+new Date().getTime());

		}
	}
}
var currImage;
var esnTemp;
function getFrameByName(name) {
	for (var i = 0; i < frames.length; i++)
	    if (frames[i].name == name)
	      return frames[i];
	  return null;
}
--></script>