#{set pageType = 'patient1' /}
#{extends 'caremain.html' /}
	<!--Start Content-->


<div id="content" class="col-xs-12 col-sm-10">
	<div class="col-xs-12 col-sm-12">
		<div>
			<ul id="tabs" class="nav nav-tabs">
				<li class="active"><a href="#summery">SUMMARY</a></li>
				<li><a href="#appointment" data-url="@{CarePatien.appointment(patientId)}">APPOINTMENT</a></li>
				<li><a href="#careteam" data-url="@{CarePatien.careteam(patientId)}">CARE TEAM</a></li>
				<li><a href="#medication" data-url="@{CarePatien.medication(patientId)}">MEDICATIONS</a></li>
				<li><a href="#treatmentplan" data-url="@{CarePatien.treatmentPlan(patientId)}">TREATMENT PLAN</a></li>
				<li><a href="#followupplan" data-url="@{CarePatien.followupPlan(patientId)}">FOLLOW-UP CARE PLAN</a></li>
				<li><a href="#diagnosis" data-url="@{CarePatien.diagnosis(patientId)}">DIAGNOSIS</a></li>
			</ul>
			<div class="tab-content">
			<div id="summery" class="tab-pane active" >
				<div class="col-xs-12 col-sm-12 nopadding">
					<div class="col-xs-4 col-sm-4 nopadding" style="border-right: 1px solid #CCC">
					<!-- patient area -->
					<table>
						<tr>
						<td>
							<img class="profilePic" src="@{Image.show(patientDto.id)}"  height="50">
						</td>
						<td>
							<h3>#{userName userName: patientDto.user.name, userId:patientDto.id /}</h3>
							<p class="initialism">
                        	#{if patientOtherDetails != null && patientOtherDetails.disease != null}
                        		${patientOtherDetails.disease.name}, STAGE ${patientOtherDetails.stage}
                        	#{/if}
                        	#{else}Not Added
                        	#{/else}
                        	</p>
						</td>
<!-- 						</tr><tr><td colspan="2">&nbsp;</td></tr> -->
						<tr><td colspan="2">
							<p><strong>DOB:</strong> #{if patientDto.dob != null}${patientDto.dob.format("M/d/yyyy")}#{/if}</p>
							<p><strong>Phone: </strong> ${patientDto.homePhone}</p>
						</td>
						</tr>
<!-- 						<tr><td colspan="2">&nbsp;</td></tr> -->
						<tr><td colspan="2">
							#{if patientOtherDetails != null}
                    	   		#{if patientOtherDetails.dateofdiagnosis != null}
                        		<p><strong>Date of Diagnosis:</strong> ${patientOtherDetails.dateofdiagnosis.format('dd.MM.yyyy')}</p>
                        		#{/if}
                        		<p><strong>Support Contact:</strong>support@email.com</p>
							#{/if}
							#{else}
                        		<p><strong>Date of Diagnosis:</strong> -</p>
                        		<p><strong>Support Contact:</strong>support@email.com</p>
							#{/else}
						</td>
						</tr>
<!-- 						<tr><td colspan="2">&nbsp;</td></tr> -->
						<tr><td colspan="2">
							<p><strong>Next Appointment:</strong> -</p>
							<p><strong>Last Appointment: </strong> -</p>
						</td>
						</tr>
<!-- 						<tr><td colspan="2">&nbsp;</td></tr> -->
						<tr><td colspan="2">
							<p><strong>DOCTOR:</strong> -</p>
							<p><strong>LEAD NURSE: </strong> -</p>
						</td>
						</tr>
					</table>
					</div>
					<div class="col-xs-4 col-sm-4" style="border-right: 1px solid #CCC">
						<p class="title">DISTRESS</p>
						#{if distress != null }
						<table>
							<tr><td colspan="2"> <p class="last">Last Updated <span id="timeAgo">${distress.distressDate.format('dd.MM.yyyy')}</span></p></td></tr>
							<tr>
								<td>
									<div style=" background-color: #efefef;float: left;padding: 5px 10px;">
										<span style="  background-color: #fff;float:left;color:darkred;border: 5px solid darkred;border-radius: 40px;font-size: 25px;font-weight: 700;padding: 0px 10px;">${distress.curDist}</span>
										<span style="float:left;color:darkred;font-weight: bold;padding-left: 10px;">
										#{if distress.curDist < 5}
											MILD<br/> DISTRESS
										#{/if}
										#{if distress.curDist == 5}
											MEDIUM<br/> DISTRESS
										#{/if}
										#{if distress.curDist > 5}
											SEVERE<br/> DISTRESS
										#{/if}
										</span>
										<span class="td-graph"></span>
									</div>
								</td>
							</tr>
<!-- 							<tr><td colspan="2">&nbsp;</td></tr> -->
							<tr>
								<td><p><strong>CURRENT PROBLEM LIST</strong>
								<br/>
									${distress.otherdetail.printMessage()}
								</p>
								</td>
							</tr>
<!-- 							<tr><td colspan="2">&nbsp;</td></tr> -->
							<tr>
								<td><p><strong>PAST PROBLEM LIST</strong>
								<br/>
									${distress.otherdetail.printMessage()}
								</p>
								</td>
							</tr>
						</table>
						#{/if}
						#{else}
							No Data available
						#{/else}
					</div>
					<div class="col-xs-4 col-sm-4"><p class="title">SYMPTOMS</p>
						<table>
							<tr><td colspan="2"> <p class="last">Last Updated <span id="timeAgo">29.07.2014</span></p></td></tr>
							<tr>
								<td><p><strong>PAIN</strong></p>&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
								<div style=" background-color: #efefef;float: left;padding: 5px 10px;">
										<span style="  background-color: #fff;float:left;color:darkred;border: 5px solid darkred;border-radius: 40px;font-size: 25px;font-weight: 700;padding: 0px 10px;">8</span>
										<span class="td-symp"><canvas style="display: inline-block; vertical-align: top; width: 117px; height: 35px;" width="117" height="35"></canvas></span>
									</div>
								</td>
							</tr>
<!-- 							<tr><td colspan="2">&nbsp;</td></tr> -->
							<tr>
								<td><p><strong>FATIGUE</strong></p>&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
								<div style=" background-color: #efefef;float: left;padding: 5px 10px;">
										<span style="  background-color: #fff;float:left;color:darkred;border: 5px solid darkred;border-radius: 40px;font-size: 25px;font-weight: 700;padding: 0px 10px;">2</span>
										<span class="td-symp"><canvas style="display: inline-block; vertical-align: top; width: 117px; height: 35px;" width="117" height="35"></canvas></span>
									</div>
								</td>
							</tr>
<!-- 							<tr><td colspan="2">&nbsp;</td></tr> -->
							<tr>
								<td><p><strong>NAUSEA</strong></p>&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
								<div style=" background-color: #efefef;float: left;padding: 5px 10px;">
										<span style="  background-color: #fff;float:left;color:darkred;border: 5px solid darkred;border-radius: 40px;font-size: 25px;font-weight: 700;padding: 0px 10px;">7</span>
										<span class="td-symp"><canvas style="display: inline-block; vertical-align: top; width: 117px; height: 35px;" width="117" height="35"></canvas></span>
									</div>
								</td>
							</tr>
<!-- 							<tr><td colspan="2">&nbsp;</td></tr> -->
							<tr>
								<td><p><strong>SLEEP<br/>ISSUES</strong></p>&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
								<div style=" background-color: #efefef;float: left;padding: 5px 10px;">
										<span style=" background-color: #fff;float:left;color:darkred;border: 5px solid darkred;border-radius: 40px;font-size: 25px;font-weight: 700;padding: 0px 10px;">4</span>
										<span class="td-symp"><canvas style="display: inline-block; vertical-align: top; width: 117px; height: 35px;" width="117" height="35"></canvas></span>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 nopadding" style="border-top: 1px solid #CCC;margin-top: 20px;padding-top: 20px;">
				<div style="padding-bottom:20px;">
				<span class="title" style="vertical-align: middle;">NOTES</span>&nbsp;&nbsp;<button class="btn btn-default btn-sm noteBtn" style="font-weight:bold;">+ NEW NOTE</button>
				</div>
				#{if noteList != null}
				<table class="col-xs-12 col-sm-12">
					#{list noteList, as:'seq'}
					<tr><td style="color: #686d73;">
						<p class="last">#{userName userName: seq.noteBy.name, userId:seq.noteBy.id /}, ${seq.noteDate.format('MM/dd/yyyy - hh:mm a')}</p>
						<p style="font-weight:bold;font-size: 15px;">${seq.noteTitle}</p>
						${seq.noteDesc}
						</td>
						<td nowrap="nowrap" style="float: right;padding-left:20px;">
							<a class="btn btn-danger-small" href="javaScript:operationNote('edit','${seq.id}','${seq.noteTitle}','${seq.noteDesc}')">Edit</a>
							<a class="btn btn-danger-small" href="javaScript:operationNote('delete','${seq.id}')">Delete</a>
						</td>
						</tr>
						<tr><td style="border-top:1px solid #CCC;" colspan="2"></td></tr>
					#{/list}
					</table>
				#{/if}
				</div>
			</div>
			<div class="tab-pane" id="appointment"></div>
			<div class="tab-pane" id="careteam"></div>
			<div class="tab-pane" id="medication"></div>
			<div class="tab-pane" id="treatmentplan"></div>
			<div class="tab-pane" id="followupplan"></div>
			<div class="tab-pane" id="diagnosis"></div>
			</div>
		</div>
	</div>
	<div id="ajax-content"></div>
</div>

<div class="modal fade" id="addEditAppointment" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">ADD NEW APPOINTMENT</h4>
			</div>
			#{form @CarePatien.appointmentOperation() , id:'appointmentForm' }
			<input type="hidden" name="operation" />
      		<input type="hidden" name="patientId" value="${patientId}"/>
      		<input type="hidden" name="id" />
			<div class="modal-body" style="overflow:hidden;">
				<p class="editNote"><span class="btn btn-default-small">CURRENT DATA:</span> <span class="editNoteDet" style="font-weight: bold;">Thursday May 10th 2014 9AM - LUPECTOMY</span> | IF THIS IS NOT CORRECT, COMPLETE THE FORM BELOW</p>
				<table style="width: 100%">
					<tr><td colspan="2">APPOINTMENT INFORMATION</td></tr>
					<tr>
						<td nowrap="nowrap">Purpose of Appointment</td>
						<td><select id="appointmentFormPurpose" name="purpose">
								<option value="1st Appointment With Radiation Oncologist">1st Appointment With Radiation Oncologist</option>
								<option value="1st Appointment With Surgeon">1st Appointment With Surgeon</option>
								<option value="1st Appointment With Oncologist">1st Appointment With Oncologist</option>
								<option value="Make Treatment Decision">Make Treatment Decision</option>
								<option value="1st Radiation Treatment">1st Radiation Treatment</option>
								<option value="Surgery">Surgery</option>
								<option value="Surgery Follow-up Appointment">Surgery Follow-up Appointment</option>
								<option value="1st Oncology Treatment With New Medication">1st Oncology Treatment With New Medication</option>
								<option value="Ongoing Radiation Treatment">Ongoing Radiation Treatment</option>
								<option value="Treatment Progress Check-in">Treatment Progress Check-in</option>
								<option value="Ongoing Treatment Follow-up">Ongoing Treatment Follow-up</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Time</td>
						<td><input type="text" class="form-control timeField" name="time" /></td>
					</tr>
					<tr>
						<td>Date</td>
						<td><input type="text" class="form-control" id="hasDatepicker" name="schDate"/></td>
					</tr>
					<tr>
						<td>Center</td>
						<td><input type="text" class="form-control" value="Moffitt Cancer Center TVRH" name="center"/></td>
					</tr>
					<tr>
						<td>Physician/Nurse</td>
						<td>#{if noteList != null}
								<select class="memberselect" name="memberid">
								#{list drList, as:'seq'}
									<option value="${seq.id}"> ${seq.name.usreNameNew(seq.id)} </option>
								#{/list}
								</select>
							#{/if}
							#{else}
								No expert assigned
							#{/else}
						</td>
					</tr>
					<tr>
						<td>Address1</td>
						<td><input type="text" class="form-control" value="1400 US Highway 441, Suite 540" name="address1"/></td>
					</tr>
					<tr>
						<td>City</td>
						<td><input type="text" class="form-control" value="The Villages" name="city"/></td>
					</tr>
					<tr>
						<td>State</td>
						<td><input type="text" class="form-control" value="FL" name="state"/></td>
					</tr>
					<tr>
						<td>Zip Code</td>
						<td><input type="text" class="form-control" value="32159" name="zip"/></td>
					</tr>
				</table>
      		</div>
      		<div class="modal-footer">

      			<input name="deleteAP" type="button" class="btn btn-default" value = "DELETE"></input>

        		<button type="submit" class="btn btn-default">SAVE</button>
      		</div>
      		#{/form}
		</div>
	</div>
</div>

<div class="modal fade" id="addEditCareTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">ADD NEW CARE TEAM</h4>
			</div>
			<div class="modal-body">
				<table style="width: 100%">
					<tr><td colspan="2">NEW CARE TEAM INFORMATION</td></tr>
					<tr>
						<td nowrap="nowrap">Type of Care Team</td>
						<td><select class="form-control">
								<option>Oncology</option>
							</select></td>
					</tr>
					<tr>
						<td>Center/Clinic Name</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>Address1</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>Address2</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>City</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>State</td>
						<td><select class="form-control">
								<option>New York</option>
							</select></td>
					</tr>
				</table>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">SAVE</button>
      		</div>
		</div>
	</div>
</div>
<div class="modal fade" id="addEditCareMemberTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">ADD NEW CARE TEAM</h4>
			</div>
			<div class="modal-body">
				<table style="width: 100%">
					<tr><td colspan="2">NEW CARE TEAM INFORMATION</td></tr>
					<tr>
						<td nowrap="nowrap">Type of Care Team</td>
						<td><select class="form-control">
								<option>Oncology</option>
							</select></td>
					</tr>
					<tr>
						<td>Center/Clinic Name</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>Address1</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>Address2</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>City</td>
						<td><input type="text" class="form-control"/></td>
					</tr>
					<tr>
						<td>State</td>
						<td><select class="form-control">
								<option>New York</option>
							</select></td>
					</tr>
				</table>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">SAVE</button>
      		</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addEditmedication" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">ADD NEW MEDICATION</h4>
			</div>
			#{form @CarePatien.medicationOperation() , id:'medicationForm' }
			<div class="modal-body">
				<input type="hidden" name="operation" />
      			<input type="hidden" name="id" />
   				<input type="hidden" name="patientId" value="${patientId}"/>
   				<input type="hidden" name="catlogId" />
				<table>
					<tr><td colspan="2">NEW MEDICATION INFORMATION</td></tr>
					<tr>
						<td>Generic Name</td>
						<td><input type="text" class="form-control" name="genericname"/></td>
					</tr>
					<tr>
						<td>Brand Name</td>
						<td><input type="text" class="form-control" name="brandname"/></td>
					</tr>
					<tr>
						<td>Frequency</td>
						<td><input type="text" class="form-control" name="frequency"/></td>
					</tr>
					<tr>
						<td>Prescribing Physician</td>
						<td>
							#{if drList != null}
								<select class="memberselect" name="memberid">
								#{list drList, as:'seq'}
									<option value="${seq.id}"> ${seq.name.usreNameNew(seq.id)} </option>
								#{/list}
								</select>
							#{/if}
							#{else}
								No expert assigned
							#{/else}
						</td>
					</tr>
					<tr>
						<td>Dates</td>
						<td>
						<!--
							<input type="text" class="form-control" id="medstartDate" name="startDate" style="width:115px;float:left;"/>
							<span style="margin-top: 10px;float:left;">&nbsp;-&nbsp;</span>
							<input type="text" class="form-control" id="medendDate" name="endDate" style="width:115px;float:left;"/>
							 -->
							<div class="input-daterange" id="datepickerRange" >
			                    <input type="text" class="form-control" id="medstartDate" name="startDate" style="width: 115px;float:left"/>
			                    <span class="add-on">to</span>
			                    <input type="text" class="form-control" id="medendDate" name="endDate" style="width: 115px;float:left"/>
			                </div>
						</td>
					</tr>
					<tr>
						<td>Special Intrsuctions</td>
						<td><textarea class="otherDetails" style="height: 60px;min-width: 385px;max-width: 385px;width: 385px;" name="otherdetails"></textarea></td>
					</tr>
				</table>
	      		</div>
				<div class="modal-footer">
					<input name="deleteMD" type="button" class="btn btn-default" value="DELETE"></input>
	        		<button type="submit" class="btn btn-default">SAVE</button>
	      		</div>
      		#{/form}
		</div>
	</div>
</div>

<div class="modal fade" id="addEditNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-m">
   <div class="modal-content col-xs-12 col-sm-12">
   #{form @CarePatien.noteOperation() , id:'noteForm' }
      	<input type="hidden" name="operation" />
      	<input type="hidden" name="id" />
   		<input type="hidden" name="patientId" value="${patientId}"/>

      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">NEW NOTE</h4>
      		</div>
        	<div class="modal-body" style="float:left;display:block;">
        	<table>
        		<tr>
        			<td>TITLE/LABEL</td>
        			<td>
        			<div class="input-group">
									<input type="text" name="title" class="form-control" style="width: 400px;" required/>
									<span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
					    		</div>
								<div class="help-block with-errors"></div>
        				</td>
        		</tr>
        		<tr>
        			<td>Note&nbsp;</td>
        			<td>
        			<div class="input-group">
        				<textarea class="form-control" style="height: 120px;width:425px;max-width: 425px;" name="description"></textarea>
        				</div>
        			</td>
        		</tr>
        	</table>
    		</div>
     		<div class="modal-footer col-xs-12 col-sm-12" >
       			<button type="submit" class="btn btn-default" data-next="3">&nbsp;&nbsp;&nbsp;&nbsp; ADD NEW NOTE &nbsp;&nbsp;&nbsp;&nbsp;</button>
    		</div>

      #{/form}
		</div>
	</div>
</div>


<div class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="addRadiationTreatment">
	<div class="modal-dialog modal-lg">
	 <div class="modal-content col-xs-12 col-sm-12 panel-info">
			  			<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">ADD NEW TREATMENT</h4>
      		</div>
        	<div class="modal-body">
                    <form class="form-horizontal d_form" role="form">
                       <div class="form-group">
						<label class="col-sm-2 d_labl  ">Type of Radiation</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" placeholder="APBI" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Dose</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" placeholder="60gy	" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Schedule</label>
						<div class="col-sm-7">
							<select class="populate placeholder form-control" name="country">
									<option value="">5X Weekly</option>
									<option value="fr">3X Weekly</option>
									<option value="de">6X Weekly</option>
								</select>
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Dates</label>
						<div class="col-sm-7">
							<input type="text" id="input_date" class="form-control" style="width: 50px;float: left;margin-right: 10px;" placeholder="MM" size="2">
                            <input type="text" id="input_date" class="form-control" style="width: 50px;float: left;margin-right: 10px;" placeholder="DD" size="2">
                            <input type="text" id="input_date" class="form-control" style="width: 70px;float: left;margin-right: 10px;" placeholder="YYYY" size="4">
                            <span style="float:left;margin-right:10px;">-</span>
                            <input type="text" id="input_date" class="form-control" style="width: 50px;float: left;margin-right: 10px;" placeholder="MM" size="2">
                            <input type="text" id="input_date" class="form-control" style="width: 50px;float: left;margin-right: 10px;" placeholder="DD" size="2">
                            <input type="text" id="input_date" class="form-control" style="width: 70px;float: left;margin-right: 10px;" placeholder="YYYY" size="4">
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Side Effects</label>
						<div class="col-sm-7">
                        <div style="margin-bottom:12px; color:#999;"><i style="color:#C30;" class="fa fa-times"></i> Pain</div>
                            <select class="populate placeholder form-control" name="country">
									<option value="">Fatigue</option>
									<option value="fr">Demo</option>
									<option value="de">Demo</option>
								</select>
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Note</label>
						<div class="col-sm-7">
                        <textarea class="form-control" style="width:475px;"></textarea>
						</div>
					</div>
                    <br>
                    <div class="modal-footer">
						<div class="col-sm-7 col-sm-offset-5">
							<button type="submit" class="btn btn-primary d_btn-blue">SUBMIT NEW TREATMENT</button>
						</div>
					</div>
                    </form>
              </div>
		</div>
	</div>
</div>


<div class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="addChemoTreatment">
	<div class="modal-dialog modal-lg">
	 <div class="modal-content col-xs-12 col-sm-12 panel-info">
			  			<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">ADD NEW TREATMENT</h4>
      		</div>
        	<div class="modal-body">
	<div class="dialogModal_content">
     <div class="row">
	 <div class="col-md-12 panel-info">
			  			<div class="content-box-large box-with-header">
				  			<div>

                                <div class="row">
									<div class="col-sm-12">
                                    <div class="distress_01"><h3>NEW CHEMOTHERPAY TREATMENT</h3></div><br>
                    <form class="form-horizontal d_form" role="form">

                       <div class="form-group">
						<label class="col-sm-2 d_labl  ">Generic Name</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" placeholder="APBI" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
						</div>
					</div>

                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Brand Name</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" placeholder="60gy	" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
						</div>
					</div>

                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Schedule</label>
						<div class="col-sm-7">
							<select class="populate placeholder form-control" name="country">
									<option value="">5X Weekly</option>
									<option value="fr">3X Weekly</option>
									<option value="de">6X Weekly</option>
								</select>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 d_labl ">Dose Reduction</label>
						<div class="col-sm-7">
							<select class="populate placeholder form-control" name="country">
									<option value="">50%</option>
									<option value="fr">20%</option>
									<option value="de">10%</option>
								</select>
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Date</label>
						<div class="col-sm-7">
							<input type="text" id="input_date" class="form-control" placeholder="DD" style="width:50px;float:left;margin-right:10px;"/>
                            <input type="text" id="input_date" class="form-control" placeholder="MM" style="width:50px;float:left;margin-right:10px;"/>
                           	<input type="text" id="input_date" class="form-control" placeholder="YYYY" style="width:70px;float:left;margin-right:10px;"/>
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Side Effects</label>
						<div class="col-sm-7">
                           <div style="margin-bottom:12px; color:#999;"><i style="color:#C30;" class="fa fa-times"></i> Pain</div>
                            <select class="populate placeholder form-control" name="country">
									<option value="">Fatigue</option>
									<option value="fr">Demo</option>
									<option value="de">Demo</option>
								</select>
						</div>
					</div>
                       <div class="form-group">
						<label class="col-sm-2 d_labl ">Note</label>
						<div class="col-sm-7">
                        <textarea class="form-control" rows="5">

                        </textarea>
						</div>
					</div>
                    <div class="modal-footer">
						<div class="col-sm-7 col-sm-offset-5">
							<button type="submit" class="btn btn-primary d_btn-blue">SUBMIT NEW TREATMENT</button>
						</div>
					</div>
                    </form>
                        </div>
   								</div>
							</div>
						</div>
			  		</div>
				 </div>
				</div>
              </div>
		</div>
	</div>
</div>


<div class="modal fade" id="addEditCaner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
   <div class="modal-content col-xs-12 col-sm-12">
      	<input type="hidden" name="operation" />
      	<input type="hidden" name="id" />
   		<input type="hidden" name="patientId" value="${patientId}"/>
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">EDIT CANCER TYPE</h4>
      		</div>
        	<div class="modal-body">
        	<p class="editNote"><span class="btn btn-default-small">CURRENT DATA:</span> <span style="font-size: 20px;">ER+, PR+, HER2- |</span> IF THIS IS NOT CORRECT, COMPLETE THE FORM BELOW</p>

        	<table style="border: 1px solid #ccc; margin-top: 30px; width: 100%;">
        		<tr>
        			<td colspan="2"><h4 class="modal-title" id="myModalLabel">CANCER TYPE INFORMATION</h4></td>
        		</tr>
        		<tr>
        			<td style="width: 50%; border-right: 1px solid #CCC; padding-right: 20px;"><table style="width:100%;">
        		<tr>
        			<td><span style="line-height: 16px;">Hormone and Her2 Status</span></td>
        			<td>
        			<div class="input-group">
						<select class="form-control">
        					<option>ER+</option>
        					<option>ER-</option>
        				</select>
        				</div>
        				<div class="input-group" style="margin: 5px 0;">
        				<select class="form-control">
        					<option>PR+</option>
        					<option>PR-</option>
        				</select>
        				</div>
        				<div class="input-group">
        				<select class="form-control">
        					<option>HER2+</option>
        					<option>HER2-</option>
        				</select>
        				</div>
        				</td>
        		</tr>
        		<tr>
        			<td>Type&nbsp;</td>
        			<td>
        			<div class="input-group">
        				<select class="form-control">
        					<option>Invasive Ductal Carcinoma</option>
        				</select>
        				</div>
        			</td>
        		</tr>
        		<tr>
        			<td>Recurrence&nbsp;</td>
        			<td>
        			<div class="input-group">
        				<select class="form-control">
        					<option>NO</option>
        					<option>YES</option>
        				</select>
        				</div>
        			</td>
        		</tr>
        		<tr>
        			<td>Symptoms&nbsp;</td>
        			<td>
        			<div class="input-group">
        				Lump in Breast
        				</div>
        			</td>
        		</tr>
        		<tr>
        			<td>Side Effects&nbsp;</td>
        			<td>
        			<div class="input-group">
        				<select class="form-control">
        					<option>Rash on Breast</option>
        					<option>Other</option>
        				</select>
        				</div>
        			</td>
        		</tr>
        		</table></td>
        			<td style="width:50%;vertical-align: top;padding-left: 20px;">
        			Aditional Comments<br/>
        				<textarea style=" height: 300px;width: 360px;"></textarea>
        			</td>
        		</tr>
        	</table>
    		</div>
     		<div class="modal-footer col-xs-12 col-sm-12" >
       			<button type="submit" class="btn btn-default" data-next="3">&nbsp;&nbsp;&nbsp;&nbsp; UPDATE DATA &nbsp;&nbsp;&nbsp;&nbsp;</button>
    		</div>
		</div>
	</div>
</div>



<script><!--
var timeArray = ["8 AM","8.15 AM","8.30 AM","8.45 AM","9 AM","9.15 AM","9.30 AM","9.45 AM","10 AM","10.15 AM","10.30 AM","10.45 AM","11 AM","11.15 AM","11.30 AM","11.45 AM","12 noon","12.15 PM","12.30 PM",
				"12.45 PM","1 PM","1.15 PM","1.30 PM","1.45 PM","2 PM","2.15 PM","2.30 PM","2.45 PM","3 PM","3.15 PM","3.30 PM","3.45 PM","4 PM","5.15 PM","5.30 PM","5.45 PM","6 PM"];
$(document).ready(function() {

	$('#tabs a').click(function (e) {
		e.preventDefault();
		var url = $(this).attr("data-url");
	  	var href = this.hash;
	  	var pane = $(this);
		if(href=="#summery") {
			pane.tab('show');
		} else {
			// ajax load from data-url
			$(href).load(url,function(result){
			    pane.tab('show');
			});
		}
	});

	// load first tab content
// 	$('#tabs').load($('.active a').attr("data-url"),function(result){
// 	  $('.active a').tab('show');
// 	});


// 	$("#tabs").tabs({
// 	      beforeLoad: function( event, ui ) {
// 	        ui.jqXHR.error(function() {
// 	          ui.panel.html("Couldn't load this tab. We'll try to fix this as soon as possible." );
// 	        });
// 	      }
// 	});

	$("#addEditmedication input[name='genericname']").autocomplete({source:  "/carePatien/autoCompleteMedic", minLength: 1,select: function( event, ui ) {
// 		if($("#addEditmedication input[name='operation']").val() == 'add') {
	      	$("#addEditmedication input[name='brandname']").val(ui.item.brandname);
    	  	$("#addEditmedication input[name='frequency']").val(ui.item.frequency);
			$("#addEditmedication textarea[name='otherdetails']").val(ui.item.specialinstruction);
			$("#addEditmedication input[name='catlogId']").val(ui.item.id);
// 			}
    	}
	});

	$("input.timeField").autocomplete({source: timeArray,minLenght:1 });
	$('#hasDatepicker').datepicker({defaultDate: +1 ,minDate:"+1d"});

// 	$('#medstartDate').datepicker({ defaultDate: +1 ,minDate:"+1d",
// 		onSelect: function(selected) {
// 			$("#medendDate").datepicker("option","minDate", selected)
// 		}
// 	});
// 	$('#medendDate').datepicker({ defaultDate: +1 ,minDate:"+1d",
// 		onSelect: function(selected) {
// 			$("#medstartDate").datepicker("option","maxDate", selected)
// 		}
// 	});

	$('#datepickerRange').datepicker({
		defaultDate: +1 ,minDate:"+1d",
//           todayBtn: "linked",
          startDate: "today",
//           forceParse: true
    });

	$('body').on('click', 'button.medicationBtn', function() {
		operationMedication('add');
	});
	$('body').on('click', 'button.noteBtn', function() {
		operationNote('add');
	});

	$('body').on('click', 'button.appointmentBtn', function() {
		operationAppointment('add');
	});

	$('body').on('click', 'button.careTeamBtn', function() {
		operationCareTeam('add');
	});

	$('body').on('click', 'img.medicineImg', function() {
    	$("#image_file_input").trigger( "click" );
    	currImage = this;
    	esnTemp = $(this).data("id");
    	$("#uploadId").val(esnTemp);
	});
	$('body').on('click', 'a.removeInstruction', function() {
    	var idTemp = $(this).data("id");
    	var formURL = "/carePatien/medicationOperation";
		var postData = {operation:"removeMethod",'id':idTemp};
		$.post(formURL, postData, function( data ) {
// 			var current_index = $("#tabs").tabs('option', 'active');
// 			$("#tabs").tabs('load',current_index);
			$('#tabs li.active a').click();
		});
	});

	$('body').on('click', 'a.addInstruction', function() {
    	var idTemp = $(this).data("id");
    	var formURL = "/carePatien/medicationOperation";
		var postData = {operation:"addMethod",'id':idTemp};
		$.post(formURL, postData, function( data ) {
// 			var current_index = $("#tabs").tabs('option', 'active');
// 			$("#tabs").tabs('load',current_index);
			$('#tabs li.active a').click();
		});
	});


	$('#medicationForm').submit(function(event) {
		var postData = $("#medicationForm").serializeArray();
		var formURL = $("#medicationForm").attr("action");
		$.post(formURL, postData, function( data ) {
			$('#addEditmedication').modal('hide');
// 			var current_index = $("#tabs").tabs('option', 'active');
// 			$("#tabs").tabs('load',current_index);
			$('#tabs li.active a').click();
		});
 		event.preventDefault();
	});


	$('#appointmentForm').submit(function(event) {
		var postData = $("#appointmentForm").serializeArray();
		var formURL = $("#appointmentForm").attr("action");
		$.post(formURL, postData, function( data ) {
			$('#addEditAppointment').modal('hide');
// 			var current_index = $("#tabs").tabs('option', 'active');
// 			$("#tabs").tabs('load',current_index);
			$('#tabs li.active a').click();
		});
 		event.preventDefault();
	});


	// Load Sparkline plugin and run callback for draw Sparkline charts for dashboard(top of dashboard + plot in tables)
	LoadSparkLineScript(DrawSparklineDashboardNew);

	LoadSelect2Script(selectExpert);

});
selectExpert = function() {
	$('.memberselect').select2();
	$("#appointmentFormPurpose").select2();
}
operationMedication = function(operation,id) {
	if(operation == 'edit') {
		var formURL = "/carePatien/patientMedication";
		var postData = {'id':id};
		$.post(formURL, postData, function( data ) {
			if(data != '.') {
				$("#myModalLabel").html("EDIT MEDICATION");
				$("#addEditmedication input[name='operation']").val("edit");
				$("#addEditmedication input[name='id']").val(data.id);
				$("#addEditmedication input[name='genericname']").val(data.medicine.genericname);
				$("#addEditmedication input[name='brandname']").val(data.medicine.brandname);
				$("#addEditmedication input[name='frequency']").val(data.frequency);
				$("#addEditmedication input[name='deleteMD']").show();
				$("#addEditmedication input[name='deleteMD']").click(function() {
					operationMedication('delete',data.id);
				});

				$("#addEditmedication textarea[name='otherdetails']").val(data.specialinstruction);
				$("#addEditmedication select[name='memberid']").val(data.caremember.id);


				$('#addEditmedication').appendTo("body").modal();
			} else {
				alert('Internal server error');
			}
		});
	} else if(operation == 'delete') {
		$("#addEditmedication input[name='operation']").val("delete");
		$("#addEditmedication input[name='id']").val(id);
		var postData = $("#medicationForm").serializeArray();
		var formURL = $("#medicationForm").attr("action");
		$.post(formURL, postData, function( data ) {
			$('#addEditmedication').modal('hide');
			$('#tabs li.active a').click();
		});
	} else {
		$("#myModalLabel").html("ADD NEW MEDICATION");
		$("#addEditmedication input[name='operation']").val("add");
		$("#addEditmedication input[name='id']").val("0");
		$("#addEditmedication input[name='genericname']").val("");
		$("#addEditmedication input[name='brandname']").val("");
		$("#addEditmedication input[name='frequency']").val("");
		$("#addEditmedication textarea[name='otherdetails']").val("");
		$("#addEditmedication input[name='catlogId']").val("0");
		$("#addEditmedication input[name='deleteMD']").hide();
		$('#addEditmedication').appendTo("body").modal();
	}
}
operationNote = function(operation,id,title,desc) {
	if(operation == 'edit') {
		$("#myModalLabel").html("EDIT NOTE");
		$("#noteForm input[name='operation']").val("edit");
		$("#noteForm input[name='id']").val(id);
		$("#noteForm input[name='title']").val(title);
		$("#noteForm textarea[name='description']").val(desc);
		$('#addEditNote').appendTo("body").modal();
	} else if(operation == 'delete') {
		if(confirm('Do you want to delete the note')) {
			$("#noteForm input[name='operation']").val("delete");
			$("#noteForm input[name='id']").val(id);
			$("#noteForm").submit();
		}
	} else {
		$("#myModalLabel").html("ADD NOTE");
		$("#noteForm input[name='operation']").val("add");
		$("#noteForm input[name='id']").val("0");
		$("#noteForm input[name='title']").val("");
		$("#noteForm textarea[name='description']").val("");
		$('#addEditNote').appendTo("body").modal();
	}
}
operationAppointment = function(operation, id) {
	if(operation == 'edit') {
		var formURL = "/carePatien/patientAppointment";
		var postData = {'id':id};
		$.post(formURL, postData, function( data ) {
			if(data != '.') {
				$("#myModalLabel").html("EDIT APPOINTMENT");
				$("#appointmentForm input[name='operation']").val("edit");
				$("#appointmentForm input[name='id']").val(data.id);
				$("#appointmentFormPurpose").select2("val", data.purpose);
				$("#appointmentForm input[name='time']").val(data.appointmenttime);
				$("#appointmentForm input[name='schDate']").val($.datepicker.formatDate('mm/dd/yy', new Date(data.appointmentdate)));
				$("#appointmentForm input[name='center']").val(data.appointmentcenter);
				$("#appointmentForm select[name='memberid']").val(data.caremember.id);
				$("#appointmentForm select[name='memberid']").select2();
				$("#appointmentForm input[name='address1']").val(data.addressid.line1);
				$("#appointmentForm input[name='city']").val(data.addressid.city);
				$("#appointmentForm input[name='state']").val(data.addressid.state);
				$("#appointmentForm input[name='zip']").val(data.addressid.zip);
				$("#appointmentForm input[name='deleteAP']").show();
				$("#appointmentForm input[name='deleteAP']").click(function() {
					operationAppointment('delete',data.id);
				});
 				$('#addEditAppointment .editNote span.editNoteDet').html($.datepicker.formatDate('DD M dd yy', new Date(data.appointmentdate)) + " " + data.appointmenttime + " - " + data.purpose);
				$('#addEditAppointment .editNote').show();
				$('#addEditAppointment').appendTo("body").modal();
			} else {
				alert('Internal server error');
			}
		});
	} else if(operation == 'delete') {
		if(confirm('Do you want to delete the scheduled appointment.')) {
			$("#appointmentForm input[name='operation']").val("delete");
			$("#appointmentForm input[name='id']").val(id);
			$("#appointmentForm").submit();
		}
	} else {
		$("#myModalLabel").html("ADD APPOINTMENT");
		$("#appointmentForm input[name='operation']").val("add");
		$("#appointmentForm input[name='id']").val("0");

		$("#appointmentFormPurpose").select2("val", "1st Appointment With Radiation Oncologist");
		$("#appointmentForm input[name='time']").val("");
		$("#appointmentForm input[name='schDate']").val("");
		$("#appointmentForm input[name='center']").val("Moffitt Cancer Center TVRH");
		$("#appointmentForm select[name='memberid']").val("");
		$("#appointmentForm select[name='memberid']").select2();
		$("#appointmentForm input[name='address1']").val("1400 U.S. Highway 441");
		$("#appointmentForm input[name='city']").val("The Villages");
		$("#appointmentForm input[name='state']").val("FL");
		$("#appointmentForm input[name='zip']").val("32159");
		$('#addEditAppointment .editNote').hide();

		$("#appointmentForm input[name='deleteAP']").hide();
		$('#addEditAppointment').appendTo("body").modal();
	}
}
operationCareTeam = function(operation, id) {
	$('#addEditCareTeam').appendTo("body").modal();
}

operationCareTeamMember = function(operation, id) {
// 	$('#addEditCareTeam').appendTo("body").modal();
	$('#addEditCareMemberTeam').appendTo("body").modal();
}
operationRadiationTreatment = function(operation, id) {
	$('#addRadiationTreatment').appendTo("body").modal();
}
operationChemoTreatment = function(operation, id) {
	$('#addChemoTreatment').appendTo("body").modal();
}

operationCancer = function(operation, id) {
	$('#addEditCaner').appendTo("body").modal();
}


function DrawSparklineDashboardNew(){
// 	setInterval(SparklineLoop, 1000);
	var sparkline_table = [ [1,341], [2,464], [4,564], [5,235], [6,335], [7,535], [8,642], [9,342], [10,765] ];
	$('.td-graph').each(function(){
		var arr = $.map( sparkline_table, function(val, index) {
			return [[val[0], SmallChangeVal([val[1]])]];
		});
		$(this).sparkline( arr ,
			{defaultPixelsPerValue: 13, minSpotColor: null, maxSpotColor: null, spotColor: null,
			height: 35,fillColor: false, lineWidth: 2, lineColor: '#FFF'});
		});
	var sparkline_table = [ [1,641], [2,364], [4,564], [5,735], [6,235], [7,435], [8,342], [9,742], [10,465] ];
	$('.td-symp').each(function(){
		var arr = $.map( sparkline_table, function(val, index) {
			return [[val[0], SmallChangeVal([val[1]])]];
		});
		$(this).sparkline( arr ,
			{defaultPixelsPerValue: 13, minSpotColor: null, maxSpotColor: null, spotColor: null,
			height: 35,fillColor: false, lineWidth: 2, lineColor: '#FFF'});
		});
}
function uploadDone(name) {
	var frame = getFrameByName(name);
	if (frame) {
	    ret = frame.document.getElementsByTagName("body")[0].innerHTML;
	    ret = $.trim(ret);
	    if(ret == 'WF') {
			$(currImage).attr('src', "/public/plugins/tinymce/skins/lightgray/img/loader.gif");
			$("#error").dialog("option","title","Error");
			$("#error .valuelable").html("<div style='width':200px;'>Please upload correct image file.</div>");
			$("#error").dialog('open');
		} else if(ret != ''){
    		$(currImage).attr('src', "/image/showMedicine/"+esnTemp+"?t="+new Date().getTime());

		}
	}
}
var currImage;
var esnTemp;
function getFrameByName(name) {
	for (var i = 0; i < frames.length; i++)
	    if (frames[i].name == name)
	      return frames[i];
	  return null;
}
--></script>