#{set pageType = 'setting' /}
#{extends 'caremain.html' /}
	<link href="/public/plugins/fineuploader/fineuploader-4.3.1.min.css" rel="stylesheet">
<style>
<!--
.table-responsive td:first-child{width: 170px !important;line-height: 40px;
    vertical-align: top;}
    .full-uploader{min-height: 25px !important;}
-->
</style>
	<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
	<div class="row col-xs-12">
 		<div class="col-xs-12 col-sm-12">
 			<h4 class="page-header">Update Profile</h4>
 		</div>
 		<div class="col-xs-12 col-sm-12">
			#{form @Profile.updateProfile() , id:'passForm' }
 			<table class="col-xs-10 col-sm-5 table-condensed">	
 				<tr><td><ul class="list-group" id="errorGroup"></ul></td></tr>
 				
 				<tr>
 					<td>
 						<table class="table-responsive" style="width:100%;">
 							<tr>
 								<td>Username</td>
 								<td>
 								<div class="input-group">
									<input type="text" value="${user.name}" class="form-control" name="userName" placeholder="User Name" required>
									<span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
					    		</div>
								<div class="help-block with-errors"></div>
 								</td>
 							</tr>
 							<tr>
 								<td>Name</td>
 								<td>
 								<div class="input-group">
								<input type="text" class="form-control" value="${userDto.firstName}" name="firstName" placeholder="Name" required>
								<span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
					    	</div>
					    	<div class="help-block with-errors"></div>
 								</td>
 							</tr>
 							<tr>
 								<td style="">Doctor, nurse, etc. </td>
 								<td>
								<div class="input-group">
									<select name="userType" class="form-control">
					 					<option value="5" #{if userDto.user.usertypeid.id == 5}selected#{/if} >Doctor</option>
					 					<option value="4" #{if userDto.user.usertypeid.id == 4}selected#{/if}>Nurse</option>
						    	</select>
					    	</div>
					    	<div class="help-block with-errors"></div>
 								</td>
 							</tr>
 							 <tr>
 								<td style="">Title </td>
 								<td>
								<div class="input-group">
									<select name="designation" class="form-control">
					 					<option value="-1">Select</option>
					 					#{if designations != null}
										    #{list designations, as:'seq'}
										    #{if expertDetail != null}
											    #{if expertDetail.designation != null}
											    	<option #{if expertDetail.designation.id == seq.id}selected#{/if} value="${seq.id}">${seq.designation}</option>
											    #{/if}
											    #{else}
											    	<option value="${seq.id}">${seq.designation}</option>
											    #{/else}
										    #{/if}
										    #{else}
										    	<option value="${seq.id}">${seq.designation}</option>
										    #{/else}
											#{/list}
										#{/if}
					    			</select>
					    	</div>
					    	<div class="help-block with-errors"></div>
 								</td>
 							</tr>
 							<tr>
 								<td>Profile Picture</td>
 								<td>
 									<table>
 									<tr>
 									<td>
 									<img class="profilePic" src="@{Image.show(user.id)}"  height="50" style="margin-top: 0;"/>&nbsp;
 									</td><td>
 										<div class="full-uploader" style="height:20px;"><div id="bootstrapped-fine-uploader"></div></div>
									</td>
									</tr>
									</table>
 								</td>
 							</tr>
 						</table>
					</td>
 				</tr>
 				<tr>
 					<td>
 					<hr/>
 					<div>
					    	<label for="exampleInputEmail1"> Practice Address</label>
						</div>
 						<table class="table-responsive" style="width:100%;">
 							<tr>
 								<td style="width: 150px;">Street</td>
 								<td>
 								<div class="input-group">
								<input type="text" class="form-control" name="street1" placeholder="Street line 1"
								#{if expertDetail != null}
 								#{if expertDetail.practiceAddr != null} 
								value="${expertDetail.practiceAddr.line1}"
								#{/if}
								#{/if}
								>
					    	</div>
							<div class="help-block with-errors"></div>
 								</td>
 							</tr>
 							<tr>
 								<td>&nbsp;</td>
 								<td>
 								<div class="input-group">
								<input type="text" class="form-control" name="street2" placeholder="Line 2"
								#{if expertDetail != null}
 								#{if expertDetail.practiceAddr != null} 
								value="${expertDetail.practiceAddr.line2}"
								#{/if}
								#{/if}
								>
					    	</div>
							<div class="help-block with-errors"></div>
 								</td>
 							</tr>
 							<tr>
 								<td>City</td>
 								<td>
 								<div class="input-group">
								<input type="text" class="form-control" name="city" placeholder="City"
								#{if expertDetail != null}
 								#{if expertDetail.practiceAddr != null} 
								value="${expertDetail.practiceAddr.city}"
								#{/if}
								#{/if}
								>
					    	</div>
							<div class="help-block with-errors"></div>
 								</td>
 							</tr>
 							<tr>
 								<td>State</td>
 								<td>
 								<div class="input-group">
								<input type="text" class="form-control" name="state" placeholder="State"
								#{if expertDetail != null}
 								#{if expertDetail.practiceAddr != null} 
								value="${expertDetail.practiceAddr.state}"
								#{/if}
								#{/if}
								>
					    	</div>
							<div class="help-block with-errors"></div>
 								</td>
 							</tr>
 							<tr>
 								<td>Country</td>
 								<td>
 								<div class="input-group">
								<input type="text" class="form-control" name="country" placeholder="Country"
								#{if expertDetail != null}
 								#{if expertDetail.practiceAddr != null} 
								value="${expertDetail.practiceAddr.country}"
								#{/if}
								#{/if}
								>
					    	</div>
							<div class="help-block with-errors"></div>
 								</td>
 							</tr>
 							<tr>
 								<td>Zip</td>
 								<td>
 								<div class="input-group">
								<input type="text" class="form-control" name="zip" placeholder="Zip"
								#{if expertDetail != null}
 								#{if expertDetail.practiceAddr != null} 
								value="${expertDetail.practiceAddr.zip}"
								#{/if}
								#{/if}
								>
					    	</div>
							<div class="help-block with-errors"></div>
 								</td>
 							</tr>
 							<tr>
 								<td style="width: 115px;">Phone Number</td>
 								<td>
 								<div class="input-group">
								<input type="tel" value="${userDto.mobile}" class="form-control" name="mobile" placeholder="Mobile phone" required>
								<span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
					    	</div>
							<div class="help-block with-errors"></div>
 								</td>
 							</tr>
 							<tr>
 								<td></td>
 								<td>
 								
 								</td>
 							</tr>
 						</table>
					</td>
 				</tr>
 				<tr>
 					<td>
 					<hr/>
 					<div>
					    <label for="exampleInputEmail1"> Professional Statement</label>
					</div>
 					<table style="width:100%;">
 							<tr>
 							<td><div class="input-group">
								<textarea name="statement" style="width:625px;height:100px;">
								#{if expertDetail != null}
									${expertDetail.statement}
								#{/if}
								</textarea>
					    	</div>
							<div class="help-block with-errors"></div></td>
 							</tr>
 					</table>
 							</td>
 							</tr>
 				<tr>
 					<td><hr/>
 					<button type="submit" class="btn btn-default btn-lg btn-block" >Save</button></td>
 				</tr>		
 			</table>
 			#{/form}
 			</div>
 		</div>
	</div>
<!-- <div id="ajax-content"></div> -->
<script type="text/template" id="qq-template-bootstrap">
	<div class="qq-uploader-selector qq-uploader span12">
		<div class="qq-upload-button-selector btn btn-default btn-lg btn-block" style="width: auto;  padding: 5px 10px;"><div>Upload</div>
	</div>
	<ul class="qq-upload-list-selector qq-upload-list"><li></li></ul>
	</div>
</script>

   <script>
<!--
    $(document).ready(function() {
    	SetMinBlockHeight($('.full-uploader'));
    	// Load and run Uploader
    	LoadFineUploader(FileUpload);
    	$('#passForm').validator();
    	var Options = { success: setMessageOnForm };
    	$('#passForm').submit(function() {
            $.ajax({ type: "POST",
              url: "/care/updateCareProfile",
              data: $('#passForm').serialize(),
                  success: function(msg){
                           if (msg.indexOf("Error") === 0) {
                   			var errorText = msg.replace("Error:", "");
                   			$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>" + errorText  +"</li>"); 
                   		} else {
                   			$("#errorGroup").html("<li class='list-group-item list-group-item-success'>" + msg  +"</li>"); 
                   		}
                   },
             error: function(){
            	  $("#errorGroup").html("<li class='list-group-item list-group-item-danger'>Internal server error. Please try again.</li>"); 
                  }
             });
    		
    		return false;
    	});
    });

	setMessageOnForm = function(responseText, statusText, xhr, $form) {
		if (responseText.indexOf("Error") === 0) {
			var errorText = responseText.replace("Error:", "");
			$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>" + errorText  +"</li>"); 
		} else {
			$("#errorGroup").html("<li class='list-group-item list-group-item-success'>" + errorText  +"</li>"); 
		}
	}
	makePrimary = function(email) {
		$.ajax({
			type: "POST",
			url: "/profile/updateAditionalEmail",
			data: {"email":email,"op":"mp"},
			success: function(msg){
				$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>"+msg+"</li>");
			},
			error: function() {
				$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>Internal server error. Please try again.</li>"); 
			}
		});
	} 
	removeEmail = function(email) {
		$.ajax({
			type: "POST",
			url: "/profile/updateAditionalEmail",
			data: {"email":email,"op":"r"},
			success: function(msg){
				$("#emailList").find("[data-for='" + msg + "']").remove();
			},
			error: function() {
				$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>Internal server error. Please try again.</li>"); 
			}
		});
	}
	showEmailBox = function() {
		$("#addEmailBox").show();
	}
	hideEmailBox = function() {
		$("#addEmailBox").hide();
	}
-->
</script>