#{set pageType = 'setting' /}
#{extends 'caremain.html' /}
	<!--Start Content-->
	
	<link href="/public/plugins/fineuploader/fineuploader-4.3.1.min.css" rel="stylesheet">
	<style>
	<!--
	.qq-uploader{width:100px;}
	-->
	</style>
<div id="content" class="col-xs-12 col-sm-10">
	
	<div class="col-xs-12 col-sm-12">
 			<h4 class="page-header">Update Profile</h4>
 		</div>
 		<div class="col-xs-12 col-sm-12">
<div class="full-uploader">
	<div id="bootstrapped-fine-uploader"></div>
</div>
</div>
</div>
<script>
$(document).ready(function () {
	SetMinBlockHeight($('.full-uploader'));
	// Load and run Uploader
	LoadFineUploader(FileUpload);
});
</script>
<!-- Fine Uploader DOM Element
====================================================================== -->
<!-- Fine Uploader template
====================================================================== -->
<script type="text/template" id="qq-template-bootstrap">
	<div class="qq-uploader-selector qq-uploader span12">
		<div class="qq-upload-button-selector btn btn-default btn-lg btn-block" style="width: auto;  padding: 5px 10px;"><div>Upload</div>
	</div>
	<ul class="qq-upload-list-selector qq-upload-list"><li></li></ul>
	</div>
</script>
