<div class="careteam">
    
<div class="col-sm-12 primary-caretaker" style="padding-top:15px;">
  <div class="col-lg-8">
  #{if otherPrimary != null}
      <div class="caretaker">
      <div class="image">
        <a href="javaScript:void(0)"><img src="@{Image.show(0)}" class=""></a>
      </div>
      <h2><a href="javaScript:void(0)}">
      	 ${otherPrimary.name}
      </a></h2>
        <p class="contact">
          <span class="phone">
            ${otherPrimary.telephone}
          </span>
        </p>
      </div>
  #{/if}
   #{if expertBeanHead != null && expertBeanHead.expertDetail != null}
    <div class="caretaker">
      <div class="image">
        <a href="@{Patient.careMember(expertBeanHead.expertDetail.id,careteam.id)}"><img src="@{Image.show(expertBeanHead.expertDetail.id)}" class=""></a>
      </div>
      <h2><a href="@{Patient.careMember(expertBeanHead.expertDetail.id,careteam.id)}">
      	 #{userName userName: expertBeanHead.userDetails.user.name, userId:expertBeanHead.userDetails.user.id /} 
      </a></h2>
        <p class="contact">
          <span class="phone">
            ${expertBeanHead.userDetails.mobile}
          </span>
        </p>
      </div>
       #{/if}
       
  </div>
  <div class="col-lg-4 location">
    <div class="user_first"><i class="fa fa-map-marker"></i> ${careteam.name} CARE TEAM / OFFICE LOCATION </div>
    <div class="row margin_top">
      <div class="col-sm-6">
        <a target="_new" href="http://maps.google.com/maps?saddr=&daddr=${careteam.address.line1}+${careteam.address.line2},${careteam.address.city},${careteam.address.state},${careteam.address.country} - ${careteam.address.zip}">
          <img width="100%" src="http://maps.googleapis.com/maps/api/staticmap?center=${careteam.address.lat},${careteam.address.lang}&maptype=roadmap&zoom=12&size=200x100&scale=false&&markers=color:red%7Csize:small%7C${careteam.address.lat},${careteam.address.lang}">
        </a>
      </div>
      <div class="col-sm-6 map-div">
        <p>${careteam.address.line1} ${careteam.address.line2}</p>
        <p>${careteam.address.city}, ${careteam.address.state}, ${careteam.address.zip}</p>
      </div>
    </div>
    <p>&nbsp;</p>
    <p class="text-center"><a target="_new" href="http://maps.google.com/maps?saddr=&daddr=${careteam.address.line1}+${careteam.address.line2},${careteam.address.city},${careteam.address.state},${careteam.address.country} - ${careteam.address.zip}" class="btn btn-default-small">GET DIRECTIONS</a></p>
  </div>
</div>

<div class="col-lg-12 support">
#{if otherExpert.size() > 0}
    #{list otherExpert, as:'expertBean'}
    <div class="col-lg-4">
        <div class="common_02">
          #{if expertBean.expertDetail != null}
          <div class="supporter">
            <div class="image">
              <a href="@{Patient.careMember(expertBean.expertDetail.id,careteam.id)}"><img src="@{Image.show(expertBean.expertDetail.id)}"></a>
            </div>
            <div class="title col-lg-9">
              #{if expertBean.expertDetail.designation != null}
              <h3> ${expertBean.expertDetail.designation.designation}</h3>
              #{/if}
              <h2>
                <a href="@{Patient.careMember(expertBean.expertDetail.id,careteam.id)}">
                 #{userName userName: expertBean.userDetails.user.name, userId: expertBean.userDetails.user.id /} 
                </a>
              </h2>
              <p class="contact">
                <span class="phone">${expertBean.userDetails.mobile}</span>
                <span class="email">*{ &nbsp;|&nbsp;${expertBean.userDetails.email} }*</span>
              </p>
            </div>
          </div>
          #{/if}
        </div>
    </div>
    #{/list}
#{/if}
#{if others != null && others.size() > 0}
#{list others, as:'expertBean'}
<div class="col-lg-4">
			 <div class="common_02">
			<div class="supporter">
					
					<div class="image"><img src="@{Image.show(0)}"></div>
					  <div class="title col-lg-9">
						  <h3> ${expertBean.title}</h3>
						 <h2>
							<a href="javaScript:void(0);">
							 ${expertBean.name}</a> 
						</h2>
						<p class="contact"><span class="phone">${expertBean.telephone}</span>
						</p>
				
					</div>
				</div>
			</div>
		</div>
     #{/list}
#{/if}
</div>
</div>