#{set pageType = 'diagnosis' /}
#{extends 'patientmain.html' /}
    <!--Start Content-->


<div id="content" class="col-xs-12 col-sm-10">
    #{if patientOtherDetails != null && patientOtherDetails.disease != null && patientOtherDetails.disease.name}
    <div class="col-sm-12">
        <div class="product_tr">
          <p><i class="fa fa-file-text-o"></i> Diagnosis</p>
            <div>${patientOtherDetails.disease.name} 
            #{if patientOtherDetails.dateofdiagnosis}
             | First Diagnosed: ${patientOtherDetails.dateofdiagnosis.format('MM/dd/yyyy')}
            #{/if}
            </div>
        </div>
    <div class="bottom_hr"></div>
    </div>
    #{/if}
    
    #{if patientOtherDetails != null && patientOtherDetails.cancerTypeInfo}
    <div class="col-sm-12">
        <div class="product_tr">
          <p><i class="fa fa-file-text-o"></i> Cancer Type Information</p>
          <div>${patientOtherDetails.cancerTypeInfo}</div>
        </div>
        <div class="bottom_hr"></div>
    </div>
    #{/if}  
    
    #{if patientOtherDetails != null && patientOtherDetails.stage}
    <div class="col-sm-12">
        <div class="product_tr">
          <p><i class="fa fa-file-text-o"></i> Stage Information</p>
          <div>Stage ${patientOtherDetails.stage}</div>
        </div>
        <div class="bottom_hr"></div>
    </div>
    #{/if}  
    
    #{if patientOtherDetails != null && patientOtherDetails.familyHistory}
    <div class="col-sm-12">
        <div class="product_tr">
          <p><i class="fa fa-file-text-o"></i> Family History & Genetics</p>
          <div>${patientOtherDetails.familyHistory}</div>
        </div>
        <div class="bottom_hr"></div>
    </div>
    #{/if}
    
    #{if (patientOtherDetails && (patientOtherDetails.dateofdiagnosis || patientOtherDetails.ec1name || patientOtherDetails.ec1number)) || (userDto && (userDto.dob || userDto.homePhone))}
    <div class="col-sm-12">
       <div class="product_tr">
           <p><i class="fa fa-file-text-o"></i> Patient Information</p>
           #{if patientOtherDetails && patientOtherDetails.dateofdiagnosis}
           <div>Date of Diagnosis: ${patientOtherDetails.dateofdiagnosis.format('MM/dd/yyyy')}</div>
           #{/if}
           #{if patientOtherDetails && (patientOtherDetails.ec1name || patientOtherDetails.ec1number)}
           <div>Support Contact:
           #{if patientOtherDetails.ec1name && patientOtherDetails.ec1number}
           ${patientOtherDetails.ec1name} - ${patientOtherDetails.ec1number} 
           #{/if}
           #{elseif patientOtherDetails.ec1name}
           ${patientOtherDetails.ec1name}
           #{/elseif}
           #{else}
           ${patientOtherDetails.ec1number}
           #{/else}
           </div>
           #{/if}
           #{if userDto.dob}
           <div>DOB: ${userDto.dob.format('MM/dd/yyyy')}</div>
           #{/if}
           #{if userDto.homePhone}
           <div>Phone: ${userDto.homePhone}</div>
           #{/if}
       </div>
    </div>
    #{/if}    
      *{ ****   Below is part of Original Layout Inactive Now
             
<!--            <div class="line-h"></div> -->
           <div class="row margin_top">
           
              <div class="col-sm-6 margin" style="  border-right: 1px solid #F7F7F7;">
<!--                <div class="row"> -->
               
                <div class="col-sm-12">
               <div class="product_tr">
               <p><i class="fa fa-file-text-o"></i> Stage Information</p>
                <h2>Stage III</h2>
                <div class="product_head"><b>Breast Cancer</b> | Stage III, Diagnoses 4/11/2014</div>
                <div class="product_title"><b>T Stage (Tumore Size):</b>T4</div>
                <div class="product_title"><b>N Stage (Asillery Lymphnodes):</b>N3</div>
                <div class="product_title"><b>M Stage (Metastasis):</b>G4</div>
                <div class="product_title"><b>Grade:</b>G4</div>
                <div class="product_title"><b>Location:</b>Lungs</div>
               </div>
               <div class="bottom_hr"></div>
               </div>
                
                <div class="col-sm-12">
               <div class="product_tr">
               <p><i class="fa fa-user"></i> PATIENT INFORMATION</p>
                <div class="product_title02"><b>Date of Diagnosis:</b>01/01/2012</div>
                <div class="product_title02"><b>Support Contact:</b>Jorun jones - 352.750.4227</div>
                <div class="product_title02"><b>DOB:</b>05/20/1975</div>
                <div class="product_title02"><b>Phone:</b>917.710.1927</div>
                <div class="product_title02"><b>Location:</b>Lungs</div><br>
                <div class="product_title02"><b>Height:</b>69 in, | <span>Last Menstrual Period:</span> 04/15/2014</div><br>
             
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            
                            <th></th>
                            <th>PRE-TREATMENT</th>
                            <th>CURRENT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            <td>WEIGHT</td>
                            <td>145/bs</td>
                            <td>20.5</td>
                        </tr>
                        <tr>
                            
                            <td>BMI</td>
                            <td>135/bs</td>
                            <td>18.7</td>
                        </tr>
                        
                    </tbody>
                </table>
                 <div class="note">Comments:Die to size of tumor in breast and painful,
                       matted nodes under arm,neoadjuvant selected</div>
                </div>
                 <div class="bottom_hr"></div>
                </div>
                
<!--                </div>  -->
              </div>
              
              
              <div class="col-sm-6 line-right margin">
                
                <div class="col-sm-12">
               <div class="product_tr">
               <p> <i class="fa fa-file-text-o"></i> CANCER TYPE INFORMATION</p>
                <h2>Er+, Pr+, HER2-</h2>
                <div class="product_title"><b>Type:</b>Invasive Ductal Carcinoma</div>
                <div class="product_title"><b>Recurrence:</b>Yes</div>
                <div class="product_title"><b>Recurrence Date:</b>04.01.2014</div>
                <div class="product_title"><b>Symptoms:</b>Had annual mammogram in april 2011 which showed cyst only.found lump 

under arm in August</div>
               </div>
               <div class="bottom_hr"></div>
               </div>
               
                <div class="col-sm-12">
               <div class="product_tr">
               <p><i class="fa fa-users"></i> FAMILY HISTORY &amp; GENETICS</p>
                <h2>BRCA+</h2>
                <div class="product_title"><b>Family History:</b>(Y)Mother/Sister</div>
               </div>
               <div class="bottom_hr"></div>
               </div>
               
                <div class="col-sm-12">
               <div class="product_tr">
               <p> <i class="fa fa-file-text"></i> ADDITIONAL INFORMATION/CONCERNS</p>
                <div class="product_title02"><b>Concerns:</b>Congestive heart failure</div>
                <div class="product_title02"><b>Echocardiogram:</b>EF = 82%</div>
                <div class="product_title02"><b>MUGA:</b>N/A</div>
                <div class="product_title02"><b>Assitional Comments:</b>N/A</div>
               </div>
               </div>
                
              </div>
              
            </div>
         
<!--             <div class="line-h"></div> -->
             
    
    <div id="ajax-content"></div>
    *}
</div>