#{set pageType = 'setting' /}
#{extends 'patientmain.html' /}
<link rel="stylesheet" media="screen" href="@{'/public/plugins/datepicker/css/datepicker.css'}">
<script src="@{'/public/plugins/datepicker/js/bootstrap-datepicker.js'}"></script>

	<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
	<div class="row">&nbsp;</div>
	<div class="row">
 		<div class="col-xs-12 col-sm-12"><h4 class="page-header">Update Personal Info</h4></div>
 		<div class="col-xs-12 col-sm-12">
			#{form @Profile.updateContact() , id:'contactForm' }
 			<table class="col-xs-10 col-sm-5 table-condensed">	
 				<tr><td><ul class="list-group" id="errorGroup"></ul></td></tr>
 				
 				
 				
 				<tr>
 					<td> 
	 					
 						<div class="form-group for-patient">
					    	<label for="exampleInputEmail1">Date of birth (mm/dd/yyyy)</label>
				    		<div class="form-group for-patient">
				    		 	<div class="input-group">
						    		<input type="text" 
									#{if userDto != null}  
									    value="${userDto.dob.format('MM/dd/yyy')}"
								    #{/if} 
								    class="form-control datepicker" name="dob" value="${flash['userDto.dob']}" placeholder="Date of birth" data-date-format="mm/dd/yyyy" data-date-viewmode="day" data-date-minviewmode="day">
								    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						    	</div>
							</div>
						</div>
 								 					
 							  
					</td>
 				</tr>
 				
 				
  				<tr>
 					<td>
  						<div class="form-group">
				    			<label>Last 4 Digits of Social Security Number</label>
				    			<div class="form-group">
				    		 	<div class="input-group">
						    		<div class="col-xs-5 nopadding">
				    				<input type="text" 
				    	 			#{if userDto != null}  
									    value="${userDto.ssnLast4}"
								    #{/if} 
								    class="form-control" name="ssnLast4" placeholder="0000" data-minlength="4" maxlength="4" >
								</div>
								</div>
								</div>
						</div>
							
					</td>
 				</tr>
				
 				
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Support Contact 1 Name</label>
					    <div class="form-group">
						    <div class="input-group">
						    	<input type="text" maxlength="249"
						    		#{if patientOtherDetails != null}  
						    			value="${patientOtherDetails.ec1name}"
						    		#{/if} 
						    		class="form-control" name="ec1name" placeholder="Support Contact 1 Name" data-toggle="validator"  >
						     
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Support Contact 1 Number</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" maxlength="99" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.ec1number}"
						    #{/if}
						    class="form-control" name="ec1number" placeholder="Support Contact 1 Number" data-toggle="validator"  >
						     
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Support Contact 2 Name</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" maxlength="249" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.ec2name}"
						    #{/if} 
						    class="form-control" name="ec2name" placeholder="Support Contact 2 Name" data-toggle="validator"  >
						    
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				 <tr>
 					<td> 
	 					<div class="form-group">
					    <label>Support Contact 2 Number</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" maxlength="99" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.ec2number}"
						    #{/if} class="form-control" name="ec2number" placeholder="Support Contact 1 Number" data-toggle="validator"  >
						     
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Next of Kin Name</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" maxlength="249" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.kinname}"
						    #{/if} class="form-control" name="kinname" placeholder="Next of Kin Name" data-toggle="validator"  >
						     
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Next of Kin Number</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" maxlength="99" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.kinnumber}"
						    #{/if} class="form-control" name="kinnumber" placeholder="Next of Kin Number" data-toggle="validator"  >
						     
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Healthcare Proxy Name</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" maxlength="249" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.proxyname}"
						    #{/if} class="form-control" name="proxyname" placeholder="Healthcare Proxy Name" data-toggle="validator"  >
						     
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td>
	 					<div class="form-group">
					    <label>Healthcare Proxy Number</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" maxlength="99" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.proxynumber}"
						    #{/if} class="form-control" name="proxynumber" placeholder="Healthcare Proxy Number" data-toggle="validator"  >
						     
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>
					</td>
 				</tr>
 				<tr>
 					<td><button type="submit" class="btn btn-default btn-lg btn-block" >Save</button></td>
 				</tr>		
 			</table>
 			#{/form}
 			</div>
 		</div>
	</div>
   <script>
<!--
    $(document).ready(function() {
    	$('#contactForm').validator();
    	var Options = { success: setMessageOnForm };
    	$('#contactForm').submit(function() {
            $.ajax({ type: "POST",
              url: "/profile/updateContact",
              data: $('#contactForm').serialize(),
                  success: function(msg){
                           if (msg.indexOf("Error") === 0) {
                   			var errorText = msg.replace("Error:", "");
                   			$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>" + errorText  +"</li>"); 
                   		} else {
                   			$("#errorGroup").html("<li class='list-group-item list-group-item-success'>" + msg  +"</li>"); 
                   		}
                   },
             error: function(){
            	  $("#errorGroup").html("<li class='list-group-item list-group-item-danger'>Internal server error. Please try again.</li>"); 
                  }
             });
    		
    		return false;
    	});
	});
	setMessageOnForm = function(responseText, statusText, xhr, $form) {
		if (responseText.indexOf("Error") === 0) {
			var errorText = responseText.replace("Error:", "");
			$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>" + errorText  +"</li>"); 
		} else {
			$("#errorGroup").html("<li class='list-group-item list-group-item-success'>" + errorText  +"</li>"); 
		}
	}

-->
</script>

    <script>
<!--
$(document).ready(function() {
	$('.datepicker').datepicker({onRender: function(date) {
	    return date.valueOf() >= new Date().valueOf() ? 'disabled' : '';
	  }});
	$('#signup').validator();
	var userType = $("#userType").val();
	if(userType == '5' || userType == '4') {
		$(".for-patient").hide();
		$(".for-doctor").show();
	} else {
		$(".for-patient").show();
		$(".for-doctor").hide();
	}
	$("#userType").change(function(){
		var userType = $(this).val();
		if(userType == '5' || userType == '4') {
			$(".for-patient").hide();
			$(".for-doctor").show();
		} else {
			$(".for-patient").show();
			$(".for-doctor").hide();
		} 
	});
});
-->
</script>