#{set pageType = 'setting' /}
#{extends 'patientmain.html' /}
	<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
	<div class="row">&nbsp;</div>
	<div class="row">
 		<div class="col-xs-12 col-sm-12"><h4 class="page-header">Update Key Contact info</h4></div>
 		<div class="col-xs-12 col-sm-12">
			#{form @Profile.updateContact() , id:'contactForm' }
 			<table class="col-xs-10 col-sm-5 table-condensed">	
 				<tr><td><ul class="list-group" id="errorGroup"></ul></td></tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Emergency Contact 1 Name</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text"
						    #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.ec1name}"
						    #{/if} class="form-control" name="ec1name" placeholder="Emergency Contact 1 Name" data-toggle="validator"  required>
						     <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Emergency Contact 1 Number</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text"  #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.ec1number}"
						    #{/if}
						    class="form-control" name="ec1number" placeholder="Emergency Contact 1 Number" data-toggle="validator"  required>
						     <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Emergency Contact 2 Name</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.ec2name}"
						    #{/if} class="form-control" name="ec2name" placeholder="Emergency Contact 2 Name" data-toggle="validator"  required>
						     <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				 <tr>
 					<td> 
	 					<div class="form-group">
					    <label>Emergency Contact 2 Number</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.ec2number}"
						    #{/if} class="form-control" name="ec2number" placeholder="Emergency Contact 1 Number" data-toggle="validator"  required>
						     <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Next of Kin Name</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.kinname}"
						    #{/if} class="form-control" name="kinname" placeholder="Next of Kin Name" data-toggle="validator"  required>
						     <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Next of Kin Number</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.kinnumber}"
						    #{/if} class="form-control" name="kinnumber" placeholder="Next of Kin Number" data-toggle="validator"  required>
						     <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Healthcare Proxy Name</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.proxyname}"
						    #{/if} class="form-control" name="proxyname" placeholder="Healthcare Proxy Name" data-toggle="validator"  required>
						     <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label>Healthcare Proxy Number</label>
					    <div class="form-group">
						    <div class="input-group">
						    <input type="text" #{if patientOtherDetails != null}  
						    value="${patientOtherDetails.proxynumber}"
						    #{/if} class="form-control" name="proxynumber" placeholder="Healthcare Proxy Number" data-toggle="validator"  required>
						     <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
						    </div>
						    <p class="help-block"></p>
						</div>
					    <p class="help-block"></p>
						</div>
					</td>
 				</tr>
 				<tr>
 					<td><button type="submit" class="btn btn-default btn-lg btn-block" >Save</button></td>
 				</tr>		
 			</table>
 			#{/form}
 			</div>
 		</div>
	</div>
   <script>
<!--
    $(document).ready(function() {
    	$('#contactForm').validator();
    	var Options = { success: setMessageOnForm };
    	$('#contactForm').submit(function() {
            $.ajax({ type: "POST",
              url: "/profile/updateContact",
              data: $('#contactForm').serialize(),
                  success: function(msg){
                           if (msg.indexOf("Error") === 0) {
                   			var errorText = msg.replace("Error:", "");
                   			$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>" + errorText  +"</li>"); 
                   		} else {
                   			$("#errorGroup").html("<li class='list-group-item list-group-item-success'>" + msg  +"</li>"); 
                   		}
                   },
             error: function(){
            	  $("#errorGroup").html("<li class='list-group-item list-group-item-danger'>Internal server error. Please try again.</li>"); 
                  }
             });
    		
    		return false;
    	});
	});
	setMessageOnForm = function(responseText, statusText, xhr, $form) {
		if (responseText.indexOf("Error") === 0) {
			var errorText = responseText.replace("Error:", "");
			$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>" + errorText  +"</li>"); 
		} else {
			$("#errorGroup").html("<li class='list-group-item list-group-item-success'>" + errorText  +"</li>"); 
		}
	}

-->
</script>