#{set pageType = 'medication' /}
#{extends 'patientmain.html' /}
<!--Start Content-->
<div class="col-xs-12 col-sm-10 medications page">
  <div class="header">
    <h1><i class="fa fa-clock-o"></i>My Medication Calendar</h1>
  </div>
  <!--
  <div class="medication-calendar">
    <div class="header">
      <h2>Daily Medication Checklist</h2>
    </div>
    <div class="calendar">
      <div class="day">
        <div class="cell-container">
          <div class="cell">
            <div class="header"><h4>Monday <hr /></h4></div>
            <div class="cell-content">
              <img src="/public/images/pill.png" />
              <h3>Tamoxifen</h3>
              <p class="instructions">One <span>(1)</span> pill by mouth</p>

              <div class="recommendations">
                <label>Recommended Time</label>
                <p>Mornings, with Water</p>
              </div>
              <img src="/public/images/oral.png">
            </div>
          </div>
          <div class="cell">
            <div class="header">
              <h3>Herceptin</h3>
              <p class="instructions">Infusion</p>
            </div>
            <div class="cell-content">

              <div class="recommendations">
                <label>To be administered</label>
              </div>
              <img src="/public/images/img51.png">
              <div class="location">
                <h4>Location</h4>
                <p>Careview Center</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="day">
        <div class="cell-container">
          <div class="cell">
            <div class="header"><h4>Tuesday <hr /></h4></div>
            <div class="cell-content">
              <img src="/public/images/pill.png" />
              <h3>Tamoxifen</h3>
              <p class="instructions">One <span>(1)</span> pill by mouth</p>

              <div class="recommendations">
                <label>Recommended Time</label>
                <p>Mornings, with Water</p>
              </div>
              <img src="/public/images/oral.png">
            </div>
          </div>
        </div>
      </div>
      <div class="day">
        <div class="cell-container">
          <div class="cell">
            <div class="header"><h4>Wednesday <hr /></h4></div>
            <div class="cell-content">
              <img src="/public/images/pill.png" />
              <h3>Tamoxifen</h3>
              <p class="instructions">One <span>(1)</span> pill by mouth</p>

              <div class="recommendations">
                <label>Recommended Time</label>
                <p>Mornings, with Water</p>
              </div>
              <img src="/public/images/oral.png">
            </div>
          </div>
        </div>
      </div>
      <div class="day">
        <div class="cell-container">
          <div class="cell">
            <div class="header"><h4>Thursday <hr /></h4></div>
            <div class="cell-content">
              <img src="/public/images/pill.png" />
              <h3>Tamoxifen</h3>
              <p class="instructions">One <span>(1)</span> pill by mouth</p>

              <div class="recommendations">
                <label>Recommended Time</label>
                <p>Mornings, with Water</p>
              </div>
              <img src="/public/images/oral.png">
            </div>
          </div>
          <div class="cell">
            <div class="header">
              <h3>Herceptin</h3>
              <p class="instructions">Infusion</p>
            </div>
            <div class="cell-content">

              <div class="recommendations">
                <label>To be administered</label>
              </div>
              <img src="/public/images/img51.png">
              <div class="location">
                <h4>Location</h4>
                <p>Careview Center</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="day">
        <div class="cell-container">
          <div class="cell">
            <div class="header"><h4>Friday <hr /></h4></div>
            <div class="cell-content">
              <img src="/public/images/pill.png" />
              <h3>Tamoxifen</h3>
              <p class="instructions">One <span>(1)</span> pill by mouth</p>

              <div class="recommendations">
                <label>Recommended Time</label>
                <p>Mornings, with Water</p>
              </div>
              <img src="/public/images/oral.png">
            </div>
          </div>
        </div>
      </div>
      <div class="day">
        <div class="cell-container">
          <div class="cell">
            <div class="header"><h4>Saturday <hr /></h4></div>
            <div class="cell-content">
              <img src="/public/images/pill.png" />
              <h3>Tamoxifen</h3>
              <p class="instructions">One <span>(1)</span> pill by mouth</p>

              <div class="recommendations">
                <label>Recommended Time</label>
                <p>Mornings, with Water</p>
              </div>
              <img src="/public/images/oral.png">
            </div>
          </div>
        </div>
      </div>
      <div class="day">
        <div class="cell-container">
          <div class="cell">
            <div class="header"><h4>Sunday <hr /></h4></div>
            <div class="cell-content">
              <img src="/public/images/pill.png" />
              <h3>Tamoxifen</h3>
              <p class="instructions">One <span>(1)</span> pill by mouth</p>

              <div class="recommendations">
                <label>Recommended Time</label>
                <p>Mornings, with Water</p>
              </div>
              <img src="/public/images/oral.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <div class="row">&nbsp;</div>

  <div class="row">
    #{if medicationList != null && medicationList.size()>0}
    #{list medicationList, as:'seq'}
    <div class="col-xs-12 col-sm-12 nav-tabs">
      <div class="col-sm-6" style="padding-top: 10px;">
        <h3>${seq.medicine.genericname}</h3>
        <p><strong>BRAND NAME: </strong>${seq.medicine.brandname}</p>
        <p><strong>FREQUENCY: </strong>${seq.frequency}</p>
        <p><strong>DATES: </strong>${seq.startdate.format('MM/dd/yyyy')} - ${seq.enddate.format('MM/dd/yyyy')}</p>
        <p><strong>SPECIAL INSTRUCTIONS: </strong>${seq.specialinstruction}</p>
        <p><strong>PRESCRIBING PYSICIAN: </strong>#{userName userName: seq.caremember.name, userId:seq.caremember.id /}</p>
      </div>
      <div class="col-sm-6" style="padding-top: 10px;">
      	#{if seq.method}
<!--        	 <img src="/public/images/${seq.method}.png"/> -->
		${seq.method}
        #{/if}
       #{if seq.medicine.image}
        <img src="/image/showMedicine/${seq.id}"/>
        #{/if}
      </div>
    </div>
    #{/list}
    #{/if}
    #{else}
    <div class="col-xs-12 col-sm-12 nav-tabs">No medication added.</div>
    #{/else}
  </div>
  <div id="ajax-content"></div>
</div>
