#{set pageType = 'medication' /}
#{extends 'patientmain.html' /}
<!--Start Content-->
<div class="medications page">


#{if medicationList != null && medicationList.size()>0}
    #{if currentMedications.size() > 0}
        <div class="row">
            <div class="col-xs-12"><h1>Current Medications</h1></div>
        </div>
        #{list currentMedications, as:'seq'}    
        <div class="medication">    
            <h3>${seq.medicine.genericname}</h3>
            <p><strong>BRAND NAME: </strong>${seq.medicine.brandname}</p>
            <p><strong>FREQUENCY: </strong>${seq.frequency}</p>
            <p><strong>DATES: </strong>${seq.startdate.format('MM/dd/yyyy')} - ${seq.enddate.format('MM/dd/yyyy')}</p>
            <p><strong>SPECIAL INSTRUCTIONS: </strong>${seq.specialinstruction}</p>
            #{if seq.caremember != null}
                <p><strong>PRESCRIBING PYSICIAN: </strong>#{userName userName: seq.caremember.name, userId:seq.caremember.id /}</p>
            #{/if}
            #{if seq.method}<!--<img src="/public/images/${seq.method}.png"/>${seq.method}-->#{/if}
           #{if seq.medicine.image}<img src="/image/showMedicine/${seq.id}"/>#{/if}
        </div>
        #{/list}
    #{/if}

    #{if pastMedications.size() > 0}
        <div class="row">
        	</br>
            <div class="col-xs-12"><h1>Past Medications</h1></div>
        </div>
        #{list pastMedications, as:'seq'}    
        <div class="medication">    
            <h3>${seq.medicine.genericname}</h3>
            <p><strong>BRAND NAME: </strong>${seq.medicine.brandname}</p>
            <p><strong>FREQUENCY: </strong>${seq.frequency}</p>
            <p><strong>DATES: </strong>${seq.startdate.format('MM/dd/yyyy')} - ${seq.enddate.format('MM/dd/yyyy')}</p>
            <p><strong>SPECIAL INSTRUCTIONS: </strong>${seq.specialinstruction}</p>
            #{if seq.caremember != null}
                <p><strong>PRESCRIBING PYSICIAN: </strong>#{userName userName: seq.caremember.name, userId:seq.caremember.id /}</p>
            #{/if}
            #{if seq.method}<!--<img src="/public/images/${seq.method}.png"/>${seq.method}-->#{/if}
           #{if seq.medicine.image}<img src="/image/showMedicine/${seq.id}"/>#{/if}
        </div>
        #{/list}
    #{/if}

#{/if}
#{else}
<div class="row">
    <div class="col-xs-12">No medication added.</div>
</div>
#{/else}
</div>

