#{set pageType = 'setting' /}
#{extends 'patientmain.html' /}
	<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
	<div class="row">&nbsp;</div>
	<div class="row">
 		<div class="col-xs-12 col-sm-12">
 			<h4 class="page-header">Update password</h4>
 		</div>
 		<div class="col-xs-12 col-sm-12">
 		 #{form @Profile.updatePassword() , id:'passForm' }
 			<table class="table-condensed">	
 				<tr><td><ul class="list-group" id="errorGroup"></ul></td></tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
					    <label for="exampleInputEmail1">Current Password</label>
					    <div class="input-group">
					    <input id="inputOldPassword" type="password" class="form-control" name="oldpassword" placeholder="Password" data-toggle="validator" data-minlength="8" required>
					     <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
					    </div>
					    <p class="help-block">Password must be 8 letters or longer and contain at least one number</p>
						</div>			  
					</td>
 				</tr>
 				<tr>
 					<td> 
	 					<div class="form-group">
						    <label for="exampleInputEmail1">New Password</label>
						    <div class="input-group">
						    <input id="inputPassword" type="password" class="form-control" name="password" placeholder="Password" data-toggle="validator" data-minlength="8" required>
						     <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
						    </div>
						    <p class="help-block">Password must be 8 letters or longer and contain at least one number</p>
						</div>			  
		        	</td>
 				</tr>
 				<tr>
 					<td>   
	 					<div class="form-group">
					    <label for="exampleInputEmail1">Verify Password</label>
					    <div class="input-group">
						<input type="password" class="form-control" name="repassword" placeholder="Verify Password" data-match="#inputPassword" data-match-error="Whoops, these don't match" required>
						 <span class="input-group-addon has-error"><i class="fa fa-star"></i></span>
					    </div>
						<div class="help-block with-errors"></div>
						</div>			  
				</td>
 				</tr>
 				<tr>
 					<td><button type="submit" class="btn-primary btn-lg btn-block" >Save</button></td>
 				</tr>		
 			</table>
 			#{/form}
 		</div>
	</div>
	<div id="ajax-content"></div>
</div>
   <script>
<!--
    $(document).ready(function() {
    	$('#passForm').validator();
    	var Options = { success: setMessageOnForm };
    	$('#passForm').submit(function() {
    		alert('sdf');
                 $.ajax({
                     type: "POST",
              url: "/profile/updatepassword",
              data: $('#passForm').serialize(),
                  success: function(msg){
                           if (msg.indexOf("Error") === 0) {
                   			var errorText = msg.replace("Error:", "");
                   			$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>" + errorText  +"</li>"); 
                   		} else {
                   			$("#errorGroup").html("<li class='list-group-item list-group-item-success'>" + msg  +"</li>"); 
                   		}
                   },
              error: function(){
            	  $("#errorGroup").html("<li class='list-group-item list-group-item-danger'>Internal server error. Please try again.</li>"); 
                  }
                    });
    		
    		return false;
    	});
	});

	function setMessageOnForm(responseText, statusText, xhr, $form) {
		if (responseText.indexOf("Error") === 0) {
			var errorText = responseText.replace("Error:", "");
			$("#errorGroup").html("<li class='list-group-item list-group-item-danger'>" + errorText  +"</li>"); 
		} else {
			$("#errorGroup").html("<li class='list-group-item list-group-item-success'>" + errorText  +"</li>"); 
		}
	}
-->
</script>