#{set pageType = 'thrivercareplan' /}
#{extends 'patientmain.html' /}
<div id="content" class="col-xs-12 col-sm-11">

    <div class="container-fluid treatment-plan">
        
        <!-------------   Care Item -------------------->
        <div class="title">
            <h1>Follow-Up Care</h1>
        </div>
        #{if careItems}
        <div class="mobile care-items">
            #{list items:careItems, as:'ci'}
            <div class="follow-up-care-item">
                <h3>${ci.activity}</h3>
                <p><span>Concern: </span>#{if ci.frequency} ${ci.frequency} #{/if}<p>
                <p><span>Frequency: </span>#{if ci.endDate} ${ci.endDate.format('MM/dd/yyyy')} #{/if}#{if ci.ongoing}Ongoing#{/if}<p>
                <p><span>End-Date: </span>#{if ci.purpose} ${ci.purpose} #{/if}<p>
                <p><span>Doctor: </span>#{if ci.doctor} ${ci.doctor} #{/if}</p>
            </div>
            #{/list}
        </div>
        <table class="desktop table table-bordered table-striped table-condensed table-hover table-fixed">
            <tr>
                <th>CONCERN</th>
                <th>FREQUENCY</th>
                <th>END-DATE</th>
                <th>PURPOSE</th>
                <th>DOCTOR</th>
            </tr>
            #{list items:careItems, as:'ci'}
            <tr>
                <td>${ci.activity}</td>
                <td>#{if ci.frequency} ${ci.frequency} #{/if}</td>
                <td>#{if ci.endDate} ${ci.endDate.format('MM/dd/yyyy')} #{/if}#{if ci.ongoing}Ongoing#{/if}</td>
                <td><div>#{if ci.purpose} ${ci.purpose} #{/if}</div></td>
                <td>#{if ci.doctor} ${ci.doctor} #{/if}</td>
            </tr>
            #{/list}
        </table>
       #{/if}
       #{else}<p>None</p>#{/else}
        
        <!-------------   Concern -------------------->
        <div class="title">
	        <h1>Needs / Concerns</h1>
	    </div>
	    #{if concerns}
	    <div class="concerns mobile">
	        #{list items:concerns, as:'concern'}
	        <div class="concern-item">
                <h3>${concern.concern}</h3>
                <p><span>Action Plan: </span>#{if concern.nextStep} ${concern.nextStep} #{/if}</p>
                <p><span>Date of Concern: </span>#{if concern.concernDate} ${concern.concernDate.format('MM/dd/yyyy')} #{/if}</p>
                <p><span>Updates: </span>#{if concern.notes} ${concern.notes} #{/if}</p>
	        </div>
	        #{/list}
	    </div>
	    <table class="table desktop table-bordered table-striped table-condensed table-hover table-fixed">
	        <tr>
	            <th>CONCERN</th>
	            <th>ACTION PLAN</th>
	            <th>DATE OF CONCERN</th>
	            <th>UPDATES</th>
	        </tr>
	        #{list items:concerns, as:'concern'}
	        <tr>
	            <td>${concern.concern}</td>
	            <td>#{if concern.nextStep} ${concern.nextStep} #{/if}</td>
	            <td>#{if concern.concernDate} ${concern.concernDate.format('MM/dd/yyyy')} #{/if}</td>
	            <td><div>#{if concern.notes} ${concern.notes} #{/if}</div></td>
	        </tr>
	        #{/list}
	    </table>
	    #{/if}
	    #{else}<p>None</p>#{/else}
	    
	    <!-------------   Goal -------------------->
	    <div class="title">
	        <h1>Goals</h1>
	    </div>
	    #{if goals}
	    <div class="mobile goals">
	        #{list items:goals, as:'goal'}
            <div class="goal-item">
	            <h3>${goal.goal}</h3>
                <p><span>Action Plan: </span>#{if goal.nextStep} ${goal.nextStep} #{/if}</p>
                <p><span>Goal Start Date: </span>#{if goal.goalDeadline} ${goal.goalDeadline.format('MM/dd/yyyy')} #{/if}</p>
                <p><span>Updates: </span>#{if goal.notes} ${goal.notes} #{/if}</p>
            </div>
	        #{/list}
	    </div>
	    <table class="table desktop table-bordered table-striped table-condensed table-hover table-fixed">
	        <tr>
	            <th>GOAL</th>
	            <th>ACTION PLAN</th>
	            <th>GOAL START DATE</th>
	            <th>UPDATES</th>
	        </tr>
	        #{list items:goals, as:'goal'}
	        <tr>
	            <td>${goal.goal}</td>
	            <td>#{if goal.nextStep} ${goal.nextStep} #{/if}</td>
	            <td>#{if goal.goalDeadline} ${goal.goalDeadline.format('MM/dd/yyyy')} #{/if}</td>
	            <td><div>#{if goal.notes} ${goal.notes} #{/if}</div></td>
	        </tr>
	        #{/list}
	    </table>
	    #{/if}
	    #{else}<p>None</p>#{/else}
	    	    
	    
	   <!-------------   Notes --------------------> 
<!--	   <div style="padding-bottom:20px;">
           <span class="title" style="vertical-align: middle;">NOTES</span>
       </div>-->	
       *{   
       #{include '/tags/note.html' /}
       }* 	   
 
    </div>
</div>
