#{set pageType = 'thrivercareplan' /}
#{extends 'patientmain.html' /}
	<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
	<!-- <div class="row">
		<div id="breadcrumb" class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">My Thriver care Plan</a></li>
		</ol>
		</div>
	</div> -->
	 <div class="grey-box">
            	<div class="row">
            		<div class="col-sm-12">
            			<span style="background-color: #FFFFFF;border: 5px solid #FFFFFF;border-radius: 5px;color: #01AF58;font-size: 10px;font-weight: bold;margin-left: -15px;">PATIENT</span>
            			<span class="text-muted" style="margin-left: 5px;font-size:10px;">LAST UPDATED ${userDto.editdate.format("M/d/yyyy")}</span>
            		</div>
                	<div class="col-sm-6">
                    	<div class="row">
                        	<div class="col-sm-6">
                    			<h3>${userDto.firstName} ${userDto.lastName}</h3>
                                <p><strong>DOB:</strong> #{if userDto.dob != null}${userDto.dob.format("M/d/yyyy")}#{/if}</p>
                                <p><strong>Phone: </strong> ${userDto.homePhone}</p>
                    		</div>
                    		<div class="col-sm-6 border_01">
                    			<h3>&nbsp;</h3>
                                <p><strong>Phone(2):</strong> ${userDto.mobile}</p>
                                <p><strong>Email: </strong> ${userDto.email}</p>
                   			 </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    	<div class="row">
                        	<div class="col-sm-6">
		                    	<p><strong>Support Contact:</strong>support@email.com</p>
		                        <p><strong>Contact Phone:</strong>: 352.751.8000</p>
		                        <p><strong>Contact Email:</strong> test@gmail.com</p>
                    		</div>
                    		<div class="col-sm-6 border_02">
                    	   	#{if patientOtherDetails != null}
                    	   		<p><strong>Diagnosis:</strong> ${patientOtherDetails.disease.name}</p>
                        		<p><strong>Date of Diagnosis:</strong> ${patientOtherDetails.dateofdiagnosis.format('dd.MM.yyyy')}</p>
								<p><strong>Stage:</strong> ${patientOtherDetails.stage}</p>
							#{/if}
							#{else}
                    	   		<p><strong>Diagnosis:</strong> -</p>
                        		<p><strong>Date of Diagnosis:</strong> -</p>
								<p><strong>Stage:</strong> -</p>
							#{/else}
                   			</div>
                        </div>
                    </div>
                </div>
            </div>
	
	<div class="col-xs-12 col-sm-12">
			Welcome on Patient Thriver care Plan
	</div>
	<div id="ajax-content"></div>
</div>