#{set pageType = 'thrivercareplan' /}
#{extends 'patientmain.html' /}
<div id="content" class="col-xs-12 col-sm-11">

    <div class="container-fluid treatment-plan">
        
        <!-------------   Care Item -------------------->
        <div class="title">
            <h3>Follow-Up Care</h3>         
        </div>
        #{if careItems}
        <table class="table table-bordered table-striped table-condensed table-hover table-fixed">
            <tr>
                <th>CONCERN</th>
                <th>FREQUENCY</th>
                <th>END-DATE</th>
                <th>PURPOSE</th>
                <th>DOCTOR</th>
            </tr>
            #{list items:careItems, as:'ci'}
            <tr>
                <td>${ci.activity}</td>
                <td>#{if ci.frequency} ${ci.frequency} #{/if}</td>
                <td>#{if ci.endDate} ${ci.endDate.format('MM/dd/yyyy')} #{/if}#{if ci.ongoing}Ongoing#{/if}</td>
                <td>#{if ci.purpose} ${ci.purpose} #{/if}</td>
                <td>#{if ci.doctor} ${ci.doctor} #{/if}</td>
            </tr>
            #{/list}
        </table>
       #{/if}
       #{else}<p>None</p>#{/else}
        
        <!-------------   Concern -------------------->
        <div class="title">
	        <h3>Needs / Concerns</h3>	        
	    </div>
	    #{if concerns}
	    <table class="table table-bordered table-striped table-condensed table-hover table-fixed">
	        <tr>
	            <th>CONCERN</th>
	            <th>ACTION PLAN</th>
	            <th>DATE OF CONCERN</th>
	            <th>NOTES</th>
	        </tr>
	        #{list items:concerns, as:'concern'}
	        <tr>
	            <td>${concern.concern}</td>
	            <td>#{if concern.nextStep} ${concern.nextStep} #{/if}</td>
	            <td>#{if concern.concernDate} ${concern.concernDate.format('MM/dd/yyyy')} #{/if}</td>
	            <td>#{if concern.notes} ${concern.notes} #{/if}</td>
	        </tr>
	        #{/list}
	    </table>
	    #{/if}
	    #{else}<p>None</p>#{/else}
	    
	    <!-------------   Goal -------------------->
	    <div class="title">
	        <h3>Goals</h3>	        
	    </div>
	    #{if goals}
	    <table class="table table-bordered table-striped table-condensed table-hover table-fixed">
	        <tr>
	            <th>GOAL</th>
	            <th>ACTION PLAN</th>
	            <th>GOAL DEADLINE</th>
	            <th>NOTES</th>
	        </tr>
	        #{list items:goals, as:'goal'}
	        <tr>
	            <td>${goal.goal}</td>
	            <td>#{if goal.nextStep} ${goal.nextStep} #{/if}</td>
	            <td>#{if goal.goalDeadline} ${goal.goalDeadline.format('MM/dd/yyyy')} #{/if}</td>
	            <td>#{if goal.notes} ${goal.notes} #{/if}</td>
	        </tr>
	        #{/list}
	    </table>
	    #{/if}
	    #{else}<p>None</p>#{/else}
	    	    
	    
	   <!-------------   Notes --------------------> 
	   <div style="padding-bottom:20px;">
           <span class="title" style="vertical-align: middle;">NOTES</span>
       </div>
       #{include '/tags/note.html' /} 
	    
    </div>
</div>