#{set pageType = 'treatmentplan' /}
#{extends 'patientmain.html' /}
<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">

	<div class="container-fluid treatment-plan">
		<!-- Raidation Treatment -->
		<div class="title">
			<h3>Radiation Treatment</h3>
		</div>
		#{if radiationTreatments}
		<table class="table table-bordered table-striped table-condensed table-hover">
			<tr>
				<th>Type</th>
				<th>Dose</th>
				<th>Schedule</th>
				<th>Dates</th>
				<th>Region Treated</th>
				<th>Side Effects Experienced</th>
				<th>Notes</th>
			</tr>
			#{list items:radiationTreatments, as:'rt'}
			<tr>
				<td>${rt.rtDto.name}</td>
				<td>#{if rt.dose} ${rt.dose} #{/if}</td>
				<td>#{if rt.rsDto} ${rt.rsDto.timePeriod} #{/if}</td>
				<td>#{if rt.startDate} ${rt.startDate.format('MM/dd/yyyy')} #{/if}
					#{if rt.endDate} - ${rt.endDate.format('MM/dd/yyyy')} #{/if}
				</td>
				<td>#{if rt.trDto} ${rt.trDto.region} #{/if}</td>
				<td>
					#{if rt.prtSeDtos}
					#{list items: rt.prtSeDtos, as:'prtSeDto'}
					#{if prtSeDto_isFirst}
					${prtSeDto.seDto.description}
					#{/if}
					#{else}
					, ${prtSeDto.seDto.description}
					#{/else}
					#{/list}
					#{/if}
				</td>
				<td>#{if rt.notes} ${rt.notes} #{/if}</td>
			</tr>
			#{/list}
		</table>
		#{/if}
		#{else}

		<p>None</p>


		#{/else}
		<!-- Chemotherapy Treatment -->
		<div class="title">
			<h3>Chemotherapy</h3>

		</div>
		#{if chemoTreatments}
		<table class="table table-bordered table-striped table-condensed table-hover">
			<tr>
				<th></th>
				<th># of Cycles</th>
				<th>Schedule</th>
				<th>% Dose Reduction</th>
				<th>Dates</th>
				<th>Side Effects Experienced</th>
				<th>Notes</th>
			</tr>
			#{list items:chemoTreatments, as:'ct'}
			<tr>
				<td>${ct.genericName} (${ct.brandName})</td>
				<td>#{if ct.cycleNo} ${ct.cycleNo} #{/if}</td>
				<td>#{if ct.csDto} ${ct.csDto.timePeriod} #{/if}</td>
				<td>#{if ct.doseReduction} ${ct.doseReduction}% #{/if}</td>
				<td>#{if ct.startDate} ${ct.startDate.format('MM/dd/yyyy')} #{/if}
					#{if ct.endDate} - ${ct.endDate.format('MM/dd/yyyy')} #{/if}
				</td>
				<td>
					#{if ct.pctSeDtos}
					#{list items: ct.pctSeDtos, as:'pctSeDto'}
					#{if pctSeDto_isFirst}
					${pctSeDto.seDto.description}
					#{/if}
					#{else}
					, ${pctSeDto.seDto.description}
					#{/else}
					#{/list}
					#{/if}
				</td>
				<td>#{if ct.notes} ${ct.notes} #{/if}</td>
			</tr>
			#{/list}
		</table>
		#{/if}
		#{else}
		<p>None</p>
		#{/else}
		<!-- Surgery -->
		<div class="title">
			<h3>Surgery</h3>


		</div>
		#{if surgeryInfo}

		<table class="table table-bordered table-striped table-condensed table-hover">
			<tr>
				<th></th>
				<th>Date</th>
				<th>Region Treated</th>
				<th>Side Effects Experienced</th>
				<th>Notes</th>
			</tr>
			#{list items:surgeryInfo, as:'si'}
			<tr>
				<td>${si.stDto.name}</td>
				<td>#{if si.surgeryDate} ${si.surgeryDate.format('MM/dd/yyyy')} #{/if}</td>
				<td>#{if si.trDto} ${si.trDto.region} #{/if}</td>
				<td>
					#{if si.pstSeDtos}
					#{list items: si.pstSeDtos, as:'pstSeDto'}
					#{if pstSeDto_isFirst}
					${pstSeDto.seDto.description}
					#{/if}
					#{else}
					, ${pstSeDto.seDto.description}
					#{/else}
					#{/list}
					#{/if}
				</td>
				<td>#{if si.notes} ${si.notes} #{/if}</td>
			</tr>
			#{/list}
		</table>

		#{/if}
		#{else}

		<p>None</p>

		#{/else}
	</div>
</div>