#{set pageType = 'treatmentplan' /}
#{extends 'patientmain.html' /}
<!--Start Content-->
<div id="content" class="page">

  <div class="container-fluid treatment-plan">
    <!-- Raidation Treatment -->
    <div class="title">
      <h3>Radiation Treatment</h3>
    </div>
    #{if radiationTreatments}
    <table class="radiation-treatment table table-bordered table-striped table-condensed table-hover">
      <tr>
        <th class="type">Type</th>
        <th class="dates">Dates</th>
        <th class="dose">Dose</th>
        <th class="schedule">Schedule</th>

        <th class="region-treated">Region Treated</th>
        <!--<th class="side-effects">Side Effects Experienced</th>-->
        <th class="notes">Notes</th>
      </tr>
      #{list items:radiationTreatments, as:'rt'}
      <tr>
        <td class="type">${rt.rtDto.name}</td>
        <td class="dates">#{if rt.startDate} ${rt.startDate.format('MM/dd/yyyy')} #{/if}
          #{if rt.endDate} - ${rt.endDate.format('MM/dd/yyyy')} #{/if}
        </td>
        <td class="dose">#{if rt.dose} ${rt.dose} #{/if}</td>
        <td class="schedule">#{if rt.rsDto} ${rt.rsDto.timePeriod} #{/if}</td>

        <td class="region-treated">#{if rt.trDto} ${rt.trDto.region} #{/if}</td>
        <!--<td class="side-effects">
          #{if rt.prtSeDtos}
          #{list items: rt.prtSeDtos, as:'prtSeDto'}
          #{if prtSeDto_isFirst}
          ${prtSeDto.seDto.description}
          #{/if}
          #{else}
          , ${prtSeDto.seDto.description}
          #{/else}
          #{/list}
          #{/if}
        </td>-->
        <td class="notes">
          <div>
          #{if rt.notes} ${rt.notes} #{/if}
        </div>
        </td>
      </tr>
      #{/list}
    </table>
    #{/if}
    #{else}

    <p>None</p>


    #{/else}



    <!-- Surgery -->
    <div class="title">
      <h3>Surgery</h3>


    </div>
    #{if surgeryInfo}

    <table class="surgery table table-bordered table-striped table-condensed table-hover">
      <tr>
        <th class="surgery-name"></th>
        <th class="date">Date</th>
        <th class="region">Region Treated</th>
        <!--<th class="side-effects">Side Effects Experienced</th>-->
        <th class="notes">Notes</th>
      </tr>
      #{list items:surgeryInfo, as:'si'}
      <tr>
        <td class="surgery-name">${si.stDto.name}</td>
        <td class="date">#{if si.surgeryDate} ${si.surgeryDate.format('MM/dd/yyyy')} #{/if}</td>
        <td class="region">#{if si.trDto} ${si.trDto.region} #{/if}</td>
        <!--<td class="side-effects">
          #{if si.pstSeDtos}
          #{list items: si.pstSeDtos, as:'pstSeDto'}
          #{if pstSeDto_isFirst}
          ${pstSeDto.seDto.description}
          #{/if}
          #{else}
          , ${pstSeDto.seDto.description}
          #{/else}
          #{/list}
          #{/if}
        </td>-->
        <td class="notes"><div>#{if si.notes} ${si.notes} #{/if}</div></td>
      </tr>
      #{/list}
    </table>

    #{/if}
    #{else}

    <p>None</p>

    #{/else}

    <!-- Chemotherapy Treatment -->
    <div class="title">
      <h3>Chemotherapy</h3>

    </div>
    #{if chemoTreatments}
    <table class="chemotherapy table table-bordered table-striped table-condensed table-hover">
      <tr>
        <th class="treatment-name"></th>
        <th class="dates">Dates</th>
        <th class="cycles"># of Cycles</th>
        <th class="schedule">Schedule</th>
        <th class="dose-reduction">% Dose Reduction</th>

        <!--<th class="side-effects">Side Effects Experienced</th>-->
        <th class="notes">Notes</th>
      </tr>
      #{list items:chemoTreatments, as:'ct'}
      <tr>
        <td class="treatment-name">${ct.genericName} (${ct.brandName})</td>
        <td class="dates">#{if ct.startDate} ${ct.startDate.format('MM/dd/yyyy')} #{/if}
          #{if ct.endDate} - ${ct.endDate.format('MM/dd/yyyy')} #{/if}
        </td>
        <td class="cycles">#{if ct.cycleNo} ${ct.cycleNo} #{/if}</td>
        <td class="schedule">#{if ct.csDto} ${ct.csDto.timePeriod} #{/if}</td>
        <td class="dose-reduction">#{if ct.doseReduction} ${ct.doseReduction} #{/if}</td>

        <!--<td class="side-effects">
          #{if ct.pctSeDtos}
          #{list items: ct.pctSeDtos, as:'pctSeDto'}
          #{if pctSeDto_isFirst}
          ${pctSeDto.seDto.description}
          #{/if}
          #{else}
          , ${pctSeDto.seDto.description}
          #{/else}
          #{/list}
          #{/if}
        </td>-->
        <td class="notes"><div>#{if ct.notes} ${ct.notes} #{/if}</div></td>
      </tr>
      #{/list}
    </table>
    #{/if}
    #{else}
    <p>None</p>
    #{/else}
  </div>
</div>

<script src="/public/plugins/tooltipster-master/js/jquery.tooltipster.min.js"></script>
<script src="/public/js/tableTooltips.js"></script>
<script type="text/javascript" src="/public/js/patient/treatment.js"></script>