#{set pageType = 'treatmentplan' /}
#{extends 'patientmain.html' /}
<!--Start Content-->
<div id="content" class="page">

  <div class="container-fluid treatment-plan">
    <!-- Raidation Treatment -->
    <div class="title">
      <h1>Radiation Treatment</h1>
    </div>
    #{if radiationTreatments}
    
    <div class="mobile radiation-treatment">
      #{list items:radiationTreatments, as:'rt'}
      <div class="treatment-item">
        <h3>${rt.rtDto.name}</h3>
        <p><span>Dates: </span> #{if rt.startDate} ${rt.startDate.format('MM/dd/yyyy')} #{/if}
          #{if rt.endDate} - ${rt.endDate.format('MM/dd/yyyy')} #{/if}</p>
          <p><span>Dose: </span>#{if rt.dose} ${rt.dose} #{/if}</p>
          <p><span>Schedule: </span>#{if rt.rsDto} ${rt.rsDto.timePeriod} #{/if}</p>
          <p><span>Region Treated: </span>:#{if rt.trDto} ${rt.trDto.region} #{/if}</p>

          <p><span>Doctor: </span>#{if rt.doctor} ${rt.doctor} #{/if}<p>
          <p><span>Notes: </span> #{if rt.notes} ${rt.notes} #{/if}</p>
      </div>
      #{/list}
  </div>
    <table class="desktop radiation-treatment table table-bordered table-striped table-condensed table-hover">

      <thead>
      <tr>
        <th class="col-sm-3">Type</th>
        <th class="col-sm-1">Dates</th>
        <th class="col-sm-1">Dose</th>
        <th class="col-sm-1">Total Dose</th>
        <th class="col-sm-1">Schedule</th>
        <th class="col-sm-1">Region Treated</th>
        <th class="col-sm-2">Doctor</th>        
        <th class="col-sm-3">Notes</th>
      </tr>
    </thead>
    <tbody>
      #{list items:radiationTreatments, as:'rt'}

      <tr>
        <td>${rt.rtDto.name}</td>
        <td>#{if rt.startDate} ${rt.startDate.format('MM/dd/yyyy')} #{/if}
          #{if rt.endDate} - ${rt.endDate.format('MM/dd/yyyy')} #{/if}
        </td>
        <td>#{if rt.dose} ${rt.dose} #{/if}</td>
        <td #{if !rt.totalDose}style="text-align:center;vertical-align:middle"#{/if}>#{if rt.totalDose} ${rt.totalDose} #{/if}#{else}-#{/else}</td>
        <td>#{if rt.rsDto} ${rt.rsDto.timePeriod} #{/if}</td>

        <td>#{if rt.trDto} ${rt.trDto.region} #{/if}</td>        
        <td>#{if rt.doctor} ${rt.doctor} #{/if}</td>
        <td>
          <div>
          #{if rt.notes} ${rt.notes} #{/if}
        </div>
        </td>
      </tr>
      #{/list}
    </tbody>
    </table>
    #{/if}
    #{else}

    <p>None</p>


    #{/else}



    <!-- Surgery -->
    <div class="title">
      <h1>Surgery</h1>


    </div>
    #{if surgeryInfo}

    <div class="surgery mobile">
      #{list items:surgeryInfo, as:'si'}
      <div class="surgery-item">
          <h3>${si.stDto.name}</h3>
          <p><span>Date: </span>#{if si.surgeryDate} ${si.surgeryDate.format('MM/dd/yyyy')} #{/if}</p>
          <p><span>Region: </span>#{if si.trDto} ${si.trDto.region} #{/if}</p>
          <p><span>Doctor: </span>#{if si.doctor} ${si.doctor} #{/if}</p>
          <p><span>Notes: </span>#{if si.notes} ${si.notes} #{/if}</p>
      </div>
      #{/list}
    </div>
    <table class="surgery desktop table table-bordered table-striped table-condensed table-hover">
      <thead>
      <tr>
        <th class="col-sm-3"></th>
        <th class="col-sm-1">Date</th>
        <th class="col-sm-3">Region Treated</th>
        <th class="col-sm-2">Doctor</th>
        <th class="col-sm-3">Notes</th>
      </tr>
      </thead>
      <tbody>
      #{list items:surgeryInfo, as:'si'}
      <tr>
        <td>${si.stDto.name}</td>
        <td>#{if si.surgeryDate} ${si.surgeryDate.format('MM/dd/yyyy')} #{/if}</td>
        <td>#{if si.trDto} ${si.trDto.region} #{/if}</td>
        <td>#{if si.doctor} ${si.doctor} #{/if}</td>
        <td><div>#{if si.notes} ${si.notes} #{/if}</div></td>
      </tr>
      #{/list}
    </tbody>
    </table>

    #{/if}
    #{else}

    <p>None</p>

    #{/else}

    <!-- Chemotherapy Treatment -->
    <div class="title">
      <h1>Chemotherapy</h1>

    </div>
    #{if chemoTreatments}
    <div class="chemotherapy mobile">
      #{list items:chemoTreatments, as:'ct'}
      <div class="chemotherapy-item">
        <h3>${ct.genericName} (${ct.brandName})</h3>
        <p><span>Dates: </span>#{if ct.startDate} ${ct.startDate.format('MM/dd/yyyy')} #{/if}
          #{if ct.endDate} - ${ct.endDate.format('MM/dd/yyyy')} #{/if}
        </p>
        <p><span># of Cycles: </span>>#{if ct.cycleNo} ${ct.cycleNo} #{/if}</p>
        <p><span>Schedule: </span>#{if ct.csDto} ${ct.csDto.timePeriod} #{/if}</p>
        <p><span>% Dose Reduction: </span>#{if ct.doseReduction} ${ct.doseReduction} #{/if}</p>
        <p><span>Doctor: </span>#{if ct.doctor} ${ct.doctor} #{/if}</p>
        <p><span>Notes: </span>#{if ct.notes} ${ct.notes} #{/if}</p>
    </div>
      #{/list}
  </div>
    <table class="chemotherapy desktop table table-bordered table-striped table-condensed table-hover">
      <thead>
      <tr>
        <th class="col-sm-3"></th>
        <th class="col-sm-1">Dates</th>
        <th class="col-sm-1"># of Cycles</th>
        <th class="col-sm-1">Schedule</th>
        <th class="col-sm-1">% Dose Reduction</th>
        <th class="col-sm-2">Doctor</th>
        <th class="col-sm-3">Notes</th>
      </tr>
    </thead>
    <tbody>
      #{list items:chemoTreatments, as:'ct'}

      <tr>
        <td>${ct.genericName} (${ct.brandName})</td>
        <td>#{if ct.startDate} ${ct.startDate.format('MM/dd/yyyy')} #{/if}
          #{if ct.endDate} - ${ct.endDate.format('MM/dd/yyyy')} #{/if}
        </td>
        <td>#{if ct.cycleNo} ${ct.cycleNo} #{/if}</td>
        <td>#{if ct.csDto} ${ct.csDto.timePeriod} #{/if}</td>
        <td>#{if ct.doseReduction} ${ct.doseReduction} #{/if}</td>
        <td>#{if ct.doctor} ${ct.doctor} #{/if}</td>
        <td><div>#{if ct.notes} ${ct.notes} #{/if}</div></td>
      </tr>
      #{/list}
    </tbody>
    </table>
    #{/if}
    #{else}
    <p>None</p>
    #{/else}
  </div>
  <h5 style="font-size:16px;">* This summary is a brief record of major aspects of your cancer treatment. You can share your copy with any of your doctors or nurses. However, this is not a detailed or comprehensive record of your care.</h5>
</div>