    <!-- patient summary -->

<!-- <div class=""> -->
    
     <!--  -->
     <div class="patient-summary col-sm-12">
     	
     	<div class="col-sm-4 nopadding">
     			<div class="col-sm-12 nopadding">
     				<div class="col-sm-3 nopadding">
     				<div class="patient-image nopadding">
	       		<img class="profilePic" src="@{Image.show(ps.userId)}">
	     	</div>
     				</div>
     				<div class="col-sm-9">
     				<h3> ${ps.firstName} ${ps.lastName}</h3>
			<div class="validate">
					 #{if ps.invited}
        	<button type="button" class="btn btn-sm btn-success" disabled>Invited</button>
        	<button class="btn btn-sm" id="print-pages" patientId="${ps.userId}">Print Pages</button>
        	<button class="btn btn-sm btn-danger" id="re-invite" senttoday="no" patient_id="${ps.userId}" onclick="careTeamController.evtMsgHandler('inviteAgain', this);">Resend Invite Email</button>
        #{/if}
        #{else}
          #{if ps.isVerified}
          <button type="button" class="btn validate_btn1 btn-sm btn-success" verified="yes" patient_id="${ps.userId}" onclick="careTeamController.evtMsgHandler('toggle_validate', this);">Validated</button>
          #{/if}
          #{else}
          <button type="button" class="btn validate_btn1 btn-sm btn-danger" verified="no" patient_id="${ps.userId}" onclick="careTeamController.evtMsgHandler('toggle_validate', this);">Validate Now</button>
          #{/else}
          <button class="btn btn-sm" id="print-pages" patientId="${ps.userId}">Print Pages</button>
		  #{/else}
					<div class="btn-group" id="btn-group" style="margin-top: 5px; ">
						<button type="button" style="min-width:180px;padding-left: 5px;"
							class="btn btn-sm print_plan" id="printplan" given=#{if
							ps.count}"yes"#{/if} #{else}"no" #{/else} patient_id="${ps.userId}">
							#{if ps.count}<span class="badge" id="printbadge"
								>${ps.count}</span>Given&nbsp;#{/if}#{else}Give&nbsp;#{/else}Printed Care Plan
						</button>
						<div class="btn-group">
							<button id="btn-dropdown" given=#{if
								ps.count}"yes"#{/if} #{else}"no" #{/else} class="btn print_plan dropdown-toggle"
								style="height: 30px; border-left: 1px solid #fff;"
								data-toggle="dropdown">
								<span class="caret" style="margin-left: 3px;"></span>
							</button>
							<ul class="dropdown-menu note-dropdown"
								style="background-color: #686868;height: auto;">
								<li style="margin:5px 5px 0 5px;padding:5px 5px 0 5px;"><textarea
										placeholder="Add comment" id="note-text" class="form-control"
										style="resize: none;" rows="3"></textarea></li>
										<li class="li-msg"><span id="li-error">500 characters remaining.</span></li>
								<li style="float: right;margin:0 5px 5px 5px;padding:0 5px 0 5px;"><button type="button" class="btn"
										id="addnote">Give Print</button></li>
										
							</ul>
						</div>
					</div>
				</div>
			<!-- validate -->
		<div class="disease">
          #{if ps.disease}
          <p>${ps.disease}</p>
          #{/if}
          <p>
            #{if ps.stage}
            ${ps.stage}
            #{/if}
            #{if ps.er}
            , ER${ps.er}
            #{/if}
            #{if ps.pr}
            , PR${ps.pr}
            #{/if}
            #{if ps.her2}
            , HER2${ps.her2}
            #{/if}
            #{if ps.brca}
            , BRCA${ps.brca}
            #{/if}
          </p>
        </div><!-- disease -->
     				</div>
     			</div>	
	     	 
	     	
     	
     	
     	</div>
     	<div class="col-sm-4">
     	
     	<div class="primary-information">
         #{if ps.dob}
         <p><span>DOB:</span> ${ps.dob.format('M/dd/yyyy')}</p>
         #{/if}
         #{if ps.mobilePhone}
         <p><span>Mobile Phone:</span> ${ps.mobilePhone}</p>
         #{/if}
         #{if ps.phone}
         <p><span>Phone:</span> ${ps.phone}</p>
         #{/if}
         <p><span>Email:</span> ${ps.email}</p>
       </div>
       <div class="secondary-information">

         #{if ps.dateOfDiagnosis}
         <p><span>Date of Diagnosis:</span> ${ps.dateOfDiagnosis.format('M/dd/yyyy')}</p>
         #{/if}
         #{if ps.ec1Name || ps.ec1Number}
         <p><span>Support Contact:</span> ${ps.ec1Name} ${ps.ec1Number}</p>
         #{/if}
       </div>
     	</div>
     	<div class="col-sm-4 appointments">
     	 <!-- <p class="next-appointment"><span>Next Appointment:</span> 06/06/05</p> -->
        #{if ps.nextAppointment}
        <p class="next-appointment"><span>Next Appointment:</span> ${ps.nextAppointment.format('M/dd/yyyy')}
          #{if ps.nextPurpose} (${ps.nextPurpose}) #{/if}
        </p>
        #{/if}

        #{if ps.lastAppointment}
        <p class="last-appointment"><span>Last Appointment:</span> ${ps.lastAppointment.format('M/dd/yyyy')}
          #{if ps.lastPurpose} (${ps.lastPurpose}) #{/if}
        </p>
        #{/if}
     	</div>
     	</div>
       
      
      
<!--   </div>row -->	
     
<!-- </div> -->
<style>
 
.note-dropdown li
{
	margin-left: 5px;
	padding-left:5px;
	margin-right: 5px;
	padding-right:5px;
}
span#printbadge
{
	margin-right: 3px; 
	min-width:25px;
}
.li-msg
{
	margin:1px 5px 1px 5px;
	padding:1px 5px 1px 5px;
	color:white;
	text-shadow:1px 1px black;
	font-size:12px;		
}

.note-dropdown 
{
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#printplan[given="yes"] #printbadge
{	
	background-color:#457FB2;
}

#printplan[given="no"]
{
	padding-left:10px;
}
</style>
