*{ parameters are : lastDistress, lastWeekProblems, lastMonthProblems, lastThreeMonthProblems, lastSixMonthProblems, lastYearProblems, allProblems }*
#{set lastDistress: _lastDistress /}
#{set lastWeekProblems: _lastWeekProblems /}
#{set lastMonthProblems: _lastMonthProblems /}
#{set lastThreeMonthProblems: _lastThreeMonthProblems /}
#{set lastSixMonthProblems: _lastSixMonthProblems /}
#{set lastYearProblems: _lastYearProblems /}
#{set allProblems: _allProblems /}

<div class="print-distress-data">
	<h1>Distress</h1>
#{if lastDistress}
	<p>Last Updated ${lastDistress.distressDate.format('MM/dd/yyyy')}</p>
	<p>${lastDistress.curDist} - 
	#{if lastDistress.curDist < 5}
		MILD DISTRESS
    #{/if}
    #{if lastDistress.curDist == 5}
		MEDIUM DISTRESS
	#{/if}
    #{if lastDistress.curDist > 5}
		SEVERE DISTRESS
    #{/if}
	</p>
	
	
	
	#{if allProblems?.size() > 0}
	<h2>All Problems</h2>
	<div class="clearfix">
		#{list items: allProblems, as: 'problem'}
		<div class="col-xs-4">	
		<p>- ${problem}</p>
		</div>
        #{/list}
	</div>
	#{/if}
#{/if}	
</div>