*{ parameters are : careTeams }*
#{set careTeams: _careTeams /}


<div class="print-care-team">
	<h1>Care Team Members</h1>
#{if careTeams != null && careTeams.size() > 0}	
#{list careTeams, as:'team'}	
	#{set careTeam: team.careTeam /}
	#{set primaryExpert: team.primaryExpert /}
	#{set otherPrimaryCareMember: team.otherPrimaryCareMember /}
	#{set experts: team.experts /}
	#{set otherCareMembers: team.otherCareMembers /}
	<div class="clearfix">
	
		<h2><i class="fa fa-table"></i>${careTeam.name} CARE TEAM</h2>
		
		#{if otherPrimaryCareMember != null}
			<div class="col-xs-6 care-team-box">
				<div class="col-xs-3">
				<img src="@{Image.show(0)}">
				</div>
				<div class="col-xs-9">
					<div>${otherPrimaryCareMember.title}</div>
					<div>${otherPrimaryCareMember.name}</div>
					<div>${otherPrimaryCareMember.telephone}</div>
				</div>
			</div>
		#{/if}		
		
		#{if primaryExpert != null}
			<div class="col-xs-6 care-team-box">
				<div class="col-xs-3">
				<img src="@{Image.show(primaryExpert.expertDetail.id)}">
				</div>
				<div class="col-xs-9">
					<div>${primaryExpert.expertDetail?.designation?.designation}</div>
					<div>#{userName userName: primaryExpert.userDetails?.user?.name, userId: primaryExpert.userDetails?.user?.id /}</div>
					<div>${primaryExpert.userDetails?.mobile}</div>
				</div>
			</div>
		#{/if}
			
		#{list experts, as: 'expert'}
			#{if expert != null}
				<div class="col-xs-6 care-team-box">
					<div class="col-xs-3">
					<img src="@{Image.show(expert.expertDetail.id)}">
					</div>
					<div class="col-xs-9">
						<div>${expert.expertDetail?.designation?.designation}</div>
						<div>#{userName userName: expert.userDetails?.user?.name, userId: expert.userDetails?.user?.id /}</div>
						<div>${expert.userDetails?.mobile}</div>
					</div>
				</div>
			#{/if}
		#{/list}
		
		#{list otherCareMembers, as: 'otherMember'}
			#{if otherMember != null}
				<div class="col-xs-6 care-team-box">
					<div class="col-xs-3">
					<img src="@{Image.show(0)}">
					</div>
					<div class="col-xs-9">
						<div>${otherMember.title}</div>
						<div>${otherMember.name}</div>
						<div>${otherMember.telephone}</div>
					</div>
				</div>
			#{/if}
		#{/list}
	
	</div>


#{/list}
#{/if}
#{else}
	<p>No Data found</p>    
#{/else}
</div>