*{ parameters are : user, userDetails, patientDetails, cancerInfo }*
#{set user: _user /}
#{set userDetails: _userDetails /}
#{set patientDetails: _patientDetails /}
#{set cancerInfo: _cancerInfo /}

<div class="clearfix print-summary">
	<div class="col-xs-3">
		${userDetails?.firstName + " " + userDetails?.lastName}<br>
#{if cancerInfo}
		${cancerInfo?.diseaseName}<br>
#{/if}
#{if cancerInfo.diseaseId == '1'}
#{set info: [] /}		
#{if cancerInfo.stageName} %{ info.add(cancerInfo.stageName); }% #{/if}
#{if cancerInfo.er} %{ info.add("ER" + cancerInfo.er); }% #{/if}
#{if cancerInfo.pr} %{ info.add("PR" + cancerInfo.pr); }% #{/if}
#{if cancerInfo.her2} %{ info.add("HER2" + cancerInfo.her2); }% #{/if}
#{if cancerInfo.brca} %{ info.add("BRCA" + cancerInfo.brca); }% #{/if}
		${info.join(', ')}
#{/if}
	</div>
	
	<div class="col-xs-3">
		DOB: ${userDetails?.dob?.format('MM/dd/yyyy')}<br>
		PHONE: ${userDetails?.homePhone}
	</div>
	<div class="col-xs-6">
		DATE OF DIAGNOSIS: ${patientDetails?.dateofdiagnosis?.format('MM/dd/yyyy')}<br>
		SUPPORT CONTACT: ${patientDetails?.ec1name}<br>
		${patientDetails?.ec1number}
	</div>	
</div>


