*{ parameters are : concerns, goals, careItems, noteList }*
#{set concerns: _concerns /}
#{set goals: _goals /}
#{set careItems: _careItems /}
#{set noteList: _noteList /}



<div class="print-care-plan">
	<h1>Ongoing Care Plan</h1>
	
	<h2>Follow-Up Care</h2>
	
#{if careItems}       
	<table border="1">
		<thead>
			<tr>
				<th>ACTIVITY</th>
				<th>FREQUENCY</th>
				<th>END-DATE</th>
				<th>PURPOSE</th>
				<th>DOCTOR</th>
			</tr>
		</thead>
		<tbody>
#{list items:careItems, as:'ci'}		
			<tr>
				<td>${ci.activity}</td>
				<td>#{if ci.frequency} ${ci.frequency} #{/if}</td>
				<td>#{if ci.endDate} ${ci.endDate.format('MM/dd/yyyy')} #{/if}#{if ci.ongoing}Ongoing#{/if}</td>
				<td>#{if ci.purpose} ${ci.purpose.printMessage()} #{/if}</td>
				<td>#{if ci.doctor} ${ci.doctor} #{/if}</td>
			</tr>
#{/list}
		</tbody>
	</table>
#{/if}
#{else}
	<p>None</p>
#{/else}

	<h2>Follow-Up Notes</h2>
	#{list noteList, as:'seq'}	
	#{if seq.noteSection == 'followupcare' }		
	<div class="para">
		<div style="margin-bottom: 10px;">
		<h3 style="margin-bottom: 5px;">${seq.noteTitle}</h3>
		#{if (seq.noteBy && seq.noteDate)}
		<small>#{userName userName: seq.noteBy.name, userId:seq.noteBy.id /}, ${seq.noteDate.format('M/dd/yyyy h:m a')}</small>
		#{/if}
		</div>
		<div>${seq.noteDesc.raw()}</div>	
	</div>
	<div class="line"></div>
	#{/if}	
	#{/list}
	

	<h2>Needs / Concerns</h2>	
#{if concerns}       
	<table border="1">
		<thead>
			<tr>
				<th>CONCERN</th>
				<th>ACTION PLAN</th>
				<th>DATE OF CONCERN</th>
				<th>UPDATES</th>
			</tr>
		</thead>
		<tbody>
#{list items:concerns, as:'concern'}		
			<tr>
				<td>${concern.concern}</td>
				<td>#{if concern.nextStep} ${concern.nextStep.printMessage()} #{/if}</td>
				<td>#{if concern.concernDate} ${concern.concernDate.format('MM/dd/yyyy')} #{/if}</td>
				<td>#{if concern.notes} ${concern.notes} #{/if}</td>
			</tr>
#{/list}
		</tbody>
	</table>
#{/if}
#{else}
	<p>None</p>
#{/else}


	<h2>Goals</h2>	
#{if goals}       
	<table border="1">
		<thead>
			<tr>
				<th>GOAL</th>
				<th>ACTION PLAN</th>
				<th>GOAL START DATE</th>
				<th>UPDATES</th>
			</tr>
		</thead>
		<tbody>
#{list items:goals, as:'goal'}		
			<tr>
				<td>${goal.goal}</td>
				<td>#{if goal.nextStep} ${goal.nextStep.printMessage()} #{/if}</td>
				<td>#{if goal.goalDeadline} ${goal.goalDeadline.format('MM/dd/yyyy')} #{/if}</td>
				<td>#{if goal.notes} ${goal.notes} #{/if}</td>
			</tr>
#{/list}
		</tbody>
	</table>
#{/if}
#{else}
	<p>None</p>
#{/else}


</div>