#{set pageType = 'about' /}
#{extends 'outermain.html' /}
<style>
<!--
.jumbotron {
    background-color: #428BCA;
    color: inherit;
    margin-bottom: 30px;
    padding: 30px;
}
.footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    padding-top: 19px;
}
-->
</style>
<div class="container">

	<div class="row marketing">
		<div class="col-lg-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">
			<h1 class="txt-info">Moffitt TVRH Navigator</h1>
			<br/><br/>
			
			Our mission is to support and guide patients through treatments step-by-step, providing the right information at the right time to eliminate confusion and reduce uncertainty and fear.  
			<br/><br/>The TVRH Navigator enables convenient communication with the care team and checks on patients at multiple points during treatments to track progress and personalize treatments.
			<br/><br/>The TVRH Navigator enables patients to better understand their situation, prepare for what's next, and plan out their lives.
			 <br/><br/><br/><br/><br/><br/><br/><br/> 

      </div>
	</div>
</div> <!-- /container -->