#{extends 'outermain.html' /}
<!-- <link rel="stylesheet" media="screen" href="@{'/public/css/static.css'}"> -->
<style>
<!--
.jumbotron {
    background-color: #428BCA;
    color: inherit;
    margin-bottom: 30px;
    padding: 30px;
}
.footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    padding-top: 19px;
}
-->
</style>
<div class="container">
<!-- 	<div class="header">
		<h3 class="text-muted">MOFFITT - Navigator</h3>
	</div> -->
	<div class="row marketing">
		<div class="col-lg-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">
			<div class="log_heading">Thank You!</div>
			<div class="log_p">
			<br/>
			We will notify about your distress status to concern team.
			<br/><br/>
			<i class="txt-info">Please feel free update your distress status any time next by logging in to your account.</i>
			<br/><br/>
			If you have any problems, questions, or concerns, Please contact <a href="mailto:support@cfhalliance.org">support@cfhalliance.org</a> or call us at  <a href="tel:8009999999">800.999.9999.</a>
			<br/><br/>
			Click <a href="/"> here </a> to return to the Moffitt Cancer Center - TVRH Navigator.
			</div>
      </div>
	</div>
	<div class="footer">
		<p>&copy; Copyright 2014 - Talk About Health</p>
	</div>
</div><!-- /container -->