#{set pageType = 'pagenotfound' /}
#{extends 'outermain.html' /}

<!-- <link rel="stylesheet" media="screen" href="@{'/public/css/static.css'}"> -->
 <style>
<!--
.jumbotron {
    background-color: #428BCA;
    color: inherit;
    margin-bottom: 30px;
    padding: 30px;
}
.footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    padding-top: 19px;
}
-->
</style>
<div class="container">
	<div class="row marketing">
		<div class="col-lg-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">
			<h1 class="txt-info">Thank You!</h1>
			<br/><br/>
			Page you are looking for is not found. Please try other URL.
      </div>
	</div>
	<div class="footer">
		<p>&copy; Copyright 2014 - Talk About Health</p>
	</div>
</div> <!-- /container -->