.index {
	h3, h4 {
		/* I'd really like to make this a global style. Can I? - Kevin */
		color: @gray;
	}

	h3 {
		padding-bottom: @padding;
	}

	> .row{
		border-bottom: 1px solid @section-border;
		padding-bottom: @padding;
		margin-bottom: @padding;
	}
}

.preparation {
	border-right: 1px solid @section-border;
}



.appointment {
	padding: 0 @padding @padding @padding;

	span.time {
		font-weight: bold;
	}
	.appointment-location {
		padding-right: 0;
		padding-left: 0;

		border: 1px solid @section-border;

		img {
			display: block;
		}


	}

	.appointment-information {
		padding: 0 @padding;
	}


	.appointment-with {
		padding: @padding 0;
	}

}

	.caretaker-image {
		float: left;
		margin-right: @padding;
		max-width: 120px;

		img {
			max-width: 100%;
		}
	}
.preparation-checklist {
	max-width: 600px;


	.item {
		width: 50%;
		float: left;
		padding-bottom: @padding;
	}

	label {
		display: inline;
		color: @gray;
	}
}
.my-care-team {
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin-bottom: @padding;

		&:after {
			content: "";
			clear: both;
			display: block;
		}
	}

	.caretaker-info {
		float: left;
	}

	h4, .secondary-information {
		float: left;
		margin: 10px 10px 10px 0;
	}

	p.phone {
		clear: both;
	}
}

.whats-next {
	text-align: center;
	padding: @padding;

	img {
		max-width: 60%;
	}
}