.my-appointments {
  p {
    font-size: @medium-font;

  }

  .toggle-text-container {
    text-align: right;
  }

  .purpose-of-appointment {
    span {
      display: block;
      margin-top: 10px;
    }
  }
}
