.my-appointments {

  p {
    font-size: @large-font;

  }

  .toggleText.button {

    font-size: @medium-font;

    span.ui-accordion-header-icon {
      margin-top: 2px;
      margin-left: 5px;
      float: right;
    }
  }

  .purpose-of-appointment {
    span {
      display: block;
      margin-top: 10px;
    }
  }
}
