#{if cover_page || all}
#{printCoverPage user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{/if}

#{if diagnosis || all}
#{printSummary user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{printDiagnosis user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{/if}

#{if treatment_plan || all}
#{printSummary user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{printTreatmentPlan radiationTreatments: radiationTreatments, chemoTreatments: chemoTreatments, surgeryInfo: surgeryInfo /}
#{/if}

#{if follow_up_care_plan || all}
#{printSummary user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{printCarePlan concerns: concerns, goals: goals, careItems: careItems /}
#{/if}

#{if care_team || all}
#{printSummary user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{printCareTeam careTeams: careTeams /}
#{/if}

#{if appointments || all}
<div>Appointments</div>
#{/if}

#{if medications || all}
<div>Medications</div>
#{/if}

#{if distress_data || all}
<div>Distress Data</div>
#{/if}
