#{if diagnosis || all}
#{printSummary user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{printDiagnosis user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{/if}

#{if treatment_plan || all}
#{printSummary user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{printTreatmentPlan radiationTreatments: radiationTreatments, chemoTreatments: chemoTreatments, surgeryInfo: surgeryInfo /}
#{/if}

#{if follow_up_care_plan || all}
#{printSummary user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{printCarePlan concerns: concerns, goals: goals, careItems: careItems, noteList: noteList /}

#{/if}

#{if care_team || all}
#{printSummary user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{printCareTeam careTeams: careTeams /}
#{/if}

#{if appointments || all}
#{printSummary user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{printAppointments futureAppointments: futureAppointments, pastAppointments: pastAppointments /}
#{/if}

#{if medications || all}
#{printSummary user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{printMedications currentMedications: currentMedications, pastMedications: pastMedications /}
#{/if}

#{if distress_data || all}
#{printSummary user: user, userDetails: userDetails, patientDetails: patientDetails, cancerInfo: cancerInfo /}
#{printDistress lastDistress: lastDistress, lastWeekProblems: lastWeekProblems,  lastMonthProblems: lastMonthProblems, lastThreeMonthProblems: lastThreeMonthProblems, lastSixMonthProblems: lastSixMonthProblems, lastYearProblems: lastYearProblems, allProblems: allProblems /}

#{/if}
