/* Measurements */
@header-height: 98px;

/* Colors */
@table-border: #125ca2;
@light-gray: #cdcdcd;
@gray: #858b91;
@dark-gray: #515151;
@table-gradient: #f8f8f8;
@primary-caretaker-border: #ececec;
@blue: #2a6496;

/* Screen Sizes */
@tablet-min: 767px;

