#{extends 'outermain.html' /}

 <div id="log_contaner" class="myform forgot-container">
	<div class="log_center"> <br/>
        <div class="log_heading">Re-generate a password.</div>
		 <br/>
			<form action="@{Application.forgotForm()}" method="post" id="loginForm">
				<fieldset>
					#{ifErrors}
					   #{errors}
					     <p class="alert alert-danger">${error}</p>
					   #{/errors}
					#{/ifErrors}
					#{if flash.error}
					<p class="alert alert-danger">&{flash.error}</p>
					#{/if} #{if flash.success}
					<!--
					<p class="alert alert-success">&{flash.success}
					<span class="success">Your username and password were sent to you email.
					    	Please sign in <a href='@{Secure.login()}'>here</a>.</span>
					    	</p>-->
					
					<p class="alert alert-success">
                           <span class="success">We've sent a new password to your email address.</br></br>
                           Please enter your new password at the Moffitt TVRH Navigator <a href='@{Secure.login()}'>login page</a> and then reset your password.</span>
                    </p>
                    
                    #{/if}
					
					
					
					<div class="input-group input-group-lg">
					<span class="input-group-addon"><img alt="" src="/public/images/em-img.png"></span>
						<input class="form-control" placeholder="Enter Email Address"
							name="email" type="email" id="email"
							value="${flash.email}" autofocus required
							data-match-error="Wrong email address" data-error="Please provide value for email">
							<div class="help-block with-errors"></div>
					</div>
<!-- 					<input type="submit" class="btn btn-lg btn-primary btn-block my-btn-log" id="signin" value="Send me a new one" /> -->
					<p class="text-center"><button type="submit" type="button" id="signin" class="btn-primary btn-lg btn-block">Send me a new one</button></p>
				</fieldset>
			</form>
		<br/>
        <br/>
        <div class="line-or">
        	<span>OR</span>
        </div>
       <p class="text-center"> <a href="@{Application.create()}" class="btn btn-primary btn-lg btn-block my-btn-register">register now</a></p>
        <p class="log_p">We'll guide you through your treatment journey step by step. What to expect, how to prepare, next steps, reminders, and notifications to stay on track with treatments.</p>
        <div align="center">
          <a href="@{Static.contact()}" class="btn btn-default btn-lg my-btn-cont">Contact us</a>
        </div>
<!-- 	 <div class="footer" style="clear:both;"><p>&copy; Copyright 2014 - Talk About Health</p></div> -->
</div>
</div>
<script>
<!--
    $(document).ready(function() {
    	$('#loginForm').validator();
	});
-->
</script>