#{set pageType = 'index' /}
#{extends 'outermain.html' /}
<style>
<!--
.jumbotron {
    background-color: #428BCA;
    color: inherit;
    margin-bottom: 30px;
    padding: 30px;
}
.footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    padding-top: 19px;
}
-->
</style>
<!-- <link rel="stylesheet" media="screen" href="@{'/public/css/static.css'}"> -->
 
    <div class="container">
    
      <div class="jumbotron">
        <h1>Navigator</h1>
        <p class="lead">TalkAboutHealth’s cancer care optimization, navigation, and coaching system</p>
        <p><a class="btn btn-lg btn-success" href="@{Application.create()}" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>All where</h4>
          <p>Use navigator from web, mobile tab.</p>

          <h4>Support</h4>
          <p>Get instant support using mobile, call sms. Contact your NP today.</p>

          <h4>Clinical Information</h4>
          <p>All your clinical information at one location. Everything is accessible from everywhere.</p>
        </div>

        <div class="col-lg-6">
          <h4>Health Care Organization</h4>
          <p>Contact us today to improve your workflow improvements.</p>

          <h4>Patients</h4>
          <p>It's for you get everying about your health need at one place.</p>

          <h4>Care Team</h4>
          <p>Improve your performance by utilizing the great tools provided.</p>
        </div>
      </div>

<div class="footer">
		<p>&copy; Copyright 2014 - Talk About Health</p>
	</div>

    </div> <!-- /container -->