<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:og="http://ogp.me/ns#"
		xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="TalkAboutHealth" />
	<meta name="robots" content="all" />
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin : TAH Navigator</title>
	<link rel="shortcut icon" href="@{'/public/img/favicon.ico'}" />
	<style type="text/css">
		<!--
		body,#sidebar-left,#breadcrumb {
			background: #777 url('/public/img/devoops_pattern_b10.png') 0 0 repeat !important;
		}
		div#ajax-panel {
		   background-color: #FFFFFF !important;
		    border-radius: 0 0 10px 10px;
		    color: #FF0000;
		    display: none;
		    left: 48%;
		    padding: 2px 10px;
		    position: fixed;
		    top: 0;
		     z-index: 2001;
		}
		#content{ padding:0px 0 0 0 }
		.table{FONT-SIZE:11px;}
		.navbar{ background-color: #00509b; /*border-bottom: 3px solid #000000;*/ }
		-->
	</style>
		<link href="/public/plugins/bootstrap/bootstrap.css" rel="stylesheet">
		<link href="/public/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
		<link href="/public/css/font-awesome.css" rel="stylesheet">
		<link href='/public/css/righteous.css' rel='stylesheet' type='text/css'>
		<link href="/public/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
		<link href="/public/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
		<link href="/public/plugins/xcharts/xcharts.min.css" rel="stylesheet">
		<link href="/public/plugins/select2/select2.css" rel="stylesheet">
		<link href="/public/css/style.css" rel="stylesheet">
		<!--End Container-->
		<script src="/public/plugins/jquery/jquery-2.1.0.min.js"></script>
		<script src="/public/plugins/jquery-ui/jquery-ui.min.js"></script>
		<script src="/public/plugins/bootstrap/bootstrap.min.js"></script>
		<script src="/public/plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
		<script src="/public/plugins/tinymce/tinymce.min.js"></script>
		<script src="/public/plugins/tinymce/jquery.tinymce.min.js"></script>
		<script src="/public/js/validator.min.js"></script>
		<script src="/public/js/devoops.js"></script>

</head>
<body>
<div id="ajax-panel">Loading <i class="fa fa-spinner fa-spin"></i></div>
	<div id="screensaver">
		<canvas id="canvas"></canvas>
		<i class="fa fa-lock" id="screen_unlock"></i>
	</div>
	<div id="modalbox">
		<div class="devoops-modal">
			<div class="devoops-modal-header">
				<div class="modal-header-name">
					<span>Basic table</span>
				</div>
				<div class="box-icons">
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="devoops-modal-inner">
			</div>
			<div class="devoops-modal-bottom">
			</div>
		</div>
	</div>
	<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div  class="col-xs-12 col-sm-2 logo-div">
				<div class="logo-div"><img src="/public/images/moffitt-logo.png" height="90"></div>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10" style="box-shadow: 0 -3px 6px 0 #000; height: 124px;">
				<div class="row">
					<div class="col-xs-8 col-sm-4" style="padding: 10px;">
						<a href="#" class="show-sidebar">
						  <i class="fa fa-bars"></i>
						</a>
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">
						<ul class="nav navbar-nav pull-right panel-menu" style="padding-top: 40px;padding-right: 10px;">
							<!-- <li class="hidden-xs">
								<a href="#" class="modal-link">
									<i class="fa fa-bell"></i>
									<span class="badge">7</span>
								</a>
							</li>
							<li class="hidden-xs">
								<a class="ajax-link" href="#">
									<i class="fa fa-calendar"></i>
									<span class="badge">7</span>
								</a>
							</li>
							<li class="hidden-xs">
								<a href="#" class="ajax-link">
									<i class="fa fa-envelope"></i>
									<span class="badge">7</span>
								</a>
							</li> -->
							<li class=""><a href="/logout" style="font-size: 25px;"><i class="fa fa-power-off"></i></a></li>
							<!--
							<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									<div class="avatar">
										<img src="/public/img/avatar.jpg" class="img-rounded" alt="avatar" />
									</div>
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome">Welcome,</span>
										<span>${user.name}</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span class="hidden-sm text">Profile</span>
										</a>
									</li>
									<li>
										<a href="#" class="ajax-link">
											<i class="fa fa-envelope"></i>
											<span class="hidden-sm text">Messages</span>
										</a>
									</li>
									<li>
										<a href="#" class="ajax-link">
											<i class="fa fa-tasks"></i>
											<span class="hidden-sm text">Tasks</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-cog"></i>
											<span class="hidden-sm text">Settings</span>
										</a>
									</li>
									<li>
										<a href="/logout">
											<i class="fa fa-power-off"></i>
											<span class="hidden-sm text">Logout</span>
										</a>
									</li>
								</ul>
							</li>
							 -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid" style="position: absolute;top: 120px;width: 100%;">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					#{if pageType == 'dashboard'}<a href="#" class="active">#{/if}
					#{else}<a href="@{Admin.index()}">#{/else}
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">Dashboard</span>
					</a>
				</li>
				<li class="dropdown">
					#{if pageType == 'allmemberlist'}<a href="#" class="active">#{/if}
					#{else}<a href="@{Admin.allMemberList()}">#{/else}
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">All Members</span>
					</a>
				</li>
				<li class="dropdown">
					#{if pageType == 'careteam'}<a href="#" class="active">#{/if}
					#{else}<a href="@{Admin.careTeam()}">#{/else}
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">Care Teams</span>
					</a>
				</li>
			</ul>
		</div>
		#{doLayout /}
	</div>
</div>
</body>
</html>