<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="TalkAboutHealth" />
  <meta name="robots" content="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="@{'/public/img/favicon.ico'}" />
  <title>TVRH Navigator</title>
  <link href="/public/css/styles.less" rel="stylesheet/less" />
  <link href="/public/css/care/styles.less" rel="stylesheet/less" />
  <script src="/public/js/lib/less-1.7.4.min.js"></script>
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />    

  <!--End Container-->
  #{ mixpanel /}
  <script src="/public/plugins/jquery/jquery-2.1.0.min.js"></script>
  <script src="/public/plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="/public/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/public/plugins/datepicker1/bootstrap-datepicker.js"></script>
  <script src="/public/plugins/typeahead/bootstrap3-typeahead.min.js"></script>
  <script src="/public/plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
  <script src="/public/plugins/tinymce/tinymce.min.js"></script>
  <script src="/public/plugins/tinymce/jquery.tinymce.min.js"></script>
  <script src="/public/plugins/timeago/jquery.timeago.js"></script>
  <script src="/public/js/validator.min.js"></script>
  <script src="/public/js/devoops.js"></script>
  <script src="/public/plugins/tooltipster-master/js/jquery.tooltipster.min.js"></script>
  <script src="/public/plugins//moment/moment.min.js"></script>
  <script src="/public/js/tableTooltips.js"></script>
  <script src="/public/js/care/dashboard.js"></script>
  <script type="text/javascript" src="@{'/public/plugins/flot/jquery.flot.js'}"></script>
  <script type="text/javascript" src="@{'/public/plugins/flot/jquery.flot.time.js'}"></script>
  <script src="/public/js/lib/bootstrap-multiselect.js"></script>
  <script src="/public/js/careteamController.js?d=28112014"></script>
  <script src="/public/js/lib/bootbox.min.js"></script>

  <style>
  .infomarker { cursor: pointer !important; }
  div.title{margin-bottom: 10px;}
h1 { line-height: 36px !important; }
#diagnosis-edit-form .checkbox > input { position: relative !important; }
 ul.multiselect-container.dropdown-menu{margin: 0px !important;padding:0px;}
  .ui-autocomplete{z-index: 1051 !important;}
    .modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}
.modal-body .control-label {
    text-align: right;
}
.progress {
    overflow: visible;
    margin-top: 10px;
    margin-bottom: 20px; 
    margin-left: 15px;
    height: 300px;
    width: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 4px;
    background-color: #F5F5F5;
    color: #2A6496;
    background-image: linear-gradient(to top, #FFF 0%, #FF6429 100%);
    font-size: 14px;
    line-height: 1.42857;
}
.progress .no-distress {
    position: absolute;
    bottom: 0px;
    margin-left: 50px;
    width: 150px;
}

.progress .extreme-distress {
    position: absolute;
    top: 0px;
    margin-left: 50px;
    width: 150px;
}
.progress .distress-amount {
    position: absolute; 
    margin-left: 50px; 
    width: 240px; 
    color: #000000;
    font-weight:normal; 
    text-align: left;
}
.progress-bar {        
    border-radius: 4px;
    font-size: 12px;
    line-height: 20px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
    transition: width 0.6s ease 0s;
}
.progress-bar.ui-widget-content {
    background: none repeat scroll 0% 0% transparent;
    border: 0px none;
    height: 100%;
    position: relative;
}
.progress-bar.ui-slider-vertical {
    width: 20px;
}
.progress-bar.ui-slider-vertical .ui-state-default{
    border-radius: 15px;
    height: 30px;
    left: 0;
    margin-left: -5px;
    width: 30px;
    background: none repeat scroll 0px 0px #FFF;
    border: 5px solid #428BCA;
    box-shadow: 13px 0px 4px 0px #CCC;
    cursor: pointer;
    outline: medium none;
}    
.progress-bar .ui-widget-header {
  background: url("/public/plugins/jquery-ui/images/animated-overlay.gif") repeat scroll 0 0;
  background-color: #428BCA;
  color: #F8F8F8;
  border: 5px solid #D8D8D8 !important;
  border-radius: 0 0 10px   10px ;
}

a.date-range.active {
    font-weight: bold;
    color: #000;
}
  </style>

</head>
<body class="care">

  <div class="wrapper">
    <div class="header">
      <div class="logo">
        <img src="/public/images/moffitt-logo.png"  />
      </div><!-- logo -->
      <div class="account">
        <div class="account-container">
          <div class="account-info">
            <div class="account-image">
              <img src="@{Image.show(user.id)}" />
            </div>
            <div class="account-data">
              <p class="today-date">Thusday 4/24/2014</p>
              <h3>#{userName userName: user.name, userId:user.id /}</h3>
              <p class="last-login">Last Login: <span id="time-ago">${session.get("lastLoginTime")}</span></p>
            </div>
          </div><!-- account-info -->
          #{if searchPatient}
            <div style="padding-top: 20px;margin-left: 35%;"><input type="text" id="care-search-patients" class="form-control input-sm" style="width: 200px;" placeholder="Search Patients"></div>
          #{/if}
          <div class="account-actions">
            <ul class="btngroup">
                    	<li>
                        <a href="#" class="button rounded"  data-toggle="dropdown">Settings</a>
								<ul class="dropdown-menu">
<!-- 									<li><a href="@{Care.setting()}"><i class="fa fa-spinner"></i><span class="hidden-sm text">Profile Image [Test]</span></a></li> -->
									<li><a href="@{Care.profile()}"><i class="fa fa-inbox"></i><span class="hidden-sm text">Edit Profile</span></a></li>
									<li><a href="@{Care.education()}"><i class="fa fa-user"></i><span class="hidden-sm text">Edit Education</span></a></li>
									<li><a href="@{Care.experties()}"><i class="fa fa-user"></i><span class="hidden-sm text">Edit Expertise</span></a></li>
									<li><a href="@{Care.certifications()}"><i class="fa fa-user"></i><span class="hidden-sm text">Edit Certifications</span></a></li>
 									<li><a href="@{Care.password()}"><i class="fa fa-lock"></i><span class="hidden-sm text">Edit Password</span></a></li>
 									<li><a href="@{Care.contact()}"><i class="fa fa-lock"></i><span class="hidden-sm text">Edit Contact Info</span></a></li>
								</ul>
							</li>
                         <li><a class="button rounded" href="/logout">Log Out</a></li>
                    </ul>
                    <nav class="navbar2 navbar-default" role="navigation">
              <div style=" text-align: center;width: 30px;margin-top: 25px;">
                <a type="button" style="cursor: pointer;position: relative;" data-toggle="collapse" data-target="#example-navbar-collapse">
                  <i class="fa fa-bars"></i>
                </a>
              </div>
              <div style=" height: 1px;overflow-x: hidden;" id="example-navbar-collapse">
                <div class="menu">
                  <ul class="nav navbar-nav">
					         <li><a href="#" class="active"><i class="fa fa-bell"></i><span class="coun-n">2</span></a></li>
<!-- 					         <li> <a href="#"><i class="fa fa-pencil"></i></a></li> -->
					         <li> <a href="#"><i class="fa fa-cog"></i></a></li>
                    <li><a href="/logout"><i class="fa fa-power-off"></i></a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div><!-- account-container -->

      </div><!-- account -->





    </div><!-- header -->
    <div class="body">
      <div class="sidebar">
        <ul class="nav main-menu">
          <li>
            #{if pageType == 'dashboard'}<a href="#" class="active">#{/if}
            #{elseif pageType == 'patient1'}<a href="@{Care.index()}" class="active">#{/elseif}
            #{else}<a href="@{Care.index()}">#{/else}
            <i class="fa fa-inverse fa-user"></i>
            <span class="hidden-xs">Patient Dashboard</span>
          </a>
        </li>
		<li>
            #{if pageType == 'invite'}<a href="#" class="active">#{/if}
            #{else}<a href="@{Care.invite()}">#{/else}
            <i class="fa fa fa-inbox"></i>
            <span class="hidden-xs">Invite New patient</span>
          </a>
        </li>
        <!--
        <li class="dropdown">
          #{if pageType == 'report'}<a href="#" class="active">#{/if}
          #{else}<a href="@{Care.report()}">#{/else}
          <i class="fa fa-bar-chart-o"></i>
          <span class="hidden-xs">Patient Reports</span>
        </a>
      </li>-->
    </ul>
  </div><!-- nav -->
  <div class="content">
    #{doLayout /}
  </div><!-- content -->  
</div><!-- body -->
<div class="footer-terms-policy">
        <div class="shadow"></div>
        <div><small><a href="https://tvrhnavigator.com/static/tos" target="_blank">Terms of Service</a> - <a href="https://tvrhnavigator.com/static/privacy" target="_blank">Privacy Policy</a></small></div>            
        <div><small>Copyright ${new Date().format('yyyy')} TalkAboutHealth</small></div>
    </div>
    </div><!-- wrapper -->







<!-- ------------------------ All Care Team Modal-Templates Here  [START] ------------------------------- -->

<div class="modal"  id="diagnosis-edit-form" tabindex="-1" role="dialog" aria-labelledby="diagnosisEditFormTitle" init-flag="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="diagnosisEditFormTitle">Edit Diagnosis Info</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-condensed" role="form">
                    <div class="form-group form-group-sm">
                        <label for="disease" class="col-xs-5 control-label">Disease</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="disease">
                                <option></option>
	                        </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="first-diagnosed" class="col-xs-5 control-label">First Diagnosed</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control input-sm" id="first-diagnosed" placeholder="MM/DD/YYYY"/>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="er_div">
                        <label for="er" class="col-xs-5 control-label">Hormone and Her2 Status</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="er">
                                <option value="na"></option>
                                <option value="yes">ER+</option>
                                <option value="no">ER-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="pr_div">
                        <div class="col-xs-offset-5 col-xs-7">
                            <select class="form-control input-sm" id="pr">
                                <option value="na"></option>
                                <option value="yes">PR+</option>
                                <option value="no">PR-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="her2_div">
                        <div class="col-xs-offset-5 col-xs-7">
                            <select class="form-control input-sm" id="her2">
                                <option value="na"></option>
                                <option value="yes">HER2+</option>
                                <option value="no">HER2-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="cancertype_div">
                        <label for="cancertype" class="col-xs-5 control-label">Cancer Type</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="cancertype">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="stage_div">
                        <label for="stage" class="col-xs-5 control-label">Stage</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="stage">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="invasiveness_div">
                        <label for="invasiveness" class="col-xs-5 control-label">Invasiveness</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="invasiveness">
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="grade_div">
                        <label for="grade" class="col-xs-5 control-label">Grade</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="grade">
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="phase_div">
                        <label for="phase" class="col-xs-5 control-label">Phase</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="phase">
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="fab_div">
                        <label for="fab" class="col-xs-5 control-label">FAB Classification</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="fab">
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="who_div">
                        <label for="who" class="col-xs-5 control-label">WHO Classification</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="who">
                            </select>
                        </div>
                    </div>
                     <div class="form-group form-group-sm" id="chromosome_div">
                        <label for="grade" class="col-xs-5 control-label">Chromosome</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="chromosome" multiple="multiple">
                            </select>
                        </div>
                    </div>

                    <div class="form-group form-group-sm" id="cancersubtype_div">
                        <label for="cancersubtype" class="col-xs-5 control-label">Subtype</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="cancersubtype">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="risklevel_div">
                        <label for="stage" class="col-xs-5 control-label">Risk Level</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="risklevel">
                                <option>Low</option>
                                <option>Moderate</option>
                                <option>High</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="psascore_div">
                        <label for="stage" class="col-xs-5 control-label">PSA Score</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control input-sm" id="psascore"/>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="gleasonscore_div">
                        <label for="stage" class="col-xs-5 control-label">Gleason Score</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="gleasonscore">
                                <option>X</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                    </div>
					<div class="form-group form-group-sm" id="mutation_div">
                        <label for="stage" class="col-xs-5 control-label">Genetics</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="mutations" multiple="multiple">
                                <option></option>
                            </select>
                        </div>
                    </div>
	                <div class="form-group form-group-sm" id="brca_div">
                        <label for="brca" class="col-xs-5 control-label">BRCA+</label>
                        <div class="col-xs-7">
                            <select class="form-control input-sm" id="brca">
                                <option value="na"></option>
			                    <option value="yes">Yes</option>
			                    <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="brca_div">
                        <label for="brca" class="col-xs-5 control-label">Family Risk Assessment</label>
                        <div class="col-xs-7">
                            <textarea class="form-control input-sm" id="family-risk" rows="3"></textarea>
                        </div>
                    </div>                    
                </form>
		    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" id="save-diagnosis-data">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="radiation-treatment-form" tabindex="-1" role="dialog" aria-labelledby="rtFormTitle" init_flag="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="rtFormTitle">Radiation Treatment Form</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-condensed" role="form">
                    <div class="form-group form-group-sm has-error has-feedback" id="rt_type_div">
                        <label for="rt_type" class="col-xs-4 control-label">Type Of Radiation</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="rt_type" placeholder="i.e. 3D-CRT (Three dimensional conformal radiation therapy)">
                            <span class="glyphicon glyphicon-remove form-control-feedback" id="rt_type_icon"></span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="rt_dose" class="col-xs-4 control-label">Dose</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="rt_dose" placeholder="i.e. 60Gy" data-provide="typeahead">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="rt_schedule" class="col-xs-4 control-label">Schedule</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="rt_schedule" placeholder="i.e. 5x per week" data-provide="typeahead">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="rt_start_date" class="col-xs-4 control-label">Dates</label>
                        <div class="col-xs-7 input-daterange" id="datepickerRangeRadForm" >
			                    <input type="text" class="form-control input-sm" id="rt_start_date" placeholder="MM/DD/YYYY">
			                    <span class="add-on">to</span>
			                    <input type="text" class="form-control input-sm" id="rt_end_date" placeholder="MM/DD/YYYY">
			            </div>
			            <!--
                        <div class="col-xs-3">
                            <input type="text" class="form-control input-sm" id="rt_start_date" placeholder="YYYY-MM-DD">
                        </div>
                        <div class="col-xs-1">
                            &mdash;
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control input-sm" id="rt_end_date" placeholder="YYYY-MM-DD">
                        </div>
                         -->
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="rt_region" class="col-xs-4 control-label">Region Treated</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="rt_region" placeholder="i.e. Left breast" data-provide="typeahead">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="rt_doctor" class="col-xs-4 control-label">Doctor</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="rt_doctor" placeholder="i.e. Dr. Jorge Freire" data-provide="typeahead">
                        </div>
                    </div>
                    <!--<div class="form-group form-group-sm">
                        <label for="rt_side_effects" class="col-xs-4 control-label">Side Effects Experienced</label>
                        <div class="col-xs-8">
                        	<div class="col-xs-12 nopadding" id="rt_side_effects_div"></div>
                        	<div class="col-xs-12 nopadding">
                            	<input type="text" class="form-control input-sm" id="rt_side_effects" placeholder="i.e. Fatigue" data-provide="typeahead">
                        	</div>
                        </div>
                    </div>-->
                    <!--
                    <div class="form-group form-group-sm">
                     	<label for="rt_side_effects" class="col-xs-4 control-label"></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="rt_side_effects" placeholder="i.e. Fatigue" data-provide="typeahead">
                        </div>
                    </div>
                     -->
                    <div class="form-group form-group-sm">
                        <label for="rt_notes" class="col-xs-4 control-label">Note</label>
                        <div class="col-xs-8">
                            <textarea rows="3" class="form-control input-sm" id="rt_notes"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" id="add-radiation-treatment">Save</button>
                <button type="button" class="btn btn-default" id="remove-radiation-treatment">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="chemotherapy-treatment-form" tabindex="-1" role="dialog" aria-labelledby="cttFormTitle" init_flag="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="cttFormTitle">Chemotherapy Treatment Form</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-condensed" role="form">
                    <div class="form-group form-group-sm has-error has-feedback" id="ctt_gn_div">
                        <label for="ctt_gn" class="col-xs-4 control-label">Generic Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="ctt_gn" placeholder="i.e. Paclitaxel" data-provide="typeahead">
                            <span class="glyphicon glyphicon-remove form-control-feedback" id="ctt_gn_icon"></span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm has-error has-feedback" id="ctt_bn_div">
                        <label for="ctt_bn" class="col-xs-4 control-label">Brand Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="ctt_bn" placeholder="i.e. Taxotere" data-provide="typeahead">
                            <span class="glyphicon glyphicon-remove form-control-feedback" id="ctt_bn_icon"></span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="ctt_cycle" class="col-xs-4 control-label"># of Cycles</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="ctt_cycle" placeholder="i.e. 3" data-provide="typeahead">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="ctt_schedule" class="col-xs-4 control-label">Schedule</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="ctt_schedule" placeholder="i.e. 1x per day" data-provide="typeahead">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="ctt_dose" class="col-xs-4 control-label">Dose Reduction</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="ctt_dose" placeholder="i.e. 50%" data-provide="typeahead">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="ctt_start_date" class="col-xs-4 control-label">Dates</label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control input-sm" id="ctt_start_date" placeholder="MM/DD/YYYY">
                        </div>
                        <div class="col-xs-1">
                            &mdash;
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control input-sm" id="ctt_end_date" placeholder="MM/DD/YYYY">
                        </div>
                    </div>
                    <!--<div class="form-group form-group-sm">
                        <label for="ctt_side_effects" class="col-xs-4 control-label">Side Effects Experienced</label>
                        <div class="col-xs-8" id="ctt_side_effects_div"></div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-xs-offset-4 col-xs-8">
                            <input type="text" class="form-control input-sm" id="ctt_side_effects" placeholder="i.e. Fatigue" data-provide="typeahead">
                        </div>
                    </div>-->
                    <div class="form-group form-group-sm">
                        <label for="ctt_doctor" class="col-xs-4 control-label">Doctor</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="ctt_doctor" placeholder="i.e. Dr. Jorge Freire" data-provide="typeahead">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="ctt_notes" class="col-xs-4 control-label">Note</label>
                        <div class="col-xs-8">
                            <textarea rows="3" class="form-control input-sm" id="ctt_notes"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" id="add-chemotherapy-treatment">Save</button>
                <button type="button" class="btn btn-default" id="remove-chemotherapy-treatment">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="surgery-treatment-form" tabindex="-1" role="dialog" aria-labelledby="stFormTitle" init_flag="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="stFormTitle">Surgery Treatment Form</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-condensed" role="form">
                    <div class="form-group form-group-sm has-error has-feedback" id="si_st_div">
                        <label for="si_st" class="col-xs-4 control-label">Surgery</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="si_st" placeholder="i.e. Lumpectomy" data-provide="typeahead">
                            <span class="glyphicon glyphicon-remove form-control-feedback" id="si_st_icon"></span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="si_date" class="col-xs-4 control-label">Date</label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control input-sm" id="si_date" placeholder="MM/DD/YYYY">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="si_region" class="col-xs-4 control-label">Region Treated</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="si_region" placeholder="i.e. Left breast" data-provide="typeahead">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="si_doctor" class="col-xs-4 control-label">Doctor</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="si_doctor" placeholder="i.e. Dr. Jorge Freire" data-provide="typeahead">
                        </div>
                    </div>
                    <!--<div class="form-group form-group-sm">
                        <label for="si_side_effects" class="col-xs-4 control-label">Side Effects Experienced</label>
                        <div class="col-xs-8" id="si_side_effects_div"></div>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-xs-offset-4 col-xs-8">
                            <input type="text" class="form-control input-sm" id="si_side_effects" placeholder="i.e. Fatigue" data-provide="typeahead">
                        </div>
                    </div>-->
                    <div class="form-group form-group-sm">
                        <label for="si_notes" class="col-xs-4 control-label">Note</label>
                        <div class="col-xs-8">
                            <textarea rows="3" class="form-control input-sm" id="si_notes"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" id="add-surgery-treatment">Save</button>
                <button type="button" class="btn btn-default" id="remove-surgery-treatment">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="validate_dialog" tabindex="-1" role="dialog" init_flag="0">
    <div class="modal-dialog modal-vertical-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">Are you sure you want to validate this user?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="validate_yes">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
   </div>
</div>

<div class="modal" id="invalidate_dialog" tabindex="-1" role="dialog" init_flag="0">
    <div class="modal-dialog modal-vertical-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">Are you sure you want to unvalidate this user?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="invalidate_yes">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
   </div>
</div>


<div class="modal" id="follow-up-concern-form" tabindex="-1" role="dialog" aria-labelledby="fupConcernFormTitle" init_flag="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="fupConcernFormTitle">Concern Form</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-condensed" role="form">
                    <div class="form-group form-group-sm has-error has-feedback" id="fup_cc_concern_div">
                        <label for="fup_cc_concern" class="col-xs-4 control-label">Concern</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="fup_cc_concern" placeholder="i.e. Fertility">
                            <span class="glyphicon glyphicon-remove form-control-feedback" id="fup_cc_concern_icon"></span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="fup_cc_action_plan" class="col-xs-4 control-label">Next Step</label>
                        <div class="col-xs-8">
                        	<textarea rows="3" class="form-control input-sm" id="fup_cc_action_plan" placeholder="i.e. Research Fertility Options"></textarea>
<!--                             <input type="text" class="form-control input-sm" id="fup_cc_action_plan" placeholder="i.e. Research Fertility Options"> -->
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="fup_cc_notes" class="col-xs-4 control-label">Note</label>
                        <div class="col-xs-8">
                            <textarea rows="3" class="form-control input-sm" id="fup_cc_notes"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" id="save-fup-concern">Save</button>
                <button type="button" class="btn btn-default" id="remove-fup-concern">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="follow-up-goal-form" tabindex="-1" role="dialog" aria-labelledby="fupGoalFormTitle" init_flag="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="fupGoalFormTitle">Goal Form</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-condensed" role="form">
                    <div class="form-group form-group-sm has-error has-feedback" id="fup_gl_goal_div">
                        <label for="fup_gl_goal" class="col-xs-4 control-label">Goal</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="fup_gl_goal" placeholder="i.e. Lose 5 lbs. of weight">
                            <span class="glyphicon glyphicon-remove form-control-feedback" id="fup_gl_goal_icon"></span>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="fup_gl_action_plan" class="col-xs-4 control-label">Next Step</label>
                        <div class="col-xs-8">
<!--                        <input type="text" class="form-control input-sm" id="fup_gl_action_plan" placeholder="i.e. Eat smaller portions, shop for healthier food options"> -->
                            <textarea rows="3" class="form-control input-sm" id="fup_gl_action_plan" placeholder="i.e. Eat smaller portions, shop for healthier food options"></textarea>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="fup_gl_goal_deadline" class="col-xs-4 control-label">Goal Start Date</label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control input-sm" id="fup_gl_goal_deadline" placeholder="MM-DD-YYYY">
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="fup_gl_notes" class="col-xs-4 control-label">Note</label>
                        <div class="col-xs-8">
                            <textarea rows="3" class="form-control input-sm" id="fup_gl_notes"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" id="save-fup-goal">Save</button>
                <button type="button" class="btn btn-default" id="remove-fup-goal">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="follow-up-care-item-form" tabindex="-1" role="dialog" aria-labelledby="fupCIFormTitle" init_flag="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="fupCIFormTitle">Care Item Form</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-condensed" role="form">
                    <div class="form-group form-group-sm has-error has-feedback" id="fup_ci_activity_div">
                        <label for="fup_ci_activity" class="col-xs-4 control-label">Activity</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="fup_ci_activity" placeholder="i.e. Breast Self-Exam">
                            <span class="glyphicon glyphicon-remove form-control-feedback" id="fup_ci_activity_icon"></span>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="fup_ci_frequency" class="col-xs-4 control-label">Frequency</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="fup_ci_frequency" placeholder="i.e. Monthly">
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="fup_ci_end_date" class="col-xs-4 control-label">End Date</label>
                        <div class="col-xs-3">
                            <input type="text" class="form-control input-sm" id="fup_ci_end_date" placeholder="MM-DD-YYYY">
                        </div>
                        <div class="col-xs-1">
                            or
                        </div>
                        <div>
                            <label class="col-xs-3">
                                <input type="checkbox" id="fup_ci_ongoing"> Ongoing
                            </label>
					    </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="fup_ci_purpose" class="col-xs-4 control-label">Purpose</label>
                        <div class="col-xs-8">
                        	<textarea class="form-control input-sm" id="fup_ci_purpose" placeholder="i.e. Search for lumps and changes in breast"></textarea>
<!--                             <input type="text" > -->
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="fup_ci_doctor" class="col-xs-4 control-label">Doctor</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control input-sm" id="fup_ci_doctor" placeholder="i.e. Dr. Jorge Freire">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" id="save-fup-careitem">Save</button>
                <button type="button" class="btn btn-default" id="remove-fup-careitem">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="patient-info-form" tabindex="-1" role="dialog" aria-labelledby="patient-info-title" init-form="no">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="patient-info-title">Edit Info</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-condensed" role="form">
                    <div class="form-group form-group-sm">
                        <label for="dob" class="col-xs-5 control-label">Date of Birth</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control input-sm" id="dob" placeholder="MM/DD/YYYY">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="phone" class="col-xs-5 control-label">Phone</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control input-sm" id="phone">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="ec1name" class="col-xs-5 control-label">Support Contact</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control input-sm" id="ec1name">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="ec1number" class="col-xs-5 control-label">Support Contact Phone</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control input-sm" id="ec1number">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" id="save-patient-info">Save</button>                
            </div>
        </div>
    </div>
</div>



<div class="modal" id="follow-up-care-item-template" tabindex="-1" role="dialog" aria-labelledby="fupCIFormTitle" init_flag="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="fupCIFormTitle">Follow-up Template</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-condensed" role="form">
                    <div class="form-group form-group-sm has-error has-feedback" id="fup_cc_template_div">
                        <label for="fup_ci_doctor" class="col-xs-4 control-label">Select Template</label>
                        <div class="col-xs-8">
                            <select class="form-control input-sm" id="fup_ci_template_dis" >
                            	<option value="">Select disease template</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" id="save-fup-template">Save</button>
            </div>
        </div>
    </div>
</div>

#{set distressToolopenFromCare: 'yes' /}
#{set updateBy: expertDetail.user.id /}
#{set patientId: patientId /}
#{distressModal /}

<!-- ------------------------ All Care Team Modal-Templates Here  [END] ------------------------------- -->

<script>
(function($){
  var todayDate;
  var lastLogin;
  $(document).ready(function(){
	  
	  
	  $('body').on('click', '.fa-info-circle', function() {
		  
		  var type = $(this).data("type");
			var title = $(this).data("title");
			
			if(type != null && $.trim(type) == '') {
				type = 'data';
			}
		  
		  if(title != null && $.trim(title) != '') {
				if(type == 'link') {
					var win = window.open($.trim(title), "TVRH Navigator", "scrollbars=yes,height=700,width=1000" );
// 					var win = window.open('/static/window?url='+$.trim(title), "TVRH Navigator", "scrollbars=yes,height=700,width=1000" );
					win.focus();
				} else {
					bootbox.alert($.trim(title), null);
				}
			}
// 			bootbox.alert($(this).data("title"), null);
			
		});
	  
    todayDate = $('.today-date');
//     lastLogin = $('#time-ago');

    todayDate.html($.datepicker.formatDate('DD m/d/yy', new Date()));
//     lastLogin.html($.datepicker.formatDate('m/d/yy h:m a', new Date()));
//     lastLogin.timeago();

// 	var d = moment(lastLogin.html(), 'YYYY-MM-DD h:m A');
//     lastLogin.html(d.format('M/D/YYYY h:m A'));
  });
})(jQuery);



      // gonna have to refactor the below.
      <!--
      /*
      $(document).ready(function() {

        $('body').on('click', 'li.disabled', function() {
          $('#myModal').modal();
        });
        var slider_range = $(".progress-bar");
        var slider_range_max_amount = $(".slider-range-max-amount");
        slider_range.slider({
          range:  "min",
          min: 0,
          max: 100,
          value: 10,
          step: 1,
          slide: function( event, ui ) {
            slider_range_max_amount.val( ui.value );
          }
        }).each(function() {
          var vals = 10;
          for (var i = 0; i <= vals; i++) {
            var el = $('<label>' + (i * 10) + '</label>').css('left', (i/vals*100) + '%');
            $(this).append(el);
          }
        });

        #{ set newsLetterPopup = session.get("newsletterDisplayed") /}
        #{ if newsLetterPopup == null  }
        #{set session.put("newsletterDisplayed","0") /}
        #{/if}
        #{elseif newsLetterPopup.equals("0")}
        #{set session.put("newsletterDisplayed","1") /}
        #{/elseif}
        #{ if session.get("newsletterDisplayed") == "0"}
        $("#distress").modal();
        #{/if}
      });
      */
  -->
</script>

<script type='text/javascript' src="/public/js/patient/distressMeter.js"></script>
#{ googleAnalytics /}
</body>
</html>
