<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:og="http://ogp.me/ns#"
xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <meta name="author" content="TalkAboutHealth" />
  <meta name="robots" content="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="@{'/public/img/favicon.ico'}" />
  <title>Care : TAH Navigator</title>
  <link href="/public/css/styles.less" rel="stylesheet/less" />
  <link href="/public/css/care/styles.less" rel="stylesheet/less" />
  <script src="/public/js/lib/less-1.7.4.min.js"></script>
  <script src="/public/js/lib/handlebars-v1.3.0.js"></script>

  <!--End Container-->
  <script src="/public/plugins/jquery/jquery-2.1.0.min.js"></script>
  <script src="/public/plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="/public/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="/public/plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
  <script src="/public/plugins/tinymce/tinymce.min.js"></script>
  <script src="/public/plugins/tinymce/jquery.tinymce.min.js"></script>
  <script src="/public/plugins/timeago/jquery.timeago.js"></script>
  <script src="/public/js/validator.min.js"></script>
  <script src="/public/js/devoops.js"></script>
  <script src="/public/plugins/tooltipster-master/js/jquery.tooltipster.min.js"></script>
  <script src="/public/js/care/fixtures.js"></script>
</head>









<body class="care">

  <div class="wrapper">
    <div class="header">
      <div class="logo">
        <img src="/public/images/moffitt-logo.png"  />
      </div><!-- logo -->
      <div class="account">
        <div class="account-container">
          <div class="account-info">
            <div class="account-image">
              <img src="@{Image.show(user.id)}" />
            </div>
            <div class="account-data">
              <p class="today-date">Thusday 4/24/2014</p>
              <h3>#{userName userName: user.name, userId:user.id /}</h3>
              <p class="last-login">Last Login: <span id="time-ago">${session.get("lastLoginTime")}</span></p>
            </div>
          </div><!-- account-info -->

          <div class="account-actions">
            <ul>
              <li>
                <a href="#"  data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="@{Patient.setting()}"><i class="fa fa-spinner"></i><span class="hidden-sm text">Profile Image [Test]</span></a></li>
                  <li><a href="@{Patient.profile()}"><i class="fa fa-inbox"></i><span class="hidden-sm text">Edit Communication Preferences</span></a></li>
                  <li><a href="@{Patient.editContact()}"><i class="fa fa-user"></i><span class="hidden-sm text">Edit Contact's</span></a></li>
                  <li><a href="@{Patient.password()}"><i class="fa fa-lock"></i><span class="hidden-sm text">Edit password</span></a></li>
                </ul>
              </li>
              <li><a href="/logout"><i class="fa fa-power-off"></i></a></li>
            </ul>
            <nav class="navbar2 navbar-default" role="navigation">
              <div style=" text-align: center;width: 30px;margin-top: 25px;">
                <a type="button" style="cursor: pointer;position: relative;" data-toggle="collapse" data-target="#example-navbar-collapse">
                  <i class="fa fa-bars"></i>
                </a>
              </div>
              <div style=" height: 1px;overflow-x: hidden;" id="example-navbar-collapse">
                <div class="menu">
                  <ul class="nav navbar-nav">
                    <li><a href="javaScript:distressMeter()"><i class="fa fa-sort-numeric-desc"></i></a></li>
                    <!--                  <li><a href="#" class="active"><i class="fa fa-bell"></i><span class="coun-n">2</span></a></li> -->
                    <!--                  <li> <a href="#"><i class="fa fa-pencil"></i></a></li> -->
                    <li><a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="@{Patient.setting()}"><i class="fa fa-spinner"></i><span class="hidden-sm text"></span></a></li>
                        <li><a href="@{Patient.profile()}"><i class="fa fa-inbox"></i><span class="hidden-sm text"></span></a></li>
                        <li><a href="@{Patient.editContact()}"><i class="fa fa-user"></i><span class="hidden-sm text"></span></a></li>
                        <li><a href="@{Patient.password()}"><i class="fa fa-lock"></i><span class="hidden-sm text"></span></a></li>
                      </ul>
                    </li>
                    <li><a href="/logout"><i class="fa fa-power-off"></i></a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div><!-- account-container -->

      </div><!-- account -->





    </div><!-- header -->
    <div class="body">
      <div class="sidebar">
        <ul class="nav main-menu">
          <li>
            #{if pageType == 'dashboard'}<a href="#" class="active">#{/if}
            #{elseif pageType == 'patient1'}<a href="@{Care.index()}" class="active">#{/elseif}
            #{else}<a href="@{Care.index()}">#{/else}
            <i class="fa fa-inverse fa-user"></i>
            <span class="hidden-xs">Patient Dashboard</span>
          </a>
        </li>
        <!--
        <li class="dropdown">
          #{if pageType == 'report'}<a href="#" class="active">#{/if}
          #{else}<a href="@{Care.report()}">#{/else}
          <i class="fa fa-bar-chart-o"></i>
          <span class="hidden-xs">Patient Reports</span>
        </a>
      </li>-->
    </ul>
  </div><!-- nav -->
  <div class="content">
    #{doLayout /}
  </div><!-- content -->
</div><!-- body -->
</div><!-- wrapper -->
















<script>
(function($){
  var todayDate;
  var lastLogin;
  $(document).ready(function(){
    todayDate = $('.today-date');
    lastLogin = $('.last-login span');

    todayDate.html($.datepicker.formatDate('DD mm/dd/yy', new Date()));
    lastLogin.timeago();
  });
})(jQuery);



      // gonna have to refactor the below.
      <!--
      $(document).ready(function() {

        $('body').on('click', 'li.disabled', function() {
          $('#myModal').modal();
        });
        var slider_range = $(".progress-bar");
        var slider_range_max_amount = $(".slider-range-max-amount");
        slider_range.slider({
          range:  "min",
          min: 0,
          max: 100,
          value: 10,
          step: 1,
          slide: function( event, ui ) {
            slider_range_max_amount.val( ui.value );
          }
        }).each(function() {
          var vals = 10;
          for (var i = 0; i <= vals; i++) {
            var el = $('<label>' + (i * 10) + '</label>').css('left', (i/vals*100) + '%');
            $(this).append(el);
          }
        });

        #{ set newsLetterPopup = session.get("newsletterDisplayed") /}
        #{ if newsLetterPopup == null  }
        #{set session.put("newsletterDisplayed","0") /}
        #{/if}
        #{elseif newsLetterPopup.equals("0")}
        #{set session.put("newsletterDisplayed","1") /}
        #{/elseif}
        #{ if session.get("newsletterDisplayed") == "0"}
        $("#distress").modal();
        #{/if}
      });
  -->
</script>
</body>
</html>
